@using umbraco_assignment.Interfaces
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IBaseContentModel>


@{
    var title = Model.CurrentPage.StartPage.Name;
}

<header data-bs-theme="dark">
    <nav class="navbar navbar-expand-md my-navbar fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">GAFFELN&GLASET</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">@Html.Raw(title)</a>
                    </li>
                </ul>
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-globe icon-margin"></i>
                    <a class="nav-link" href="/sv" id="sv-link">SV</a>
                    <span class="mx-1">|</span>
                    <a class="nav-link" href="/en" id="en-link">EN</a>
                </div>
                @using (Html.BeginUmbracoForm("SearchRestaurants", "SearchSurface", FormMethod.Post, new { @class = "d-flex align-items-center", @id = "search-form" }))
                {
                    <div class="input-group search-box">
                        <input class="form-control search-input" id="searchQuery" name="query" type="search" placeholder="Search" aria-label="Search">
                        <button class="input-group-text search-button" type="submit">
                            <i class="fas fa-search"></i> <!-- Magnifying glass icon -->
                        </button>
                    </div>
                }
            </div>
        </div>
    </nav>
</header>