<?xml version="1.0" encoding="utf-8"?>
<Media Key="1c1363b0-0f1a-452a-9dab-54c445bbd4fd" Alias="0A6n1xZ.jpeg" Level="2">
  <Info>
    <Parent Key="b3e08727-6ff2-46da-bdb3-62469f58b396">Restaurang ART</Parent>
    <Path>/RestaurangART/A6n1xZjpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T14:59:17</CreateDate>
    <NodeName Default="0A6n1xZ.jpeg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/h4uflktt/0a6n1xz.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>