<?xml version="1.0" encoding="utf-8"?>
<Media Key="c247e01f-729d-41d7-a07a-b10974583427" Alias="1.jpg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/jpg</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-21T12:11:24</CreateDate>
    <NodeName Default="1.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/savac3hu/1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>