<?xml version="1.0" encoding="utf-8"?>
<Media Key="db714d56-b91c-4304-aa65-f016cd4bbd29" Alias="1.jpg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/jpg</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-20T18:34:54</CreateDate>
    <NodeName Default="1.jpg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1gddo1lv/1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>