<?xml version="1.0" encoding="utf-8"?>
<Media Key="1b097eee-0f28-41cf-a4e8-f23e83167f52" Alias="1.png" Level="2">
  <Info>
    <Parent Key="1c7d7bea-c77d-45c2-8d2d-c8937798b3c1">Grus grus</Parent>
    <Path>/GrusGrus/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-28T09:44:44</CreateDate>
    <NodeName Default="1.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mg0e5lkb/1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>