<?xml version="1.0" encoding="utf-8"?>
<Media Key="847b41b9-27d0-4e27-bf52-a1e7bba066e6" Alias="1.png (3)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/png3</Path>
    <Trashed Parent="327e7a42-22b8-4982-ae9a-1aa9e2796a81">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:05:48</CreateDate>
    <NodeName Default="1.png (3)" />
    <SortOrder>58</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/g0fd0mvz/1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>