<?xml version="1.0" encoding="utf-8"?>
<Media Key="35b99be0-5717-4b53-9f9a-b6863741b718" Alias="1.png" Level="102">
  <Info>
    <Parent Key="d143fb00-58e6-481d-8ee0-46201cf0b2a0">Prinsen</Parent>
    <Path>/[-21]/Prinsen/png</Path>
    <Trashed Parent="d143fb00-58e6-481d-8ee0-46201cf0b2a0">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T19:50:57</CreateDate>
    <NodeName Default="1.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/n3ip5a14/1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>