<?xml version="1.0" encoding="utf-8"?>
<Media Key="a4fa2ca3-00c4-4e37-b10d-6ffe2c52638f" Alias="1.png" Level="2">
  <Info>
    <Parent Key="0b9bcb37-d4be-4b8f-b952-d28a0193f2e2">Tyge &amp; Sessil</Parent>
    <Path>/TygeSessil/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-28T09:43:49</CreateDate>
    <NodeName Default="1.png" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fttlyevn/1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>