<?xml version="1.0" encoding="utf-8"?>
<Media Key="9a23d3cf-63a6-4bbf-b7f0-8ea44b13b4ac" Alias="1.png" Level="2">
  <Info>
    <Parent Key="10c6ea53-e9c8-4706-bed3-f461fe4683aa">Stallmästaregården</Parent>
    <Path>/Stallmastaregarden/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:00:32</CreateDate>
    <NodeName Default="1.png" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/iamhklgp/1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>