<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5231a51-8127-46b6-b32d-9baab9a05b95" Alias="1.png" Level="2">
  <Info>
    <Parent Key="db0fb593-3132-475d-82a1-d3ff8d70d812">Savant</Parent>
    <Path>/Savant/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-28T09:30:57</CreateDate>
    <NodeName Default="1.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/11igke0o/1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>