<?xml version="1.0" encoding="utf-8"?>
<Media Key="af24a86c-aa1d-462d-a71c-6e88ad04c08f" Alias="1.png" Level="2">
  <Info>
    <Parent Key="cd2cac3c-6e8d-4020-9e1f-91c9b9ea1545">Mascadetbaren</Parent>
    <Path>/Mascadetbaren/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-28T09:41:03</CreateDate>
    <NodeName Default="1.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2nrgeglu/1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>