<?xml version="1.0" encoding="utf-8"?>
<Media Key="08468ac5-4c91-4755-a815-b4aea2e9206c" Alias="1.png" Level="2">
  <Info>
    <Parent Key="9d7e9746-4212-44fb-9232-c2a3f9a12e99">Riche</Parent>
    <Path>/Riche/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:06:58</CreateDate>
    <NodeName Default="1.png" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jjaabpxy/1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>