<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c2a9cfe-223d-4b66-90fc-1d5822278874" Alias="1.webp" Level="2">
  <Info>
    <Parent Key="cd2cac3c-6e8d-4020-9e1f-91c9b9ea1545">Mascadetbaren</Parent>
    <Path>/Mascadetbaren/webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T09:51:35</CreateDate>
    <NodeName Default="1.webp" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/oflgz0su/1.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>