<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b35c3ea-2d02-40e5-bcc1-06b65ff38579" Alias="1.webp" Level="2">
  <Info>
    <Parent Key="84fe7416-08dc-4d62-a42d-c1528b996ee9">Gemla vinbar</Parent>
    <Path>/GemlaVinbar/webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T09:48:54</CreateDate>
    <NodeName Default="1.webp" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/muehhpll/1.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>