<?xml version="1.0" encoding="utf-8"?>
<Media Key="db87c64b-26a0-4273-a2a7-4ebcbd8fbbc7" Alias="1.webp" Level="2">
  <Info>
    <Parent Key="43b1d4b7-d06a-42f6-a6de-68cd9959db8f">Ambar</Parent>
    <Path>/Ambar/webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T09:46:36</CreateDate>
    <NodeName Default="1.webp" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/yqgmc1oj/1.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>