<?xml version="1.0" encoding="utf-8"?>
<Media Key="b31a6fb5-4bda-4801-82ad-18250860f0b1" Alias="1.webp" Level="2">
  <Info>
    <Parent Key="db0fb593-3132-475d-82a1-d3ff8d70d812">Savant</Parent>
    <Path>/Savant/webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T09:29:13</CreateDate>
    <NodeName Default="1.webp" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hksfybnt/1.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>