<?xml version="1.0" encoding="utf-8"?>
<Media Key="74bb187b-fcba-4ce4-b6cd-a39ecf426438" Alias="10.png" Level="102">
  <Info>
    <Parent Key="77475978-9a33-4213-9d22-0aaed7a5fc46">Hasselbacken</Parent>
    <Path>/[-21]/Hasselbacken/png</Path>
    <Trashed Parent="77475978-9a33-4213-9d22-0aaed7a5fc46">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:03:11</CreateDate>
    <NodeName Default="10.png" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4tjp1qwt/10.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>