<?xml version="1.0" encoding="utf-8"?>
<Media Key="c4dcd5bc-9e3d-481e-8776-bca29b96cf08" Alias="10.png (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/png1</Path>
    <Trashed Parent="376f53d6-87fd-49cf-8036-e5b1a4c6441b">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:01:54</CreateDate>
    <NodeName Default="10.png (1)" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gmpju2su/10.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>