<?xml version="1.0" encoding="utf-8"?>
<Media Key="cffd26b0-6f3d-4362-bc77-ec9e3e0afb75" Alias="11.png" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/png</Path>
    <Trashed Parent="376f53d6-87fd-49cf-8036-e5b1a4c6441b">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:01:55</CreateDate>
    <NodeName Default="11.png" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/h5wlw4ku/11.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>