<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d44c966-541a-4e3c-a4d1-808404545add" Alias="12.png" Level="102">
  <Info>
    <Parent Key="77475978-9a33-4213-9d22-0aaed7a5fc46">Hasselbacken</Parent>
    <Path>/[-21]/Hasselbacken/png</Path>
    <Trashed Parent="77475978-9a33-4213-9d22-0aaed7a5fc46">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:03:12</CreateDate>
    <NodeName Default="12.png" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3ebbfc1t/12.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>