<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f3323c9-8823-49fd-bed4-f1b424f96b11" Alias="12.png (3)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/png3</Path>
    <Trashed Parent="64efd5c5-10e4-49de-a935-7ed3410239f8">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:16:43</CreateDate>
    <NodeName Default="12.png (3)" />
    <SortOrder>76</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/i1uhl4kk/12.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>