<?xml version="1.0" encoding="utf-8"?>
<Media Key="21b8e9fd-3248-4ac6-a5ac-b9996f8692ca" Alias="12.png" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/png</Path>
    <Trashed Parent="376f53d6-87fd-49cf-8036-e5b1a4c6441b">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:01:56</CreateDate>
    <NodeName Default="12.png" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/oirp3fzb/12.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>