<?xml version="1.0" encoding="utf-8"?>
<Media Key="4c948545-4e49-43ca-9968-a257dca61aa5" Alias="13.png" Level="2">
  <Info>
    <Parent Key="37a27296-ee44-4875-a70e-cd7462bcbf47">Hasselbacken</Parent>
    <Path>/Hasselbacken/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:04:22</CreateDate>
    <NodeName Default="13.png" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zjhnf4ra/13.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>