<?xml version="1.0" encoding="utf-8"?>
<Media Key="2516b4ce-efbd-47f0-ab18-4210c43a2648" Alias="14.png" Level="2">
  <Info>
    <Parent Key="327e7a42-22b8-4982-ae9a-1aa9e2796a81">Sturehof</Parent>
    <Path>/Sturehof/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:05:46</CreateDate>
    <NodeName Default="14.png" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/if5fbe4u/14.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>