<?xml version="1.0" encoding="utf-8"?>
<Media Key="86a531c9-a51f-4488-9cb1-f06268892816" Alias="16.png (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/png1</Path>
    <Trashed Parent="327e7a42-22b8-4982-ae9a-1aa9e2796a81">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:05:47</CreateDate>
    <NodeName Default="16.png (1)" />
    <SortOrder>56</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/i13pgmdw/16.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>