<?xml version="1.0" encoding="utf-8"?>
<Media Key="804de25f-acf7-4173-8ea9-7337ceefec0b" Alias="16.png" Level="2">
  <Info>
    <Parent Key="376f53d6-87fd-49cf-8036-e5b1a4c6441b">Ulla Winbladh</Parent>
    <Path>/UllaWinbladh/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:01:59</CreateDate>
    <NodeName Default="16.png" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0auawnu4/16.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>