<?xml version="1.0" encoding="utf-8"?>
<Media Key="b536e922-edb4-4b34-a897-d8845287772a" Alias="1grusgrus.webp" Level="2">
  <Info>
    <Parent Key="1c7d7bea-c77d-45c2-8d2d-c8937798b3c1">Grus grus</Parent>
    <Path>/GrusGrus/grusgruswebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-14T11:38:53</CreateDate>
    <NodeName Default="1grusgrus.webp" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vurhaa43/1grusgrus.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>