<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d4bf089-9bd0-4cdf-aafa-75780159a13b" Alias="2.jpg" Level="2">
  <Info>
    <Parent Key="b4438df8-1f56-4183-a2af-88b72ee2c0f4">Tennstopet</Parent>
    <Path>/Tennstopet/jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T19:59:29</CreateDate>
    <NodeName Default="2.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ay3a0o3z/2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>