<?xml version="1.0" encoding="utf-8"?>
<Media Key="6eb5938d-08ed-4ac0-bdc9-aa2f7a847e18" Alias="2.jpg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/jpg</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-20T18:34:58</CreateDate>
    <NodeName Default="2.jpg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ajmphwee/2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>