<?xml version="1.0" encoding="utf-8"?>
<Media Key="313df954-7370-464e-a5b6-830d4195a05c" Alias="2.png" Level="2">
  <Info>
    <Parent Key="cd2cac3c-6e8d-4020-9e1f-91c9b9ea1545">Mascadetbaren</Parent>
    <Path>/Mascadetbaren/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-28T09:41:04</CreateDate>
    <NodeName Default="2.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1mzhxbyz/2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>