<?xml version="1.0" encoding="utf-8"?>
<Media Key="df758319-3de8-402b-94f1-f8fe3600ef32" Alias="2.png" Level="2">
  <Info>
    <Parent Key="10c6ea53-e9c8-4706-bed3-f461fe4683aa">Stallmästaregården</Parent>
    <Path>/Stallmastaregarden/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:00:26</CreateDate>
    <NodeName Default="2.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/szedg0mb/2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>