<?xml version="1.0" encoding="utf-8"?>
<Media Key="c241f796-f938-4d3e-8213-2e04dc764a35" Alias="2.png" Level="2">
  <Info>
    <Parent Key="376f53d6-87fd-49cf-8036-e5b1a4c6441b">Ulla Winbladh</Parent>
    <Path>/UllaWinbladh/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:01:48</CreateDate>
    <NodeName Default="2.png" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/de4bo3cr/2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>