<?xml version="1.0" encoding="utf-8"?>
<Media Key="496e18f9-1b73-4531-bc29-ac10ba31d8c7" Alias="2.png" Level="2">
  <Info>
    <Parent Key="43b1d4b7-d06a-42f6-a6de-68cd9959db8f">Ambar</Parent>
    <Path>/Ambar/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-28T09:39:49</CreateDate>
    <NodeName Default="2.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/o1jcr5y0/2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>