<?xml version="1.0" encoding="utf-8"?>
<Media Key="7e4fcf00-d929-48ef-8dd6-8b781e3e4aed" Alias="2.png" Level="2">
  <Info>
    <Parent Key="37a27296-ee44-4875-a70e-cd7462bcbf47">Hasselbacken</Parent>
    <Path>/Hasselbacken/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:04:24</CreateDate>
    <NodeName Default="2.png" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/r2cbtsca/2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>