<?xml version="1.0" encoding="utf-8"?>
<Media Key="29ecd2e0-3ff2-4c8e-9627-e410728f9949" Alias="2.png" Level="2">
  <Info>
    <Parent Key="db0fb593-3132-475d-82a1-d3ff8d70d812">Savant</Parent>
    <Path>/Savant/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-28T09:30:37</CreateDate>
    <NodeName Default="2.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/n2mkvh21/2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>