<?xml version="1.0" encoding="utf-8"?>
<Media Key="d41dd43a-76b9-4c80-a191-cfa209cc85e8" Alias="2.png" Level="2">
  <Info>
    <Parent Key="84fe7416-08dc-4d62-a42d-c1528b996ee9">Gemla vinbar</Parent>
    <Path>/GemlaVinbar/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-28T09:37:44</CreateDate>
    <NodeName Default="2.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wupfwywq/2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>