<?xml version="1.0" encoding="utf-8"?>
<Media Key="97ad9603-c656-428a-99ff-c882d3c67c3b" Alias="2.webp" Level="2">
  <Info>
    <Parent Key="cd2cac3c-6e8d-4020-9e1f-91c9b9ea1545">Mascadetbaren</Parent>
    <Path>/Mascadetbaren/webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T09:52:00</CreateDate>
    <NodeName Default="2.webp" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rroowij5/2.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>