<?xml version="1.0" encoding="utf-8"?>
<Media Key="578d7afa-bb25-472d-b043-901fb3a5c0ac" Alias="2.webp" Level="2">
  <Info>
    <Parent Key="43b1d4b7-d06a-42f6-a6de-68cd9959db8f">Ambar</Parent>
    <Path>/Ambar/webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T09:46:41</CreateDate>
    <NodeName Default="2.webp" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/owymxykm/2.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>