<?xml version="1.0" encoding="utf-8"?>
<Media Key="daf29b28-dae0-4b25-9333-4154f068b3e3" Alias="2.webp" Level="2">
  <Info>
    <Parent Key="2ad291e4-b5c7-403d-9c4b-2f2f211be3b3">Vineriet</Parent>
    <Path>/Vineriet/webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T09:22:45</CreateDate>
    <NodeName Default="2.webp" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/u3ili1ej/2.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>