<?xml version="1.0" encoding="utf-8"?>
<Media Key="4387038d-cda8-47ea-8078-b29706eb3f40" Alias="2.webp" Level="2">
  <Info>
    <Parent Key="db0fb593-3132-475d-82a1-d3ff8d70d812">Savant</Parent>
    <Path>/Savant/webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T09:29:21</CreateDate>
    <NodeName Default="2.webp" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/alend3ob/2.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>