<?xml version="1.0" encoding="utf-8"?>
<Media Key="5bc54739-b380-45ba-af52-68f3d5cc76ac" Alias="2fmps9v.jpeg" Level="2">
  <Info>
    <Parent Key="f0e23083-2a64-462e-8582-726b0c2605b2">Gaia</Parent>
    <Path>/Gaia/fmps9vjpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:42:40</CreateDate>
    <NodeName Default="2fmps9v.jpeg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/w0gjh1pj/2fmps9v.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>