<?xml version="1.0" encoding="utf-8"?>
<Media Key="9e83f1eb-6857-4693-8e82-2f9ed312474d" Alias="2grusgrus.webp" Level="2">
  <Info>
    <Parent Key="1c7d7bea-c77d-45c2-8d2d-c8937798b3c1">Grus grus</Parent>
    <Path>/GrusGrus/grusgruswebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-14T11:39:03</CreateDate>
    <NodeName Default="2grusgrus.webp" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mq3nkkb4/2grusgrus.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>