<?xml version="1.0" encoding="utf-8"?>
<Media Key="c368169e-26cf-4227-8c71-fa8c69cee9dc" Alias="3.jpg" Level="2">
  <Info>
    <Parent Key="b4438df8-1f56-4183-a2af-88b72ee2c0f4">Tennstopet</Parent>
    <Path>/Tennstopet/jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T19:59:29</CreateDate>
    <NodeName Default="3.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/choc23ng/3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>