<?xml version="1.0" encoding="utf-8"?>
<Media Key="5ecbe4e3-a7fe-48ba-be41-797e3d2464fc" Alias="3.jpg (2)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/jpg2</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-20T19:40:36</CreateDate>
    <NodeName Default="3.jpg (2)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/nqxi10ex/3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>