<?xml version="1.0" encoding="utf-8"?>
<Media Key="307f9426-d8d8-4d23-9f95-f5c98c84f504" Alias="3.jpg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/jpg</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-20T18:35:00</CreateDate>
    <NodeName Default="3.jpg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vfpdtbvr/3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>