<?xml version="1.0" encoding="utf-8"?>
<Media Key="11fc661b-34e0-4e94-9953-f7dcbe3c9d4b" Alias="3.jpg (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/jpg1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-20T19:40:25</CreateDate>
    <NodeName Default="3.jpg (1)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/sswlvj2j/3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>