<?xml version="1.0" encoding="utf-8"?>
<Media Key="68be4771-c3c5-420d-9643-62893abe533b" Alias="3.png" Level="2">
  <Info>
    <Parent Key="84fe7416-08dc-4d62-a42d-c1528b996ee9">Gemla vinbar</Parent>
    <Path>/GemlaVinbar/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-28T09:37:47</CreateDate>
    <NodeName Default="3.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/50gprxvm/3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>