<?xml version="1.0" encoding="utf-8"?>
<Media Key="090a7951-a665-4f8a-afa7-0a4be1a72024" Alias="3.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-21T10:43:19</CreateDate>
    <NodeName Default="3.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/10zfzpym/3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>