<?xml version="1.0" encoding="utf-8"?>
<Media Key="44e1b512-5c93-4ada-9deb-a43a0c1eef6a" Alias="3.png" Level="2">
  <Info>
    <Parent Key="cd2cac3c-6e8d-4020-9e1f-91c9b9ea1545">Mascadetbaren</Parent>
    <Path>/Mascadetbaren/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-28T09:41:05</CreateDate>
    <NodeName Default="3.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/tv5lp2x0/3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>