<?xml version="1.0" encoding="utf-8"?>
<Media Key="60376e85-e6e6-43e7-997c-3f35f4c172c9" Alias="3.png" Level="2">
  <Info>
    <Parent Key="db0fb593-3132-475d-82a1-d3ff8d70d812">Savant</Parent>
    <Path>/Savant/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-28T09:31:01</CreateDate>
    <NodeName Default="3.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bkshdvup/3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>