<?xml version="1.0" encoding="utf-8"?>
<Media Key="24f49ba9-56ac-4abd-9f7e-fc5ba4a261d1" Alias="3.png" Level="2">
  <Info>
    <Parent Key="5c57f5d6-3306-4eab-b7f0-91660a8e5550">Ninja bar</Parent>
    <Path>/NinjaBar/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-28T09:46:52</CreateDate>
    <NodeName Default="3.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ezilfewf/3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>