<?xml version="1.0" encoding="utf-8"?>
<Media Key="bea1d5a4-d09e-4648-8610-7faac7d1adfd" Alias="3.png" Level="2">
  <Info>
    <Parent Key="10c6ea53-e9c8-4706-bed3-f461fe4683aa">Stallmästaregården</Parent>
    <Path>/Stallmastaregarden/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:00:26</CreateDate>
    <NodeName Default="3.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fmppochx/3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>