<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1d684c2-5ea8-4895-883d-c0ca0eceafbf" Alias="3.webp" Level="2">
  <Info>
    <Parent Key="43b1d4b7-d06a-42f6-a6de-68cd9959db8f">Ambar</Parent>
    <Path>/Ambar/webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T09:46:47</CreateDate>
    <NodeName Default="3.webp" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jvhjav4b/3.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>