<?xml version="1.0" encoding="utf-8"?>
<Media Key="c7f66798-f144-46be-81d7-74e29f3cc9ad" Alias="3.webp" Level="2">
  <Info>
    <Parent Key="db0fb593-3132-475d-82a1-d3ff8d70d812">Savant</Parent>
    <Path>/Savant/webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T09:29:24</CreateDate>
    <NodeName Default="3.webp" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/c4wla2jn/3.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>