<?xml version="1.0" encoding="utf-8"?>
<Media Key="a207d0cc-7b3c-42b5-bcdc-f313459e741d" Alias="3.webp" Level="2">
  <Info>
    <Parent Key="2ad291e4-b5c7-403d-9c4b-2f2f211be3b3">Vineriet</Parent>
    <Path>/Vineriet/webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T09:22:50</CreateDate>
    <NodeName Default="3.webp" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/imnecfcv/3.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>