<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb6470f5-e184-4ced-b8cb-839a34126317" Alias="3.webp" Level="2">
  <Info>
    <Parent Key="5c57f5d6-3306-4eab-b7f0-91660a8e5550">Ninja bar</Parent>
    <Path>/NinjaBar/webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T09:39:10</CreateDate>
    <NodeName Default="3.webp" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/pk3ce5pn/3.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>