<?xml version="1.0" encoding="utf-8"?>
<Media Key="44850901-9876-4a3c-9814-36e5c1ea3a5d" Alias="31QjLtq.jpeg" Level="2">
  <Info>
    <Parent Key="3b041783-4833-4b99-a66b-f949701ab17c">Paraden</Parent>
    <Path>/Paraden/QjLtqjpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:30:09</CreateDate>
    <NodeName Default="31QjLtq.jpeg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/r1bnh2q5/31qjltq.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>