<?xml version="1.0" encoding="utf-8"?>
<Media Key="92143e79-9c3e-4428-96cf-b649fc131640" Alias="3grusgrus.webp" Level="2">
  <Info>
    <Parent Key="1c7d7bea-c77d-45c2-8d2d-c8937798b3c1">Grus grus</Parent>
    <Path>/GrusGrus/grusgruswebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-14T11:39:09</CreateDate>
    <NodeName Default="3grusgrus.webp" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/410fejcx/3grusgrus.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>