<?xml version="1.0" encoding="utf-8"?>
<Media Key="91526e88-ef99-4aaa-bf3a-73af18a8802a" Alias="3rYkeiP.jpeg" Level="2">
  <Info>
    <Parent Key="3b041783-4833-4b99-a66b-f949701ab17c">Paraden</Parent>
    <Path>/Paraden/rYkeiPjpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:30:12</CreateDate>
    <NodeName Default="3rYkeiP.jpeg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/a4sbij5q/3rykeip.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>