<?xml version="1.0" encoding="utf-8"?>
<Media Key="fc6f5753-8b83-40ab-839e-798ccbe206b8" Alias="4.jpg (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/jpg1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-20T19:40:25</CreateDate>
    <NodeName Default="4.jpg (1)" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1sodssxk/4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>