<?xml version="1.0" encoding="utf-8"?>
<Media Key="de0c057c-fcc3-45c1-9bfe-39236bb7835b" Alias="4.jpg" Level="102">
  <Info>
    <Parent Key="d143fb00-58e6-481d-8ee0-46201cf0b2a0">Prinsen</Parent>
    <Path>/[-21]/Prinsen/jpg</Path>
    <Trashed Parent="d143fb00-58e6-481d-8ee0-46201cf0b2a0">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T19:50:58</CreateDate>
    <NodeName Default="4.jpg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4phfu0fk/4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>