<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd62b21c-8f20-4088-a716-933b17aa9ceb" Alias="4.jpg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/jpg</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-20T18:35:02</CreateDate>
    <NodeName Default="4.jpg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/sn2cic0j/4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>