<?xml version="1.0" encoding="utf-8"?>
<Media Key="67085651-2ccd-4a92-bf47-b11b236e2db4" Alias="4.png" Level="2">
  <Info>
    <Parent Key="84fe7416-08dc-4d62-a42d-c1528b996ee9">Gemla vinbar</Parent>
    <Path>/GemlaVinbar/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-28T09:37:50</CreateDate>
    <NodeName Default="4.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/10oe3une/4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>