<?xml version="1.0" encoding="utf-8"?>
<Media Key="556f749f-2f4f-4b56-a1fc-fa095b249c09" Alias="4.png" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/png</Path>
    <Trashed Parent="10c6ea53-e9c8-4706-bed3-f461fe4683aa">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:00:27</CreateDate>
    <NodeName Default="4.png" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cc5ctyzg/4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>