<?xml version="1.0" encoding="utf-8"?>
<Media Key="70b4487f-5204-4c9f-abbf-43f8c60456f0" Alias="4.png (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/png1</Path>
    <Trashed Parent="2ad291e4-b5c7-403d-9c4b-2f2f211be3b3">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T09:22:54</CreateDate>
    <NodeName Default="4.png (1)" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4cbpfrtn/4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>