<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c0f47c1-072f-45cc-af4b-ac4f064ffe1d" Alias="4.png" Level="2">
  <Info>
    <Parent Key="5ca93d3f-b4f4-43b4-94ea-adc6253a21fd">Vina</Parent>
    <Path>/Vina/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-28T09:45:33</CreateDate>
    <NodeName Default="4.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/j0gftssg/4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>