<?xml version="1.0" encoding="utf-8"?>
<Media Key="10110208-03ed-4c7d-97da-8b0cc7ebe0aa" Alias="4.png" Level="2">
  <Info>
    <Parent Key="cd2cac3c-6e8d-4020-9e1f-91c9b9ea1545">Mascadetbaren</Parent>
    <Path>/Mascadetbaren/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-28T09:41:06</CreateDate>
    <NodeName Default="4.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/q5efpjue/4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>