<?xml version="1.0" encoding="utf-8"?>
<Media Key="a3fa2ff8-8eec-4175-9a13-7062ee81ff93" Alias="4.png" Level="2">
  <Info>
    <Parent Key="0b9bcb37-d4be-4b8f-b952-d28a0193f2e2">Tyge &amp; Sessil</Parent>
    <Path>/TygeSessil/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-28T09:43:45</CreateDate>
    <NodeName Default="4.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/o5slyfmf/4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>