<?xml version="1.0" encoding="utf-8"?>
<Media Key="59a8b485-bb47-484a-8a75-0a544083a673" Alias="4.png" Level="2">
  <Info>
    <Parent Key="1c7d7bea-c77d-45c2-8d2d-c8937798b3c1">Grus grus</Parent>
    <Path>/GrusGrus/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-28T09:44:41</CreateDate>
    <NodeName Default="4.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bj5o31zo/4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>