<?xml version="1.0" encoding="utf-8"?>
<Media Key="f77a4ee9-366a-47ec-921a-6cf5b05cd442" Alias="4.png" Level="2">
  <Info>
    <Parent Key="db0fb593-3132-475d-82a1-d3ff8d70d812">Savant</Parent>
    <Path>/Savant/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-28T09:31:15</CreateDate>
    <NodeName Default="4.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/m0cdyqid/4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>