<?xml version="1.0" encoding="utf-8"?>
<Media Key="57fe320b-7ebd-46b8-b3e5-cc71da0093cc" Alias="4.png (2)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/png2</Path>
    <Trashed Parent="37a27296-ee44-4875-a70e-cd7462bcbf47">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:04:16</CreateDate>
    <NodeName Default="4.png (2)" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qt2lryou/4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>