<?xml version="1.0" encoding="utf-8"?>
<Media Key="5874d09c-69f4-4044-b44a-0734f460bbcb" Alias="4.png" Level="2">
  <Info>
    <Parent Key="9d7e9746-4212-44fb-9232-c2a3f9a12e99">Riche</Parent>
    <Path>/Riche/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:06:52</CreateDate>
    <NodeName Default="4.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cmndf1u3/4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>