<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec0d07b2-caa4-4942-a909-b0dd0faa15dc" Alias="4.png" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/png</Path>
    <Trashed Parent="b4438df8-1f56-4183-a2af-88b72ee2c0f4">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T19:59:30</CreateDate>
    <NodeName Default="4.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hxgfwwwn/4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>