<?xml version="1.0" encoding="utf-8"?>
<Media Key="1b7685e1-ea32-4a82-b815-11bef436b235" Alias="4.webp" Level="2">
  <Info>
    <Parent Key="84fe7416-08dc-4d62-a42d-c1528b996ee9">Gemla vinbar</Parent>
    <Path>/GemlaVinbar/webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T09:48:59</CreateDate>
    <NodeName Default="4.webp" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/nzhdblk1/4.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>