<?xml version="1.0" encoding="utf-8"?>
<Media Key="8cc47e5d-9da0-4d50-9c15-69a5c1e40eee" Alias="4.webp" Level="2">
  <Info>
    <Parent Key="43b1d4b7-d06a-42f6-a6de-68cd9959db8f">Ambar</Parent>
    <Path>/Ambar/webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T09:46:51</CreateDate>
    <NodeName Default="4.webp" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0k0ieowj/4.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>