<?xml version="1.0" encoding="utf-8"?>
<Media Key="0bcf4daa-6a00-4197-be04-fe1771c8b57b" Alias="4.webp" Level="2">
  <Info>
    <Parent Key="2ad291e4-b5c7-403d-9c4b-2f2f211be3b3">Vineriet</Parent>
    <Path>/Vineriet/webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T09:26:08</CreateDate>
    <NodeName Default="4.webp" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ewdjtplj/4.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>