<?xml version="1.0" encoding="utf-8"?>
<Media Key="e62a494c-11ce-4140-8cc4-e690c20fa4c0" Alias="4.webp" Level="2">
  <Info>
    <Parent Key="db0fb593-3132-475d-82a1-d3ff8d70d812">Savant</Parent>
    <Path>/Savant/webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T09:29:31</CreateDate>
    <NodeName Default="4.webp" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/yobhyufh/4.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>