<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae3f9f6a-ad0f-45f6-816b-0517c1c16e83" Alias="4.webp" Level="2">
  <Info>
    <Parent Key="cd2cac3c-6e8d-4020-9e1f-91c9b9ea1545">Mascadetbaren</Parent>
    <Path>/Mascadetbaren/webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T09:51:59</CreateDate>
    <NodeName Default="4.webp" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2vkhsgdg/4.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>