<?xml version="1.0" encoding="utf-8"?>
<Media Key="245c0f6e-1ce8-4750-b902-d0909666adbf" Alias="404" Level="2">
  <Info>
    <Parent Key="3ce18bc2-e2bf-402f-b77a-e7cd38b48e8f">Slideshow</Parent>
    <Path>/Slideshow/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-05T23:36:33</CreateDate>
    <NodeName Default="404" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/2hcbveub/cook-said-oops-no-food-available-illustration-download-in-svg-png-gif-file-formats-online-ordering-service-and-delivery-pack-e-commerce-shopping-illustrations-1784257.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>