<?xml version="1.0" encoding="utf-8"?>
<Media Key="533cc50c-a221-4c03-a73f-bd71a5b9af38" Alias="5.jpg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/jpg</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-20T19:40:24</CreateDate>
    <NodeName Default="5.jpg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qmhhvzki/5.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>