<?xml version="1.0" encoding="utf-8"?>
<Media Key="fed32ed9-cd03-4d23-8f46-68fea4e3968f" Alias="5.png" Level="2">
  <Info>
    <Parent Key="37a27296-ee44-4875-a70e-cd7462bcbf47">Hasselbacken</Parent>
    <Path>/Hasselbacken/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:04:17</CreateDate>
    <NodeName Default="5.png" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/k1sjksdk/5.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>