<?xml version="1.0" encoding="utf-8"?>
<Media Key="43a882a4-bed1-462d-8f34-d82828f0fc2e" Alias="5.png (5)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/png5</Path>
    <Trashed Parent="64efd5c5-10e4-49de-a935-7ed3410239f8">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:16:48</CreateDate>
    <NodeName Default="5.png (5)" />
    <SortOrder>83</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fneo33ny/5.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>