<?xml version="1.0" encoding="utf-8"?>
<Media Key="f500faf7-0822-47e0-8459-595dd800edd4" Alias="5.png" Level="2">
  <Info>
    <Parent Key="0b9bcb37-d4be-4b8f-b952-d28a0193f2e2">Tyge &amp; Sessil</Parent>
    <Path>/TygeSessil/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-28T09:43:47</CreateDate>
    <NodeName Default="5.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/payemq0l/5.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>