<?xml version="1.0" encoding="utf-8"?>
<Media Key="546d9f26-dc6c-412c-a304-ae42c8a18bb5" Alias="5.png (3)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/png3</Path>
    <Trashed Parent="327e7a42-22b8-4982-ae9a-1aa9e2796a81">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:05:39</CreateDate>
    <NodeName Default="5.png (3)" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vfkdxyqf/5.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>