<?xml version="1.0" encoding="utf-8"?>
<Media Key="2f398f51-3404-41c0-a307-985b3c1576c8" Alias="5.png" Level="2">
  <Info>
    <Parent Key="376f53d6-87fd-49cf-8036-e5b1a4c6441b">Ulla Winbladh</Parent>
    <Path>/UllaWinbladh/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:01:51</CreateDate>
    <NodeName Default="5.png" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1zch5gln/5.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>