<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e0aeb92-222f-4b4c-98db-93d36148d0b2" Alias="5.png" Level="2">
  <Info>
    <Parent Key="db0fb593-3132-475d-82a1-d3ff8d70d812">Savant</Parent>
    <Path>/Savant/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-28T09:31:19</CreateDate>
    <NodeName Default="5.png" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/duqfz4cg/5.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>