<?xml version="1.0" encoding="utf-8"?>
<Media Key="fed32ed9-cd03-4d23-8f46-68fea4e3968f" Alias="5.png (2)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/png2</Path>
    <Trashed Parent="37a27296-ee44-4875-a70e-cd7462bcbf47">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:04:17</CreateDate>
    <NodeName Default="5.png (2)" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/k1sjksdk/5.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>