<?xml version="1.0" encoding="utf-8"?>
<Media Key="546d9f26-dc6c-412c-a304-ae42c8a18bb5" Alias="5.png" Level="2">
  <Info>
    <Parent Key="327e7a42-22b8-4982-ae9a-1aa9e2796a81">Sturehof</Parent>
    <Path>/Sturehof/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:05:39</CreateDate>
    <NodeName Default="5.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vfkdxyqf/5.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>