<?xml version="1.0" encoding="utf-8"?>
<Media Key="5bece0dd-f28a-4ab6-8a1e-2815e635799a" Alias="5.png" Level="2">
  <Info>
    <Parent Key="10c6ea53-e9c8-4706-bed3-f461fe4683aa">Stallmästaregården</Parent>
    <Path>/Stallmastaregarden/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:00:28</CreateDate>
    <NodeName Default="5.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/kivkv1pd/5.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>