<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c8213e0-dea2-49e9-b4e6-aba8c6d51ae9" Alias="5.webp" Level="2">
  <Info>
    <Parent Key="db0fb593-3132-475d-82a1-d3ff8d70d812">Savant</Parent>
    <Path>/Savant/webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T09:29:34</CreateDate>
    <NodeName Default="5.webp" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/n5mnjswl/5.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>