<?xml version="1.0" encoding="utf-8"?>
<Media Key="230843ef-51a2-4d04-89d2-565603be0c73" Alias="5.webp" Level="2">
  <Info>
    <Parent Key="43b1d4b7-d06a-42f6-a6de-68cd9959db8f">Ambar</Parent>
    <Path>/Ambar/webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T09:46:55</CreateDate>
    <NodeName Default="5.webp" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mcef3fol/5.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>