<?xml version="1.0" encoding="utf-8"?>
<Media Key="a8029e9b-5c05-4f72-8ec9-0855aae3d82e" Alias="5.webp" Level="2">
  <Info>
    <Parent Key="cd2cac3c-6e8d-4020-9e1f-91c9b9ea1545">Mascadetbaren</Parent>
    <Path>/Mascadetbaren/webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T09:51:59</CreateDate>
    <NodeName Default="5.webp" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/crkeihtm/5.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>