<?xml version="1.0" encoding="utf-8"?>
<Media Key="5be2f65e-b80c-4277-89e5-99de282e17d6" Alias="5.webp" Level="2">
  <Info>
    <Parent Key="5ca93d3f-b4f4-43b4-94ea-adc6253a21fd">Vina</Parent>
    <Path>/Vina/webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T09:33:18</CreateDate>
    <NodeName Default="5.webp" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0e4kj1lf/5.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>