<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6b9a418-c7fe-430f-92a0-915418401777" Alias="5pG0cAz.jpeg" Level="2">
  <Info>
    <Parent Key="b3e08727-6ff2-46da-bdb3-62469f58b396">Restaurang ART</Parent>
    <Path>/RestaurangART/pG0cAzjpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T14:59:21</CreateDate>
    <NodeName Default="5pG0cAz.jpeg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/s3xp4qex/5pg0caz.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>