<?xml version="1.0" encoding="utf-8"?>
<Media Key="1b426d15-8958-4f73-909c-0edf7719f86d" Alias="5yCPNIq.jpeg" Level="2">
  <Info>
    <Parent Key="9840f851-79e8-4df0-9b4b-b61a455dc069">Kvarnen</Parent>
    <Path>/Kvarnen/yCPNIqjpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:33:20</CreateDate>
    <NodeName Default="5yCPNIq.jpeg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/tktbjljr/5ycpniq.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>