<?xml version="1.0" encoding="utf-8"?>
<Media Key="344ec449-8d8c-4ebe-b678-9a7c4f4397f8" Alias="6.png" Level="2">
  <Info>
    <Parent Key="cd2cac3c-6e8d-4020-9e1f-91c9b9ea1545">Mascadetbaren</Parent>
    <Path>/Mascadetbaren/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-28T09:41:09</CreateDate>
    <NodeName Default="6.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/yyharaxf/6.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>