<?xml version="1.0" encoding="utf-8"?>
<Media Key="c1dba9fd-3af0-4089-b175-8027ab150e3c" Alias="6.png" Level="2">
  <Info>
    <Parent Key="0b9bcb37-d4be-4b8f-b952-d28a0193f2e2">Tyge &amp; Sessil</Parent>
    <Path>/TygeSessil/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-28T09:43:48</CreateDate>
    <NodeName Default="6.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ojrj032z/6.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>