<?xml version="1.0" encoding="utf-8"?>
<Media Key="310f4475-d2cb-4513-867d-293efb61c69d" Alias="6.png" Level="2">
  <Info>
    <Parent Key="84fe7416-08dc-4d62-a42d-c1528b996ee9">Gemla vinbar</Parent>
    <Path>/GemlaVinbar/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-28T09:38:07</CreateDate>
    <NodeName Default="6.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5khetb3c/6.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>