<?xml version="1.0" encoding="utf-8"?>
<Media Key="6d76f84a-b160-49f4-8c7a-9ebcd96b170e" Alias="6.png" Level="2">
  <Info>
    <Parent Key="37a27296-ee44-4875-a70e-cd7462bcbf47">Hasselbacken</Parent>
    <Path>/Hasselbacken/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:04:18</CreateDate>
    <NodeName Default="6.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/yuzdbwyj/6.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>