<?xml version="1.0" encoding="utf-8"?>
<Media Key="845f9735-b76b-49ea-92ac-b48e48f16b85" Alias="6.png (4)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/png4</Path>
    <Trashed Parent="9d7e9746-4212-44fb-9232-c2a3f9a12e99">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:06:54</CreateDate>
    <NodeName Default="6.png (4)" />
    <SortOrder>62</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xjobsmqc/6.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>