<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe41bc26-99c7-4cb2-b8ce-e21402b1dacd" Alias="6.png" Level="2">
  <Info>
    <Parent Key="43b1d4b7-d06a-42f6-a6de-68cd9959db8f">Ambar</Parent>
    <Path>/Ambar/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-28T09:39:45</CreateDate>
    <NodeName Default="6.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vf1aosfo/6.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>