<?xml version="1.0" encoding="utf-8"?>
<Media Key="3ca5ed96-7c20-4e73-8b4e-6f64152a2b6d" Alias="6.png" Level="102">
  <Info>
    <Parent Key="d143fb00-58e6-481d-8ee0-46201cf0b2a0">Prinsen</Parent>
    <Path>/[-21]/Prinsen/png</Path>
    <Trashed Parent="d143fb00-58e6-481d-8ee0-46201cf0b2a0">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T19:50:59</CreateDate>
    <NodeName Default="6.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/detphcsj/6.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>