<?xml version="1.0" encoding="utf-8"?>
<Media Key="fde37d10-5904-479e-9ef0-e42f61bc8899" Alias="6.webp" Level="2">
  <Info>
    <Parent Key="43b1d4b7-d06a-42f6-a6de-68cd9959db8f">Ambar</Parent>
    <Path>/Ambar/webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T09:46:58</CreateDate>
    <NodeName Default="6.webp" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/t41lks1n/6.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>