<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab4429e6-658e-46a6-9476-380d452af8ca" Alias="6.webp" Level="2">
  <Info>
    <Parent Key="db0fb593-3132-475d-82a1-d3ff8d70d812">Savant</Parent>
    <Path>/Savant/webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T09:29:38</CreateDate>
    <NodeName Default="6.webp" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/nhrbehph/6.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>