<?xml version="1.0" encoding="utf-8"?>
<Media Key="11bc50cd-18c3-475b-999b-d82857d40c13" Alias="6.webp" Level="2">
  <Info>
    <Parent Key="84fe7416-08dc-4d62-a42d-c1528b996ee9">Gemla vinbar</Parent>
    <Path>/GemlaVinbar/webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T09:49:04</CreateDate>
    <NodeName Default="6.webp" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/iknpvj3k/6.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>