<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd47eefa-bac5-4097-a3e6-791038cb748c" Alias="7.jpg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/jpg</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-20T19:40:25</CreateDate>
    <NodeName Default="7.jpg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ousac43m/7.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>