<?xml version="1.0" encoding="utf-8"?>
<Media Key="52a02df5-6f05-4634-9ceb-6ffbca1c8bd5" Alias="7.jpg (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/jpg1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-20T19:40:36</CreateDate>
    <NodeName Default="7.jpg (1)" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/pltpnzdm/7.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>