<?xml version="1.0" encoding="utf-8"?>
<Media Key="91ba0670-e529-4e80-a458-817ef8d525fd" Alias="7.png" Level="2">
  <Info>
    <Parent Key="20d4032e-d872-4ef4-a472-0875b4c35320">Categories</Parent>
    <Path>/Categories/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-23T09:49:49</CreateDate>
    <NodeName Default="7.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/55gpyj0a/7.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>