<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a1a5bba-50fd-4b47-b992-0dc4dce03792" Alias="7.png" Level="2">
  <Info>
    <Parent Key="db0fb593-3132-475d-82a1-d3ff8d70d812">Savant</Parent>
    <Path>/Savant/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-28T09:31:28</CreateDate>
    <NodeName Default="7.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gwifz5eu/7.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>