<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f31e15f-e944-403a-bac8-eb4bb91fd3fd" Alias="7.png" Level="2">
  <Info>
    <Parent Key="327e7a42-22b8-4982-ae9a-1aa9e2796a81">Sturehof</Parent>
    <Path>/Sturehof/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:05:40</CreateDate>
    <NodeName Default="7.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0avhpcjn/7.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>