<?xml version="1.0" encoding="utf-8"?>
<Media Key="f1441a2d-1240-4784-b5c2-c541ce2c871e" Alias="7.png" Level="2">
  <Info>
    <Parent Key="2ad291e4-b5c7-403d-9c4b-2f2f211be3b3">Vineriet</Parent>
    <Path>/Vineriet/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-30T14:52:20</CreateDate>
    <NodeName Default="7.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/uliaerzj/7.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>