<?xml version="1.0" encoding="utf-8"?>
<Media Key="62bff59a-5495-4acd-9dc8-59720417ad1f" Alias="7.png" Level="2">
  <Info>
    <Parent Key="10c6ea53-e9c8-4706-bed3-f461fe4683aa">Stallmästaregården</Parent>
    <Path>/Stallmastaregarden/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:00:29</CreateDate>
    <NodeName Default="7.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cu5ptvh2/7.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>