<?xml version="1.0" encoding="utf-8"?>
<Media Key="e13488bd-8aca-49b6-832f-fb54c5f056c4" Alias="7.webp" Level="2">
  <Info>
    <Parent Key="cd2cac3c-6e8d-4020-9e1f-91c9b9ea1545">Mascadetbaren</Parent>
    <Path>/Mascadetbaren/webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T09:52:00</CreateDate>
    <NodeName Default="7.webp" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gjbhev3d/7.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>