<?xml version="1.0" encoding="utf-8"?>
<Media Key="9dc3b53a-624e-4762-a938-28e2285b998e" Alias="7W2tVAd.jpeg" Level="2">
  <Info>
    <Parent Key="c2dce8b8-75e9-4700-997e-6e8d855d26de">Bar Agrikultur</Parent>
    <Path>/BarAgrikultur/W2tVAdjpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:36:29</CreateDate>
    <NodeName Default="7W2tVAd.jpeg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wv5jkkzh/7w2tvad.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>