<?xml version="1.0" encoding="utf-8"?>
<Media Key="3fc0fd61-255d-4aca-8a1c-c94ad799db5e" Alias="8.jpg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/jpg</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-20T19:40:25</CreateDate>
    <NodeName Default="8.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3y1jncju/8.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>