<?xml version="1.0" encoding="utf-8"?>
<Media Key="90ff284f-ab81-4022-bf17-4fd0fb372c50" Alias="8.jpg (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/jpg1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-20T19:40:37</CreateDate>
    <NodeName Default="8.jpg (1)" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ydrlsjxi/8.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>