<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f9a7a4e-e4c6-49e0-a580-3241d183def2" Alias="8.png" Level="2">
  <Info>
    <Parent Key="37a27296-ee44-4875-a70e-cd7462bcbf47">Hasselbacken</Parent>
    <Path>/Hasselbacken/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:04:19</CreateDate>
    <NodeName Default="8.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ygynzsnp/8.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>