<?xml version="1.0" encoding="utf-8"?>
<Media Key="a20535fa-6a95-49eb-ae40-134fb03ad764" Alias="8.png" Level="2">
  <Info>
    <Parent Key="327e7a42-22b8-4982-ae9a-1aa9e2796a81">Sturehof</Parent>
    <Path>/Sturehof/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:05:41</CreateDate>
    <NodeName Default="8.png" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ox5fgfh2/8.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>