<?xml version="1.0" encoding="utf-8"?>
<Media Key="e150d926-7c38-4569-9586-c2c6d4191551" Alias="8.png" Level="2">
  <Info>
    <Parent Key="ad3d3c76-a8bc-4f71-a100-e842ef368b0f">Växthuset</Parent>
    <Path>/Vaxthuset/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-28T09:48:20</CreateDate>
    <NodeName Default="8.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vejbmv0r/8.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>