<?xml version="1.0" encoding="utf-8"?>
<Media Key="be5c9f64-3b0b-40e5-ab33-ab025a643dc8" Alias="8.png (5)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/png5</Path>
    <Trashed Parent="64efd5c5-10e4-49de-a935-7ed3410239f8">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:16:42</CreateDate>
    <NodeName Default="8.png (5)" />
    <SortOrder>72</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3nkbucdc/8.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>