<?xml version="1.0" encoding="utf-8"?>
<Media Key="3ac9ddc1-fff9-449d-9691-0ccb6266b657" Alias="8.png" Level="2">
  <Info>
    <Parent Key="376f53d6-87fd-49cf-8036-e5b1a4c6441b">Ulla Winbladh</Parent>
    <Path>/UllaWinbladh/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:01:53</CreateDate>
    <NodeName Default="8.png" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jylj5deq/8.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>