<?xml version="1.0" encoding="utf-8"?>
<Media Key="a351469f-294a-41f8-9425-3f0dd98106d6" Alias="8.png" Level="2">
  <Info>
    <Parent Key="10c6ea53-e9c8-4706-bed3-f461fe4683aa">Stallmästaregården</Parent>
    <Path>/Stallmastaregarden/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:00:30</CreateDate>
    <NodeName Default="8.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ccgbofjd/8.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>