<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b6a4953-8190-4015-888a-c4feab321093" Alias="8mfP9ph.jpeg" Level="2">
  <Info>
    <Parent Key="fa74a306-4e82-4b66-9ccc-9d0b9b88beeb">Racamaca</Parent>
    <Path>/Racamaca/mfP9phjpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:46:19</CreateDate>
    <NodeName Default="8mfP9ph.jpeg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1sbdzxpz/8mfp9ph.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>