<?xml version="1.0" encoding="utf-8"?>
<Media Key="4958c919-ffc2-4cbc-9e31-aa1c73535c7f" Alias="8NiF5mc.jpeg" Level="2">
  <Info>
    <Parent Key="3b041783-4833-4b99-a66b-f949701ab17c">Paraden</Parent>
    <Path>/Paraden/NiF5mcjpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:30:08</CreateDate>
    <NodeName Default="8NiF5mc.jpeg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/sybb353l/8nif5mc.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>