<?xml version="1.0" encoding="utf-8"?>
<Media Key="e0b4f355-9841-408a-9741-d395c4705f9d" Alias="9.png" Level="2">
  <Info>
    <Parent Key="9d7e9746-4212-44fb-9232-c2a3f9a12e99">Riche</Parent>
    <Path>/Riche/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:06:56</CreateDate>
    <NodeName Default="9.png" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1i2pevri/9.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>