<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c5db996-1fc9-4d0e-8fb7-4219604a3224" Alias="9.png" Level="2">
  <Info>
    <Parent Key="37a27296-ee44-4875-a70e-cd7462bcbf47">Hasselbacken</Parent>
    <Path>/Hasselbacken/png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T20:04:20</CreateDate>
    <NodeName Default="9.png" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dfzbwova/9.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>