<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2d537c0-55c8-4ff0-8e15-f6cb6fca2a2f" Alias="adam.4" Level="2">
  <Info>
    <Parent Key="1e7ea445-29e5-4991-8bde-1c53721a3420">Adam/Albin</Parent>
    <Path>/AdamAlbin/adam4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-30T12:45:23</CreateDate>
    <NodeName Default="adam.4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/j54jgffb/image_4224.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>