<?xml version="1.0" encoding="utf-8"?>
<Media Key="424f8ac1-59d2-4346-a74f-3953998ff779" Alias="adam.3" Level="2">
  <Info>
    <Parent Key="1e7ea445-29e5-4991-8bde-1c53721a3420">Adam/Albin</Parent>
    <Path>/AdamAlbin/adam3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-30T12:45:12</CreateDate>
    <NodeName Default="adam.3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/jzaat3f1/image_4222.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>