<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e7ea445-29e5-4991-8bde-1c53721a3420" Alias="Adam/Albin" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AdamAlbin</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-30T12:42:29</CreateDate>
    <NodeName Default="Adam/Albin" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties />
</Media>