<?xml version="1.0" encoding="utf-8"?>
<Media Key="3bdea4e1-3993-420e-a103-eb4b364979a1" Alias="Agrikultur" Level="2">
  <Info>
    <Parent Key="3ce18bc2-e2bf-402f-b77a-e7cd38b48e8f">Slideshow</Parent>
    <Path>/Slideshow/Agrikultur</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-22T18:58:08</CreateDate>
    <NodeName Default="Agrikultur" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/nzxjrdp0/image_4721.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>