<?xml version="1.0" encoding="utf-8"?>
<Media Key="d7e96e03-42da-44d3-8cc8-55d80d640a1f" Alias="Aira.2" Level="2">
  <Info>
    <Parent Key="a8e42338-3dce-4c6f-923d-c256ef29b419">Aira</Parent>
    <Path>/Aira/Aira2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-30T12:21:15</CreateDate>
    <NodeName Default="Aira.2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/rssk4ynt/image_7061.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>