<?xml version="1.0" encoding="utf-8"?>
<Media Key="2f6493f6-5051-4c8d-b4bf-6f591b77648c" Alias="Aira" Level="2">
  <Info>
    <Parent Key="3ce18bc2-e2bf-402f-b77a-e7cd38b48e8f">Slideshow</Parent>
    <Path>/Slideshow/Aira</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-22T18:55:55</CreateDate>
    <NodeName Default="Aira" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/pfmdfgjy/japan-2836904_1280.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>