<?xml version="1.0" encoding="utf-8"?>
<Media Key="a8e42338-3dce-4c6f-923d-c256ef29b419" Alias="Aira" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Aira</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-30T12:18:23</CreateDate>
    <NodeName Default="Aira" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties />
</Media>