<?xml version="1.0" encoding="utf-8"?>
<Media Key="54d7032f-7eaa-4384-bc4f-8436d3d71b8d" Alias="Aira.1" Level="2">
  <Info>
    <Parent Key="a8e42338-3dce-4c6f-923d-c256ef29b419">Aira</Parent>
    <Path>/Aira/Aira1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-30T12:21:01</CreateDate>
    <NodeName Default="Aira.1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/udejdywd/image_7060.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>