<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4c80e77-4036-4c64-9d10-d72a50161479" Alias="Albin_Adam" Level="2">
  <Info>
    <Parent Key="3ce18bc2-e2bf-402f-b77a-e7cd38b48e8f">Slideshow</Parent>
    <Path>/Slideshow/Albin_Adam</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-22T18:46:41</CreateDate>
    <NodeName Default="Albin_Adam" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.404015625,
    "top": 0.5171712158808933
  },
  "crops": [],
  "src": "/media/5dci2qs5/pexels-elevate-1267320.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>