<?xml version="1.0" encoding="utf-8"?>
<Media Key="43b1d4b7-d06a-42f6-a6de-68cd9959db8f" Alias="Ambar" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ambar</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-28T09:39:29</CreateDate>
    <NodeName Default="Ambar" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties />
</Media>