<?xml version="1.0" encoding="utf-8"?>
<Media Key="c278621c-82b8-4462-9ea7-2882b40023ef" Alias="b4AJBbG.jpeg" Level="2">
  <Info>
    <Parent Key="6fe50c3b-8dd8-4267-a9a0-6e7dfa3bb568">Cafe Nizza</Parent>
    <Path>/CafeNizza/b4AJBbGjpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:39:08</CreateDate>
    <NodeName Default="b4AJBbG.jpeg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/soud23gr/b4ajbbg.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>