<?xml version="1.0" encoding="utf-8"?>
<Media Key="58a98133-7c9a-4044-b61b-f92560e35f67" Alias="B90ugHW.jpeg" Level="2">
  <Info>
    <Parent Key="77d8be67-0eaf-4fda-ad3b-213980cf3655">Surfers</Parent>
    <Path>/Surfers/B90ugHWjpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:12:32</CreateDate>
    <NodeName Default="B90ugHW.jpeg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xrfp51xt/b90ughw.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>