<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2dce8b8-75e9-4700-997e-6e8d855d26de" Alias="Bar Agrikultur" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BarAgrikultur</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-11-04T15:20:14</CreateDate>
    <NodeName Default="Bar Agrikultur" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties />
</Media>