<?xml version="1.0" encoding="utf-8"?>
<Media Key="31f1ad62-4da3-483a-a53f-01609e3c8acc" Alias="bf4OzBW.jpeg" Level="2">
  <Info>
    <Parent Key="c2dce8b8-75e9-4700-997e-6e8d855d26de">Bar Agrikultur</Parent>
    <Path>/BarAgrikultur/bf4OzBWjpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:36:29</CreateDate>
    <NodeName Default="bf4OzBW.jpeg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3vtlpb4k/bf4ozbw.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>