<?xml version="1.0" encoding="utf-8"?>
<Media Key="f999412e-edc4-42bb-87a2-97a22042ad1f" Alias="Boteukt.jpeg" Level="2">
  <Info>
    <Parent Key="fa74a306-4e82-4b66-9ccc-9d0b9b88beeb">Racamaca</Parent>
    <Path>/Racamaca/Boteuktjpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:46:19</CreateDate>
    <NodeName Default="Boteukt.jpeg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ugfn4t3n/boteukt.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>