<?xml version="1.0" encoding="utf-8"?>
<Media Key="6fe50c3b-8dd8-4267-a9a0-6e7dfa3bb568" Alias="Cafe Nizza" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/CafeNizza</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-11-04T15:20:25</CreateDate>
    <NodeName Default="Cafe Nizza" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties />
</Media>