<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb704c97-a3d5-4b28-9c4b-db91bf5c70cd" Alias="caption (9).jpg" Level="2">
  <Info>
    <Parent Key="02ce6ee1-67a6-4dc4-92d7-27446e5b9c54">Oaxen Slip</Parent>
    <Path>/OaxenSlip/caption9Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-03T20:59:09</CreateDate>
    <NodeName Default="caption (9).jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dcddmtn2/caption-9.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>