<?xml version="1.0" encoding="utf-8"?>
<Media Key="f9ec41ce-c2c8-41cf-9134-c0dff61884b7" Alias="caption (7).jpg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/caption7Jpg</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-03T20:55:43</CreateDate>
    <NodeName Default="caption (7).jpg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/igflut3b/caption-7.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>