<?xml version="1.0" encoding="utf-8"?>
<Media Key="b481d5af-c73e-4c8f-aa4d-19579373e6d6" Alias="caption (10).jpg" Level="2">
  <Info>
    <Parent Key="b35923e2-0139-4ae6-bf42-3b1121181e24">Wedholms Fisk</Parent>
    <Path>/WedholmsFisk/caption10Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-03T20:59:40</CreateDate>
    <NodeName Default="caption (10).jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/eapnoasx/caption-10.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>