<?xml version="1.0" encoding="utf-8"?>
<Media Key="27611b72-64dd-4d66-8120-a28b073747cc" Alias="caption (8).jpg" Level="2">
  <Info>
    <Parent Key="a8e42338-3dce-4c6f-923d-c256ef29b419">Aira</Parent>
    <Path>/Aira/caption8Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-03T20:57:27</CreateDate>
    <NodeName Default="caption (8).jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5xidpenu/caption-8.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>