<?xml version="1.0" encoding="utf-8"?>
<Media Key="19373530-5695-4215-bc6d-2de8d2ab3d30" Alias="caption (12).jpg" Level="2">
  <Info>
    <Parent Key="1e7ea445-29e5-4991-8bde-1c53721a3420">Adam/Albin</Parent>
    <Path>/AdamAlbin/caption12Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-03T21:03:10</CreateDate>
    <NodeName Default="caption (12).jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/x55hdl52/caption-12.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>