<?xml version="1.0" encoding="utf-8"?>
<Media Key="20d4032e-d872-4ef4-a472-0875b4c35320" Alias="Categories" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Categories</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-23T09:55:37</CreateDate>
    <NodeName Default="Categories" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>