<?xml version="1.0" encoding="utf-8"?>
<Media Key="59c1d645-6cfb-420a-9e28-b007c4d0f7df" Alias="CDKgGOq.jpeg" Level="2">
  <Info>
    <Parent Key="6fe50c3b-8dd8-4267-a9a0-6e7dfa3bb568">Cafe Nizza</Parent>
    <Path>/CafeNizza/CDKgGOqjpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:39:08</CreateDate>
    <NodeName Default="CDKgGOq.jpeg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zioip12s/cdkggoq.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>