<?xml version="1.0" encoding="utf-8"?>
<Media Key="3f5ee3ce-865c-4bb4-8c39-b84dbd5e2582" Alias="cKSPseI.jpeg" Level="2">
  <Info>
    <Parent Key="fa74a306-4e82-4b66-9ccc-9d0b9b88beeb">Racamaca</Parent>
    <Path>/Racamaca/cKSPseIjpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:46:19</CreateDate>
    <NodeName Default="cKSPseI.jpeg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ieubrcjv/ckspsei.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>