<?xml version="1.0" encoding="utf-8"?>
<Media Key="76e37c89-8688-47b1-82ac-ceebd39dfe7e" Alias="DEbM4nj.jpeg" Level="2">
  <Info>
    <Parent Key="77d8be67-0eaf-4fda-ad3b-213980cf3655">Surfers</Parent>
    <Path>/Surfers/DEbM4njjpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:12:33</CreateDate>
    <NodeName Default="DEbM4nj.jpeg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/a01klqhb/debm4nj.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>