<?xml version="1.0" encoding="utf-8"?>
<Media Key="a8556d14-c6b9-44bc-87ae-5e0b773ac26f" Alias="Den gyldene freden" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DenGyldeneFreden</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-20T19:49:12</CreateDate>
    <NodeName Default="Den gyldene freden" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>