<?xml version="1.0" encoding="utf-8"?>
<Media Key="f2ea47d2-21f1-4e85-a761-129b1016c90c" Alias="Den gyldene Freden" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DenGyldeneFreden</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-22T13:23:05</CreateDate>
    <NodeName Default="Den gyldene Freden" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>