<?xml version="1.0" encoding="utf-8"?>
<Media Key="ff91b51e-a9c8-4fd7-8be6-57f7d41c8eb0" Alias="djhf" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/djhf</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-11-04T14:45:45</CreateDate>
    <NodeName Default="djhf" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>