<?xml version="1.0" encoding="utf-8"?>
<Media Key="16482c56-380a-4bc7-9770-0a784da995ce" Alias="Dv0Mdff.jpeg" Level="2">
  <Info>
    <Parent Key="9840f851-79e8-4df0-9b4b-b61a455dc069">Kvarnen</Parent>
    <Path>/Kvarnen/Dv0Mdffjpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:33:21</CreateDate>
    <NodeName Default="Dv0Mdff.jpeg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1hta3idd/dv0mdff.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>