<?xml version="1.0" encoding="utf-8"?>
<Media Key="852f22c5-162f-417b-b968-574f76fdec73" Alias="DxCMLsr.jpeg" Level="2">
  <Info>
    <Parent Key="f0e23083-2a64-462e-8582-726b0c2605b2">Gaia</Parent>
    <Path>/Gaia/DxCMLsrjpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:42:40</CreateDate>
    <NodeName Default="DxCMLsr.jpeg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jlugsm0g/dxcmlsr.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>