<?xml version="1.0" encoding="utf-8"?>
<Media Key="23e2675a-735d-4077-84cc-22ea63473114" Alias="e1iei90.png" Level="2">
  <Info>
    <Parent Key="b3e08727-6ff2-46da-bdb3-62469f58b396">Restaurang ART</Parent>
    <Path>/RestaurangART/e1iei90png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T14:59:25</CreateDate>
    <NodeName Default="e1iei90.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0wwljfju/e1iei90.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>