<?xml version="1.0" encoding="utf-8"?>
<Media Key="05f7e05c-56ce-4af4-9d86-2121833aafd2" Alias="ego.1" Level="2">
  <Info>
    <Parent Key="e63491a1-16fd-4ced-8bf8-e7281047f1c0">Lilla Ego</Parent>
    <Path>/LillaEgo/ego1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-30T12:25:25</CreateDate>
    <NodeName Default="ego.1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/0mvldm3h/image_4463.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>