<?xml version="1.0" encoding="utf-8"?>
<Media Key="14fc38ac-7983-41a5-85c7-7f982374cc54" Alias="EHRuGhW.jpeg" Level="2">
  <Info>
    <Parent Key="c2dce8b8-75e9-4700-997e-6e8d855d26de">Bar Agrikultur</Parent>
    <Path>/BarAgrikultur/EHRuGhWjpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:36:29</CreateDate>
    <NodeName Default="EHRuGhW.jpeg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/epzlvixk/ehrughw.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>