<?xml version="1.0" encoding="utf-8"?>
<Media Key="78123b47-3492-4d0e-a988-9ba94be02471" Alias="ek.1" Level="2">
  <Info>
    <Parent Key="e8fec4e1-8fde-4701-9844-866d6c4a1fb7">Ekstedt</Parent>
    <Path>/Ekstedt/ek1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-30T12:38:26</CreateDate>
    <NodeName Default="ek.1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/zdyfjtx1/image_931.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>