<?xml version="1.0" encoding="utf-8"?>
<Media Key="3097b5bb-6472-47e3-91ad-e62ea13f7ffe" Alias="ek.2" Level="2">
  <Info>
    <Parent Key="e8fec4e1-8fde-4701-9844-866d6c4a1fb7">Ekstedt</Parent>
    <Path>/Ekstedt/ek2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-30T12:38:35</CreateDate>
    <NodeName Default="ek.2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/gr5ndbq1/image_5898.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>