<?xml version="1.0" encoding="utf-8"?>
<Media Key="936c5629-6f73-48fc-9263-66c6fc3449de" Alias="ek.4" Level="2">
  <Info>
    <Parent Key="e8fec4e1-8fde-4701-9844-866d6c4a1fb7">Ekstedt</Parent>
    <Path>/Ekstedt/ek4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-30T12:38:52</CreateDate>
    <NodeName Default="ek.4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/u0ocuji0/image_5378.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>