<?xml version="1.0" encoding="utf-8"?>
<Media Key="e8fec4e1-8fde-4701-9844-866d6c4a1fb7" Alias="Ekstedt" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ekstedt</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-30T12:37:13</CreateDate>
    <NodeName Default="Ekstedt" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties />
</Media>