<?xml version="1.0" encoding="utf-8"?>
<Media Key="62c3b39b-2fc7-4637-adf3-e0985063b7a6" Alias="ffMXXnI.jpeg" Level="2">
  <Info>
    <Parent Key="c2dce8b8-75e9-4700-997e-6e8d855d26de">Bar Agrikultur</Parent>
    <Path>/BarAgrikultur/ffMXXnIjpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:36:29</CreateDate>
    <NodeName Default="ffMXXnI.jpeg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cr2jlvfo/ffmxxni.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>