<?xml version="1.0" encoding="utf-8"?>
<Media Key="6ff4f03e-7022-45a5-8830-16605636de1b" Alias="finedining.png" Level="2">
  <Info>
    <Parent Key="20d4032e-d872-4ef4-a472-0875b4c35320">Categories</Parent>
    <Path>/Categories/finediningpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T09:44:30</CreateDate>
    <NodeName Default="finedining.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/we3lfwkl/finedining.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>