<?xml version="1.0" encoding="utf-8"?>
<Media Key="808dd6c2-3e8c-4e54-9bea-e6c8407fec31" Alias="finediningWEBP.webp" Level="2">
  <Info>
    <Parent Key="20d4032e-d872-4ef4-a472-0875b4c35320">Categories</Parent>
    <Path>/Categories/finediningWEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-11T09:54:41</CreateDate>
    <NodeName Default="finediningWEBP.webp" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/juomwnxf/finediningwebp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>