<?xml version="1.0" encoding="utf-8"?>
<Media Key="beb9df3f-44a8-4472-8ae8-20acf5bcac00" Alias="fisk.4" Level="2">
  <Info>
    <Parent Key="b35923e2-0139-4ae6-bf42-3b1121181e24">Wedholms Fisk</Parent>
    <Path>/WedholmsFisk/fisk4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-30T12:34:13</CreateDate>
    <NodeName Default="fisk.4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/wakp4cgb/wedholms-fisk-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>