<?xml version="1.0" encoding="utf-8"?>
<Media Key="0223910e-8b16-4bba-b1fd-e8561e68af9c" Alias="fisk.2" Level="2">
  <Info>
    <Parent Key="b35923e2-0139-4ae6-bf42-3b1121181e24">Wedholms Fisk</Parent>
    <Path>/WedholmsFisk/fisk2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-30T12:33:51</CreateDate>
    <NodeName Default="fisk.2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/qfnhlnd5/lemon-tart.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>