<?xml version="1.0" encoding="utf-8"?>
<Media Key="c1fa164b-d73d-43f2-a18f-0d4defc4bb56" Alias="fisk.1" Level="2">
  <Info>
    <Parent Key="b35923e2-0139-4ae6-bf42-3b1121181e24">Wedholms Fisk</Parent>
    <Path>/WedholmsFisk/fisk1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-30T12:33:40</CreateDate>
    <NodeName Default="fisk.1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ytoly30u/wedholms-fisk-3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>