<?xml version="1.0" encoding="utf-8"?>
<Media Key="815c6adc-4a4e-47b2-ae7b-4f526af8d345" Alias="fisk.3" Level="2">
  <Info>
    <Parent Key="b35923e2-0139-4ae6-bf42-3b1121181e24">Wedholms Fisk</Parent>
    <Path>/WedholmsFisk/fisk3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-30T12:34:00</CreateDate>
    <NodeName Default="fisk.3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/koqbunzh/wedholms-fisk-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>