<?xml version="1.0" encoding="utf-8"?>
<Media Key="5a55e1d1-e2b1-455d-8952-815d32825d27" Alias="FjNddgU.jpeg" Level="2">
  <Info>
    <Parent Key="9840f851-79e8-4df0-9b4b-b61a455dc069">Kvarnen</Parent>
    <Path>/Kvarnen/FjNddgUjpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:33:21</CreateDate>
    <NodeName Default="FjNddgU.jpeg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lyvbh1gy/fjnddgu.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>