<?xml version="1.0" encoding="utf-8"?>
<Media Key="ffba403f-f070-4647-9af9-451b3a9cfb62" Alias="food.jpg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/foodjpg</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-03T20:53:37</CreateDate>
    <NodeName Default="food.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wcfpysiz/food.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>