<?xml version="1.0" encoding="utf-8"?>
<Media Key="f27557df-4796-4668-9e66-9c058b90da47" Alias="food.jpg" Level="2">
  <Info>
    <Parent Key="dc578c9b-cc8c-421d-8621-c83bdd6d5ad2">Frantzén</Parent>
    <Path>/Frantzen/foodjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-03T20:57:34</CreateDate>
    <NodeName Default="food.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/kcodgrh5/food.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>