<?xml version="1.0" encoding="utf-8"?>
<Media Key="118cc5b6-2236-460c-aafc-e5270047caef" Alias="foto.1" Level="2">
  <Info>
    <Parent Key="9e3e45a4-2dbc-4c90-a1b9-16cac471355d">Fotografiska</Parent>
    <Path>/Fotografiska/foto1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-30T12:41:21</CreateDate>
    <NodeName Default="foto.1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/hehnvj05/image_1529.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>