<?xml version="1.0" encoding="utf-8"?>
<Media Key="ce0f6a5b-e69c-469c-90bb-86d545430b85" Alias="foto.5" Level="2">
  <Info>
    <Parent Key="9e3e45a4-2dbc-4c90-a1b9-16cac471355d">Fotografiska</Parent>
    <Path>/Fotografiska/foto5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-30T12:42:15</CreateDate>
    <NodeName Default="foto.5" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/0sqes4hv/compost-baked-onion-mushromms.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>