<?xml version="1.0" encoding="utf-8"?>
<Media Key="d52a0112-5b7e-40c3-afec-00771a62748d" Alias="foto.2" Level="2">
  <Info>
    <Parent Key="9e3e45a4-2dbc-4c90-a1b9-16cac471355d">Fotografiska</Parent>
    <Path>/Fotografiska/foto2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-30T12:41:32</CreateDate>
    <NodeName Default="foto.2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/txfhyyyx/image_1040.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>