<?xml version="1.0" encoding="utf-8"?>
<Media Key="9e3e45a4-2dbc-4c90-a1b9-16cac471355d" Alias="Fotografiska" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Fotografiska</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-30T12:39:20</CreateDate>
    <NodeName Default="Fotografiska" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties />
</Media>