<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ca7dda4-b83a-4c1f-983f-29706ef61031" Alias="foto.3" Level="2">
  <Info>
    <Parent Key="9e3e45a4-2dbc-4c90-a1b9-16cac471355d">Fotografiska</Parent>
    <Path>/Fotografiska/foto3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-30T12:41:41</CreateDate>
    <NodeName Default="foto.3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/fmlpd4st/late-summer-tomatoes.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>