<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e8466aa-8d1b-4cbe-aac1-bfa494a87bcb" Alias="FpCzX3w.jpeg" Level="2">
  <Info>
    <Parent Key="fa74a306-4e82-4b66-9ccc-9d0b9b88beeb">Racamaca</Parent>
    <Path>/Racamaca/FpCzX3wjpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:46:19</CreateDate>
    <NodeName Default="FpCzX3w.jpeg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ewwmeods/fpczx3w.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>