<?xml version="1.0" encoding="utf-8"?>
<Media Key="624ad34a-4f1e-4a27-980e-fdbbec12a148" Alias="Främmat" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Frammat</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-30T12:34:40</CreateDate>
    <NodeName Default="Främmat" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties />
</Media>