<?xml version="1.0" encoding="utf-8"?>
<Media Key="d1ad8ea6-b8c1-458d-a769-137186d40d22" Alias="frammat (2).jpg" Level="2">
  <Info>
    <Parent Key="624ad34a-4f1e-4a27-980e-fdbbec12a148">Främmat</Parent>
    <Path>/Frammat/frammat2Jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-03T21:00:45</CreateDate>
    <NodeName Default="frammat (2).jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ffcowz3i/frammat-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>