<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee50ad21-3f10-44fa-920e-e8cc585b8229" Alias="främmat.2" Level="2">
  <Info>
    <Parent Key="624ad34a-4f1e-4a27-980e-fdbbec12a148">Främmat</Parent>
    <Path>/Frammat/frammat2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-30T12:36:23</CreateDate>
    <NodeName Default="främmat.2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/vztbmwdz/caption-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>