<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3b84e58-26c4-46b3-be05-1b7494d15fd8" Alias="främmat.3" Level="2">
  <Info>
    <Parent Key="624ad34a-4f1e-4a27-980e-fdbbec12a148">Främmat</Parent>
    <Path>/Frammat/frammat3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-30T12:36:32</CreateDate>
    <NodeName Default="främmat.3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/04cp23nn/caption-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>