<?xml version="1.0" encoding="utf-8"?>
<Media Key="d7f5ba43-3298-4776-acd1-272a7d0b8045" Alias="frantzen.4" Level="2">
  <Info>
    <Parent Key="dc578c9b-cc8c-421d-8621-c83bdd6d5ad2">Frantzén</Parent>
    <Path>/Frantzen/frantzen4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-30T12:23:36</CreateDate>
    <NodeName Default="frantzen.4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/zrylgypr/image_915.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>