<?xml version="1.0" encoding="utf-8"?>
<Media Key="e55968e1-1d62-4755-9c25-4a59db991c0c" Alias="frantzen.1" Level="2">
  <Info>
    <Parent Key="dc578c9b-cc8c-421d-8621-c83bdd6d5ad2">Frantzén</Parent>
    <Path>/Frantzen/frantzen1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-30T12:22:58</CreateDate>
    <NodeName Default="frantzen.1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/n0rb4uyl/image_6220_banner_w949.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>