<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc578c9b-cc8c-421d-8621-c83bdd6d5ad2" Alias="Frantzén" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Frantzen</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-30T12:22:02</CreateDate>
    <NodeName Default="Frantzén" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties />
</Media>