<?xml version="1.0" encoding="utf-8"?>
<Media Key="f11d71cc-c6b1-4dfe-b2d8-b4bb0fa3fdf1" Alias="frantzen.3" Level="2">
  <Info>
    <Parent Key="dc578c9b-cc8c-421d-8621-c83bdd6d5ad2">Frantzén</Parent>
    <Path>/Frantzen/frantzen3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-30T12:23:25</CreateDate>
    <NodeName Default="frantzen.3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/io3fwr4y/image_916.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>