<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f44f465-7b02-4700-a557-c47e939f2ce7" Alias="frantzen.2" Level="2">
  <Info>
    <Parent Key="dc578c9b-cc8c-421d-8621-c83bdd6d5ad2">Frantzén</Parent>
    <Path>/Frantzen/frantzen2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-30T12:23:12</CreateDate>
    <NodeName Default="frantzen.2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/3i5aeoll/image_917.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>