<?xml version="1.0" encoding="utf-8"?>
<Media Key="a79a7727-b2b4-4d3a-9d2c-d1394a7ae408" Alias="FrontIMGhasselbacken.webp" Level="2">
  <Info>
    <Parent Key="37a27296-ee44-4875-a70e-cd7462bcbf47">Hasselbacken</Parent>
    <Path>/Hasselbacken/FrontIMGhasselbackenwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-12T09:29:21</CreateDate>
    <NodeName Default="FrontIMGhasselbacken.webp" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vc4nyeo3/frontimghasselbacken.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>