<?xml version="1.0" encoding="utf-8"?>
<Media Key="3cb49a18-ba0a-4b0d-a2fc-830b87dfaf9a" Alias="FrontIMGgyldene.webp" Level="2">
  <Info>
    <Parent Key="f2ea47d2-21f1-4e85-a761-129b1016c90c">Den gyldene Freden</Parent>
    <Path>/DenGyldeneFreden/FrontIMGgyldenewebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-12T09:17:18</CreateDate>
    <NodeName Default="FrontIMGgyldene.webp" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/s3ipfctd/frontimggyldene.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>