<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5927dcc-e5d3-420c-a470-6765e2f2f29b" Alias="FrontIMGriche.webp" Level="2">
  <Info>
    <Parent Key="9d7e9746-4212-44fb-9232-c2a3f9a12e99">Riche</Parent>
    <Path>/Riche/FrontIMGrichewebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-12T09:33:47</CreateDate>
    <NodeName Default="FrontIMGriche.webp" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/io1nie30/frontimgriche.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>