<?xml version="1.0" encoding="utf-8"?>
<Media Key="a6fddefb-338d-455f-8378-4ae6421480de" Alias="FrontIMGstallmastaregarden.webp" Level="2">
  <Info>
    <Parent Key="10c6ea53-e9c8-4706-bed3-f461fe4683aa">Stallmästaregården</Parent>
    <Path>/Stallmastaregarden/FrontIMGstallmastaregardenwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-12T09:25:14</CreateDate>
    <NodeName Default="FrontIMGstallmastaregarden.webp" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/oqklwehe/frontimgstallmastaregarden.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>