<?xml version="1.0" encoding="utf-8"?>
<Media Key="7dd8cb01-d73f-472d-a4e1-8ed4b2c85caf" Alias="FrontIMGullawinbladh.webp" Level="2">
  <Info>
    <Parent Key="376f53d6-87fd-49cf-8036-e5b1a4c6441b">Ulla Winbladh</Parent>
    <Path>/UllaWinbladh/FrontIMGullawinbladhwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-12T09:27:28</CreateDate>
    <NodeName Default="FrontIMGullawinbladh.webp" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ryaj3s0w/frontimgullawinbladh.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>