<?xml version="1.0" encoding="utf-8"?>
<Media Key="a23e856e-3880-42d7-8a45-5cee5eb63119" Alias="FrontIMGtennstopet.webp" Level="2">
  <Info>
    <Parent Key="b4438df8-1f56-4183-a2af-88b72ee2c0f4">Tennstopet</Parent>
    <Path>/Tennstopet/FrontIMGtennstopetwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-12T09:23:06</CreateDate>
    <NodeName Default="FrontIMGtennstopet.webp" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2fhhqfhj/frontimgtennstopet.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>