<?xml version="1.0" encoding="utf-8"?>
<Media Key="a517d339-f804-4be4-97a9-1dcd71b58424" Alias="FSa8zVK.jpeg" Level="2">
  <Info>
    <Parent Key="f0e23083-2a64-462e-8582-726b0c2605b2">Gaia</Parent>
    <Path>/Gaia/FSa8zVKjpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:42:40</CreateDate>
    <NodeName Default="FSa8zVK.jpeg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wymfce1n/fsa8zvk.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>