<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c159990-6597-4958-ab4a-9e95861f4326" Alias="g2XVfjE.png" Level="2">
  <Info>
    <Parent Key="3b041783-4833-4b99-a66b-f949701ab17c">Paraden</Parent>
    <Path>/Paraden/g2XVfjEpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:30:10</CreateDate>
    <NodeName Default="g2XVfjE.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/d3jfgox4/g2xvfje.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>