<?xml version="1.0" encoding="utf-8"?>
<Media Key="f0e23083-2a64-462e-8582-726b0c2605b2" Alias="Gaia" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Gaia</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-11-04T15:20:36</CreateDate>
    <NodeName Default="Gaia" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties />
</Media>