<?xml version="1.0" encoding="utf-8"?>
<Media Key="84fe7416-08dc-4d62-a42d-c1528b996ee9" Alias="Gemla vinbar" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GemlaVinbar</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-28T09:37:21</CreateDate>
    <NodeName Default="Gemla vinbar" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties />
</Media>