<?xml version="1.0" encoding="utf-8"?>
<Media Key="b598f9d9-37db-4ec6-aeef-b051bd43fb96" Alias="gNPFAZh.jpeg" Level="2">
  <Info>
    <Parent Key="77d8be67-0eaf-4fda-ad3b-213980cf3655">Surfers</Parent>
    <Path>/Surfers/gNPFAZhjpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:12:34</CreateDate>
    <NodeName Default="gNPFAZh.jpeg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/kyzn2a3s/gnpfazh.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>