<?xml version="1.0" encoding="utf-8"?>
<Media Key="64efd5c5-10e4-49de-a935-7ed3410239f8" Alias="Grand hotell" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GrandHotell</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-24T20:16:09</CreateDate>
    <NodeName Default="Grand hotell" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties />
</Media>