<?xml version="1.0" encoding="utf-8"?>
<Media Key="9ea58273-9917-48a0-a84c-9cf960ae691a" Alias="grand5WEBP.webp" Level="2">
  <Info>
    <Parent Key="64efd5c5-10e4-49de-a935-7ed3410239f8">Grand hotell</Parent>
    <Path>/GrandHotell/grand5WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T11:23:49</CreateDate>
    <NodeName Default="grand5WEBP.webp" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5reogkd4/grand5webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>