<?xml version="1.0" encoding="utf-8"?>
<Media Key="3fa85efb-0e28-4560-9bbb-bbef09cf50ba" Alias="grand3WEBP.webp" Level="2">
  <Info>
    <Parent Key="64efd5c5-10e4-49de-a935-7ed3410239f8">Grand hotell</Parent>
    <Path>/GrandHotell/grand3WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T11:23:48</CreateDate>
    <NodeName Default="grand3WEBP.webp" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/osko3ckb/grand3webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>