<?xml version="1.0" encoding="utf-8"?>
<Media Key="6f9ec411-e14b-40f4-a999-223725c2ec21" Alias="Grus grus" Level="2">
  <Info>
    <Parent Key="3ce18bc2-e2bf-402f-b77a-e7cd38b48e8f">Slideshow</Parent>
    <Path>/Slideshow/GrusGrus</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-22T18:52:52</CreateDate>
    <NodeName Default="Grus grus" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/tyhnrwjc/aperitif-2027177_1280.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>