<?xml version="1.0" encoding="utf-8"?>
<Media Key="1c7d7bea-c77d-45c2-8d2d-c8937798b3c1" Alias="Grus grus" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GrusGrus</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-28T09:44:30</CreateDate>
    <NodeName Default="Grus grus" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties />
</Media>