<?xml version="1.0" encoding="utf-8"?>
<Media Key="2153261e-771f-44ae-b5b9-0e1cdf29db1a" Alias="gyldene5.png" Level="2">
  <Info>
    <Parent Key="a8556d14-c6b9-44bc-87ae-5e0b773ac26f">Den gyldene freden</Parent>
    <Path>/DenGyldeneFreden/gyldene5png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-20T19:50:20</CreateDate>
    <NodeName Default="gyldene5.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/shwblf1w/gyldene5.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>