<?xml version="1.0" encoding="utf-8"?>
<Media Key="05c50a71-34f0-4bb0-98ae-bc50aff3173c" Alias="gyldene2.jpg" Level="2">
  <Info>
    <Parent Key="f2ea47d2-21f1-4e85-a761-129b1016c90c">Den gyldene Freden</Parent>
    <Path>/DenGyldeneFreden/gyldene2jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T19:29:52</CreateDate>
    <NodeName Default="gyldene2.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/51aihm2z/gyldene2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>