<?xml version="1.0" encoding="utf-8"?>
<Media Key="b763a6ac-e432-4087-bebf-0a2539dcc2ca" Alias="gyldene1.jpg" Level="2">
  <Info>
    <Parent Key="a8556d14-c6b9-44bc-87ae-5e0b773ac26f">Den gyldene freden</Parent>
    <Path>/DenGyldeneFreden/gyldene1jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-20T19:50:20</CreateDate>
    <NodeName Default="gyldene1.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/enwckak1/gyldene1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>