<?xml version="1.0" encoding="utf-8"?>
<Media Key="663ba62e-1c6d-414a-904e-79019c003cb1" Alias="gyldene4.jpg" Level="2">
  <Info>
    <Parent Key="a8556d14-c6b9-44bc-87ae-5e0b773ac26f">Den gyldene freden</Parent>
    <Path>/DenGyldeneFreden/gyldene4jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-20T19:50:19</CreateDate>
    <NodeName Default="gyldene4.jpg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ufwh1uae/gyldene4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>