<?xml version="1.0" encoding="utf-8"?>
<Media Key="a62b0f58-8f60-47d3-a2a4-4376d25155b9" Alias="gyldene3.jpg" Level="2">
  <Info>
    <Parent Key="a8556d14-c6b9-44bc-87ae-5e0b773ac26f">Den gyldene freden</Parent>
    <Path>/DenGyldeneFreden/gyldene3jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-20T19:50:19</CreateDate>
    <NodeName Default="gyldene3.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/05ch0eaj/gyldene3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>