<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e1cfc92-99e9-4636-a397-fa1ab1dcb6c7" Alias="gyldene5WEBP.webp" Level="2">
  <Info>
    <Parent Key="f2ea47d2-21f1-4e85-a761-129b1016c90c">Den gyldene Freden</Parent>
    <Path>/DenGyldeneFreden/gyldene5WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-12T10:56:21</CreateDate>
    <NodeName Default="gyldene5WEBP.webp" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/du1fvwea/gyldene5webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>