<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d581433-74cc-4a39-9470-66008c3ac18e" Alias="gyldene4WEBP.webp" Level="2">
  <Info>
    <Parent Key="f2ea47d2-21f1-4e85-a761-129b1016c90c">Den gyldene Freden</Parent>
    <Path>/DenGyldeneFreden/gyldene4WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-12T10:56:20</CreateDate>
    <NodeName Default="gyldene4WEBP.webp" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xtpb3s3f/gyldene4webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>