<?xml version="1.0" encoding="utf-8"?>
<Media Key="bb9b872c-69ac-4709-b6e7-9cad4d8e376d" Alias="gyldene6WEBP.webp" Level="2">
  <Info>
    <Parent Key="f2ea47d2-21f1-4e85-a761-129b1016c90c">Den gyldene Freden</Parent>
    <Path>/DenGyldeneFreden/gyldene6WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-12T10:56:21</CreateDate>
    <NodeName Default="gyldene6WEBP.webp" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ungn0dof/gyldene6webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>