<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd59f7de-9e27-414d-a379-b2f2fe36e27e" Alias="gyldene2.jpg" Level="2">
  <Info>
    <Parent Key="a8556d14-c6b9-44bc-87ae-5e0b773ac26f">Den gyldene freden</Parent>
    <Path>/DenGyldeneFreden/gyldene2jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-20T19:50:20</CreateDate>
    <NodeName Default="gyldene2.jpg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ke4b440o/gyldene2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>