<?xml version="1.0" encoding="utf-8"?>
<Media Key="6f4e22dd-1ba7-4754-ac23-591c698b5e26" Alias="gyldene3WebP.webp" Level="2">
  <Info>
    <Parent Key="f2ea47d2-21f1-4e85-a761-129b1016c90c">Den gyldene Freden</Parent>
    <Path>/DenGyldeneFreden/gyldene3WebPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-12T10:56:18</CreateDate>
    <NodeName Default="gyldene3WebP.webp" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/kluarwoo/gyldene3webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>