<?xml version="1.0" encoding="utf-8"?>
<Media Key="58521e0e-db26-45c9-8255-856239a08e4d" Alias="gyldene1WEBP.webp" Level="2">
  <Info>
    <Parent Key="f2ea47d2-21f1-4e85-a761-129b1016c90c">Den gyldene Freden</Parent>
    <Path>/DenGyldeneFreden/gyldene1WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-12T10:56:22</CreateDate>
    <NodeName Default="gyldene1WEBP.webp" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qhkbj1sp/gyldene1webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>