<?xml version="1.0" encoding="utf-8"?>
<Media Key="d4e427d4-f2e0-4972-ac17-f37b4b08dc76" Alias="gyldene2WEBP.webp" Level="2">
  <Info>
    <Parent Key="f2ea47d2-21f1-4e85-a761-129b1016c90c">Den gyldene Freden</Parent>
    <Path>/DenGyldeneFreden/gyldene2WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-12T10:56:22</CreateDate>
    <NodeName Default="gyldene2WEBP.webp" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lpwleyuj/gyldene2webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>