<?xml version="1.0" encoding="utf-8"?>
<Media Key="77475978-9a33-4213-9d22-0aaed7a5fc46" Alias="Hasselbacken" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Hasselbacken</Path>
    <Trashed Parent="516f30ad-d15e-4c78-8676-e8a89a721f3d">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-24T20:02:49</CreateDate>
    <NodeName Default="Hasselbacken" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>