<?xml version="1.0" encoding="utf-8"?>
<Media Key="4d092339-2253-4c7b-8fa0-b653d491cc9a" Alias="hasselbacken1WEBP.webp" Level="2">
  <Info>
    <Parent Key="37a27296-ee44-4875-a70e-cd7462bcbf47">Hasselbacken</Parent>
    <Path>/Hasselbacken/hasselbacken1WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T11:09:50</CreateDate>
    <NodeName Default="hasselbacken1WEBP.webp" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/w1uf54z0/hasselbacken1webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>