<?xml version="1.0" encoding="utf-8"?>
<Media Key="37a27296-ee44-4875-a70e-cd7462bcbf47" Alias="Hasselbacken" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Hasselbacken</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-24T20:04:09</CreateDate>
    <NodeName Default="Hasselbacken" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties />
</Media>