<?xml version="1.0" encoding="utf-8"?>
<Media Key="1c5216bf-77e8-46e7-9843-916d4e6c31ac" Alias="hasselbacken4WEBP.webp" Level="2">
  <Info>
    <Parent Key="37a27296-ee44-4875-a70e-cd7462bcbf47">Hasselbacken</Parent>
    <Path>/Hasselbacken/hasselbacken4WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T11:09:52</CreateDate>
    <NodeName Default="hasselbacken4WEBP.webp" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gdobjkub/hasselbacken4webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>