<?xml version="1.0" encoding="utf-8"?>
<Media Key="f40941f2-901a-47bb-afdf-72a2abcfb263" Alias="hEdkPAU.png" Level="2">
  <Info>
    <Parent Key="3b041783-4833-4b99-a66b-f949701ab17c">Paraden</Parent>
    <Path>/Paraden/hEdkPAUpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:30:11</CreateDate>
    <NodeName Default="hEdkPAU.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/pwff4qtt/hedkpau.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>