<?xml version="1.0" encoding="utf-8"?>
<Media Key="3ebcf089-47f5-46e8-bc3e-e3cec9c70a34" Alias="hero.3" Level="2">
  <Info>
    <Parent Key="3ce18bc2-e2bf-402f-b77a-e7cd38b48e8f">Slideshow</Parent>
    <Path>/Slideshow/hero3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-06T23:30:05</CreateDate>
    <NodeName Default="hero.3" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ay3pvce2/ionela-mat-lu2n5urlefo-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>