<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e676498-be86-462c-9b08-be75fa51eff6" Alias="jS7QKO9.jpeg" Level="2">
  <Info>
    <Parent Key="b3e08727-6ff2-46da-bdb3-62469f58b396">Restaurang ART</Parent>
    <Path>/RestaurangART/jS7QKO9jpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T14:59:28</CreateDate>
    <NodeName Default="jS7QKO9.jpeg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/c4xcdohp/js7qko9.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>