<?xml version="1.0" encoding="utf-8"?>
<Media Key="fc9364c6-44fc-4d12-a4e3-a2e337131c64" Alias="lht3Dex.jpeg" Level="2">
  <Info>
    <Parent Key="6fe50c3b-8dd8-4267-a9a0-6e7dfa3bb568">Cafe Nizza</Parent>
    <Path>/CafeNizza/lht3Dexjpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:39:09</CreateDate>
    <NodeName Default="lht3Dex.jpeg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jgxnksuv/lht3dex.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>