<?xml version="1.0" encoding="utf-8"?>
<Media Key="e63491a1-16fd-4ced-8bf8-e7281047f1c0" Alias="Lilla Ego" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LillaEgo</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-30T12:24:13</CreateDate>
    <NodeName Default="Lilla Ego" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties />
</Media>