<?xml version="1.0" encoding="utf-8"?>
<Media Key="f0fb7e53-671f-4d01-ba54-75039be2f168" Alias="lqMwo4e.jpeg" Level="2">
  <Info>
    <Parent Key="6fe50c3b-8dd8-4267-a9a0-6e7dfa3bb568">Cafe Nizza</Parent>
    <Path>/CafeNizza/lqMwo4ejpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:39:09</CreateDate>
    <NodeName Default="lqMwo4e.jpeg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1s0l0rtw/lqmwo4e.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>