<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd2cac3c-6e8d-4020-9e1f-91c9b9ea1545" Alias="Mascadetbaren" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Mascadetbaren</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-28T09:40:50</CreateDate>
    <NodeName Default="Mascadetbaren" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties />
</Media>