<?xml version="1.0" encoding="utf-8"?>
<Media Key="569d9061-a832-422e-964e-cf3da24160c0" Alias="modernbistro.png" Level="2">
  <Info>
    <Parent Key="20d4032e-d872-4ef4-a472-0875b4c35320">Categories</Parent>
    <Path>/Categories/modernbistropng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-24T09:44:44</CreateDate>
    <NodeName Default="modernbistro.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3znnxyc1/modernbistro.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>