<?xml version="1.0" encoding="utf-8"?>
<Media Key="18a41ca8-4abe-434a-85b7-0ace25b4f866" Alias="modernbistroWEBP.webp" Level="2">
  <Info>
    <Parent Key="20d4032e-d872-4ef4-a472-0875b4c35320">Categories</Parent>
    <Path>/Categories/modernbistroWEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-11T09:57:26</CreateDate>
    <NodeName Default="modernbistroWEBP.webp" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/e5loflwx/modernbistrowebp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>