<?xml version="1.0" encoding="utf-8"?>
<Media Key="2d530e97-1d08-4524-965d-56324f36a70a" Alias="n6XefPj.jpeg" Level="2">
  <Info>
    <Parent Key="9840f851-79e8-4df0-9b4b-b61a455dc069">Kvarnen</Parent>
    <Path>/Kvarnen/n6XefPjjpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:33:21</CreateDate>
    <NodeName Default="n6XefPj.jpeg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ddcblg1b/n6xefpj.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>