<?xml version="1.0" encoding="utf-8"?>
<Media Key="cc27de40-e64a-41ac-acdb-9eed20bcdbaf" Alias="new folder name" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/newFolderName</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-11-18T09:53:53</CreateDate>
    <NodeName Default="new folder name" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties />
</Media>