<?xml version="1.0" encoding="utf-8"?>
<Media Key="cfd1627b-f137-4717-8f00-5052ef15a5a7" Alias="new folder name" Level="2">
  <Info>
    <Parent Key="02ce6ee1-67a6-4dc4-92d7-27446e5b9c54">Oaxen Slip</Parent>
    <Path>/OaxenSlip/newFolderName</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-11-03T21:08:12</CreateDate>
    <NodeName Default="new folder name" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>