<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c57f5d6-3306-4eab-b7f0-91660a8e5550" Alias="Ninja bar" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NinjaBar</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-28T09:46:39</CreateDate>
    <NodeName Default="Ninja bar" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties />
</Media>