<?xml version="1.0" encoding="utf-8"?>
<Media Key="33249c65-91f0-4a1e-a868-17a0caeea8ca" Alias="Nytorget 6" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Nytorget6</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-11-04T15:21:04</CreateDate>
    <NodeName Default="Nytorget 6" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties />
</Media>