<?xml version="1.0" encoding="utf-8"?>
<Media Key="2edf4cc7-2b7d-494a-a152-5b4f537b4ddd" Alias="O1VYoGR.jpeg" Level="2">
  <Info>
    <Parent Key="9840f851-79e8-4df0-9b4b-b61a455dc069">Kvarnen</Parent>
    <Path>/Kvarnen/O1VYoGRjpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:33:21</CreateDate>
    <NodeName Default="O1VYoGR.jpeg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jcdjtgau/o1vyogr.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>