<?xml version="1.0" encoding="utf-8"?>
<Media Key="02ce6ee1-67a6-4dc4-92d7-27446e5b9c54" Alias="Oaxen Slip" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OaxenSlip</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-30T12:26:36</CreateDate>
    <NodeName Default="Oaxen Slip" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties />
</Media>