<?xml version="1.0" encoding="utf-8"?>
<Media Key="f0fa0963-ef87-4aad-9df7-2c287153ff08" Alias="opera1.jpg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/opera1jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-21T12:00:51</CreateDate>
    <NodeName Default="opera1.jpg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3tblyrxo/opera1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>