<?xml version="1.0" encoding="utf-8"?>
<Media Key="581c0195-977a-495a-a888-cb2edc8766ae" Alias="opera1WEBP.webp" Level="2">
  <Info>
    <Parent Key="516f30ad-d15e-4c78-8676-e8a89a721f3d">Operakällaren</Parent>
    <Path>/Operakallaren/opera1WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T11:27:31</CreateDate>
    <NodeName Default="opera1WEBP.webp" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dlffv1qt/opera1webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>