<?xml version="1.0" encoding="utf-8"?>
<Media Key="b61a0bed-b649-476e-a9a0-5cb95d26c1c7" Alias="opera3WEBP.webp" Level="2">
  <Info>
    <Parent Key="516f30ad-d15e-4c78-8676-e8a89a721f3d">Operakällaren</Parent>
    <Path>/Operakallaren/opera3WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T11:27:32</CreateDate>
    <NodeName Default="opera3WEBP.webp" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mlafyaba/opera3webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>