<?xml version="1.0" encoding="utf-8"?>
<Media Key="84fbb0e9-7ce0-4546-b01f-bedaca29d0d6" Alias="opera6WEBP.webp" Level="2">
  <Info>
    <Parent Key="516f30ad-d15e-4c78-8676-e8a89a721f3d">Operakällaren</Parent>
    <Path>/Operakallaren/opera6WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T11:27:31</CreateDate>
    <NodeName Default="opera6WEBP.webp" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mz3l0muj/opera6webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>