<?xml version="1.0" encoding="utf-8"?>
<Media Key="a860c794-9bbe-4a68-85cb-b0cba6f45a25" Alias="opera1.jpg" Level="2">
  <Info>
    <Parent Key="516f30ad-d15e-4c78-8676-e8a89a721f3d">Operakällaren</Parent>
    <Path>/Operakallaren/opera1jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-22T13:20:50</CreateDate>
    <NodeName Default="opera1.jpg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dmgdmhwx/opera1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>