<?xml version="1.0" encoding="utf-8"?>
<Media Key="de893190-0286-466c-a979-d09ad0914e43" Alias="opera6.jpg" Level="2">
  <Info>
    <Parent Key="2914d2ec-c658-4768-b935-6147cc7269d0">Operakällaren</Parent>
    <Path>/Operakallaren/opera6jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-20T19:54:16</CreateDate>
    <NodeName Default="opera6.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/d53n40hp/opera6.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>