<?xml version="1.0" encoding="utf-8"?>
<Media Key="73e966e8-e143-4c84-9618-b305df437815" Alias="opera2.jpg" Level="2">
  <Info>
    <Parent Key="516f30ad-d15e-4c78-8676-e8a89a721f3d">Operakällaren</Parent>
    <Path>/Operakallaren/opera2jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-22T13:20:48</CreateDate>
    <NodeName Default="opera2.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/m4wk5rjk/opera2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>