<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4ff3e45-9829-4fa4-b3fb-5b3ad659fde5" Alias="opera4.jpg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/opera4jpg</Path>
    <Trashed Parent="516f30ad-d15e-4c78-8676-e8a89a721f3d">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-22T13:20:48</CreateDate>
    <NodeName Default="opera4.jpg" />
    <SortOrder>87</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zl0lsasa/opera4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>