<?xml version="1.0" encoding="utf-8"?>
<Media Key="516f30ad-d15e-4c78-8676-e8a89a721f3d" Alias="Operakällaren" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Operakallaren</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-22T13:19:57</CreateDate>
    <NodeName Default="Operakällaren" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>