<?xml version="1.0" encoding="utf-8"?>
<Media Key="22632dfb-dca2-4bc6-bfc0-ef6f3f3f0f8f" Alias="opera5WEBP.webp" Level="2">
  <Info>
    <Parent Key="516f30ad-d15e-4c78-8676-e8a89a721f3d">Operakällaren</Parent>
    <Path>/Operakallaren/opera5WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T11:27:33</CreateDate>
    <NodeName Default="opera5WEBP.webp" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ottdlfgl/opera5webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>