<?xml version="1.0" encoding="utf-8"?>
<Media Key="2914d2ec-c658-4768-b935-6147cc7269d0" Alias="Operakällaren" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Operakallaren</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-20T19:52:49</CreateDate>
    <NodeName Default="Operakällaren" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>