<?xml version="1.0" encoding="utf-8"?>
<Media Key="7498af62-0cab-4c09-8723-8debe2dd110f" Alias="opera6.jpg" Level="2">
  <Info>
    <Parent Key="516f30ad-d15e-4c78-8676-e8a89a721f3d">Operakällaren</Parent>
    <Path>/Operakallaren/opera6jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-22T13:20:49</CreateDate>
    <NodeName Default="opera6.jpg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3vsn3qwc/opera6.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>