<?xml version="1.0" encoding="utf-8"?>
<Media Key="88b11e49-413a-4ba2-b5d5-f6226a29af0a" Alias="opera3.jpg" Level="2">
  <Info>
    <Parent Key="516f30ad-d15e-4c78-8676-e8a89a721f3d">Operakällaren</Parent>
    <Path>/Operakallaren/opera3jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-22T13:20:48</CreateDate>
    <NodeName Default="opera3.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/y1kpopst/opera3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>