<?xml version="1.0" encoding="utf-8"?>
<Media Key="3305429b-47ff-4551-a474-f050923f5dee" Alias="opera1.jpg" Level="2">
  <Info>
    <Parent Key="2914d2ec-c658-4768-b935-6147cc7269d0">Operakällaren</Parent>
    <Path>/Operakallaren/opera1jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-20T19:54:15</CreateDate>
    <NodeName Default="opera1.jpg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cseehbmw/opera1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>