<?xml version="1.0" encoding="utf-8"?>
<Media Key="76ece179-9f32-48ce-8f9a-17852135c580" Alias="opera2WEBP.webp (1)" Level="2">
  <Info>
    <Parent Key="516f30ad-d15e-4c78-8676-e8a89a721f3d">Operakällaren</Parent>
    <Path>/Operakallaren/opera2WEBPwebp1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T11:27:32</CreateDate>
    <NodeName Default="opera2WEBP.webp (1)" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4yvlvqc1/opera2webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>