<?xml version="1.0" encoding="utf-8"?>
<Media Key="db923175-556f-4f49-a836-98b8fd8d0305" Alias="opera2.jpg" Level="2">
  <Info>
    <Parent Key="2914d2ec-c658-4768-b935-6147cc7269d0">Operakällaren</Parent>
    <Path>/Operakallaren/opera2jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-20T19:54:15</CreateDate>
    <NodeName Default="opera2.jpg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5l3ni1ig/opera2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>