<?xml version="1.0" encoding="utf-8"?>
<Media Key="214f21ea-cc5b-458a-97d4-ed6e957ab5c0" Alias="opera4WEBP.webp" Level="2">
  <Info>
    <Parent Key="516f30ad-d15e-4c78-8676-e8a89a721f3d">Operakällaren</Parent>
    <Path>/Operakallaren/opera4WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T11:27:33</CreateDate>
    <NodeName Default="opera4WEBP.webp" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/mxvbtfzs/opera4webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>