<?xml version="1.0" encoding="utf-8"?>
<Media Key="b6688503-6d79-4197-bff8-2a58d7ef5753" Alias="opera7.jpg" Level="2">
  <Info>
    <Parent Key="516f30ad-d15e-4c78-8676-e8a89a721f3d">Operakällaren</Parent>
    <Path>/Operakallaren/opera7jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-22T13:20:49</CreateDate>
    <NodeName Default="opera7.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rrhd2aaq/opera7.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>