<?xml version="1.0" encoding="utf-8"?>
<Media Key="394b7e47-0d18-47b7-8288-d9d064f19a21" Alias="Operakälalren" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Operakalalren</Path>
    <Trashed Parent="2914d2ec-c658-4768-b935-6147cc7269d0">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-20T19:53:20</CreateDate>
    <NodeName Default="Operakälalren" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/zc0a1d1r/opera1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>