<?xml version="1.0" encoding="utf-8"?>
<Media Key="493cc4e8-d4da-4691-a111-cc334ae5df9b" Alias="opera5.jpg" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/opera5jpg</Path>
    <Trashed Parent="516f30ad-d15e-4c78-8676-e8a89a721f3d">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-22T13:20:48</CreateDate>
    <NodeName Default="opera5.jpg" />
    <SortOrder>88</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/m2hhv53t/opera5.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>