<?xml version="1.0" encoding="utf-8"?>
<Media Key="f0fa0963-ef87-4aad-9df7-2c287153ff08" Alias="opera1.jpg (1)" Level="2">
  <Info>
    <Parent Key="2914d2ec-c658-4768-b935-6147cc7269d0">Operakällaren</Parent>
    <Path>/Operakallaren/opera1jpg1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-21T12:00:51</CreateDate>
    <NodeName Default="opera1.jpg (1)" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/3tblyrxo/opera1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>