<?xml version="1.0" encoding="utf-8"?>
<Media Key="394c074d-9ad0-496d-ac65-db176d363234" Alias="opera8.jpg" Level="2">
  <Info>
    <Parent Key="516f30ad-d15e-4c78-8676-e8a89a721f3d">Operakällaren</Parent>
    <Path>/Operakallaren/opera8jpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-22T13:20:49</CreateDate>
    <NodeName Default="opera8.jpg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ylgbvd3z/opera8.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>