<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b041783-4833-4b99-a66b-f949701ab17c" Alias="Paraden" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Paraden</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-11-04T15:19:53</CreateDate>
    <NodeName Default="Paraden" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties />
</Media>