<?xml version="1.0" encoding="utf-8"?>
<Media Key="06b1d2bd-c2cf-44eb-9192-f971f78d6517" Alias="photo2jpg.jpg" Level="2">
  <Info>
    <Parent Key="da261cb5-b3f7-43d1-b68f-1a7aba9dea29">Portal</Parent>
    <Path>/Portal/photo2jpgjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-03T21:05:58</CreateDate>
    <NodeName Default="photo2jpg.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gimppmfg/photo2jpg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>