<?xml version="1.0" encoding="utf-8"?>
<Media Key="834f7cc4-4d8e-4d7f-a11e-5bcb7e57419f" Alias="plats-typiques-suedois.jpg" Level="2">
  <Info>
    <Parent Key="9e3e45a4-2dbc-4c90-a1b9-16cac471355d">Fotografiska</Parent>
    <Path>/Fotografiska/platsTypiquesSuedoisjpg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-03T21:02:44</CreateDate>
    <NodeName Default="plats-typiques-suedois.jpg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jo1asnph/plats-typiques-suedois.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>