<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd341288-5870-420e-88ed-0f2d70a05ca9" Alias="portal.4" Level="2">
  <Info>
    <Parent Key="da261cb5-b3f7-43d1-b68f-1a7aba9dea29">Portal</Parent>
    <Path>/Portal/portal4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-30T12:47:49</CreateDate>
    <NodeName Default="portal.4" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/a5mhecyz/caption-4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>