<?xml version="1.0" encoding="utf-8"?>
<Media Key="400f00e1-bfa0-41ee-a714-bf5528cc11ba" Alias="portal.2" Level="2">
  <Info>
    <Parent Key="da261cb5-b3f7-43d1-b68f-1a7aba9dea29">Portal</Parent>
    <Path>/Portal/portal2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-30T12:49:04</CreateDate>
    <NodeName Default="portal.2" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/n1fet3wj/caption-5.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>