<?xml version="1.0" encoding="utf-8"?>
<Media Key="5391e7db-c6ab-40a0-8603-6dbc68bc343a" Alias="portal.5" Level="2">
  <Info>
    <Parent Key="da261cb5-b3f7-43d1-b68f-1a7aba9dea29">Portal</Parent>
    <Path>/Portal/portal5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-30T12:49:13</CreateDate>
    <NodeName Default="portal.5" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/kqwnpzoc/caption-6.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>