<?xml version="1.0" encoding="utf-8"?>
<Media Key="da261cb5-b3f7-43d1-b68f-1a7aba9dea29" Alias="Portal" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Portal</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-30T12:46:05</CreateDate>
    <NodeName Default="Portal" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties />
</Media>