<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b216c52-a1c7-4a9c-88d1-a29d68c82869" Alias="prinsen1WEBP.webp" Level="2">
  <Info>
    <Parent Key="759a9ee2-28a3-4ff2-9263-1bfcf01bae4c">Prinsen</Parent>
    <Path>/Prinsen/prinsen1WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-14T13:15:46</CreateDate>
    <NodeName Default="prinsen1WEBP.webp" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1wtgpdno/prinsen1webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>