<?xml version="1.0" encoding="utf-8"?>
<Media Key="8700cfdf-6b00-40c7-923e-c9b54d96cf21" Alias="prinsen1WEBP.webp" Level="2">
  <Info>
    <Parent Key="d143fb00-58e6-481d-8ee0-46201cf0b2a0">Prinsen</Parent>
    <Path>/Prinsen/prinsen1WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-14T13:04:14</CreateDate>
    <NodeName Default="prinsen1WEBP.webp" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/kacfmmlj/prinsen1webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>