<?xml version="1.0" encoding="utf-8"?>
<Media Key="180601cc-c6f6-44c0-b571-85cd8bc7d9c9" Alias="Prinsen" Level="2">
  <Info>
    <Parent Key="3ce18bc2-e2bf-402f-b77a-e7cd38b48e8f">Slideshow</Parent>
    <Path>/Slideshow/Prinsen</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-22T18:54:11</CreateDate>
    <NodeName Default="Prinsen" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ipffblu5/bakery-1868396_1280.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>