<?xml version="1.0" encoding="utf-8"?>
<Media Key="c73a2891-519f-4e91-b2e2-e032dcbe3a40" Alias="prinsenFrontIMG.webp" Level="2">
  <Info>
    <Parent Key="759a9ee2-28a3-4ff2-9263-1bfcf01bae4c">Prinsen</Parent>
    <Path>/Prinsen/prinsenFrontIMGwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-14T13:18:05</CreateDate>
    <NodeName Default="prinsenFrontIMG.webp" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/d1rhy2pw/prinsenfrontimg.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>