<?xml version="1.0" encoding="utf-8"?>
<Media Key="0060e279-a446-4831-8fb7-2894d9a0e3d5" Alias="prinsen3WEBP.webp" Level="102">
  <Info>
    <Parent Key="d143fb00-58e6-481d-8ee0-46201cf0b2a0">Prinsen</Parent>
    <Path>/[-21]/Prinsen/prinsen3WEBPwebp</Path>
    <Trashed Parent="d143fb00-58e6-481d-8ee0-46201cf0b2a0">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-14T13:04:11</CreateDate>
    <NodeName Default="prinsen3WEBP.webp" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/4yucnnrp/prinsen3webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>