<?xml version="1.0" encoding="utf-8"?>
<Media Key="759a9ee2-28a3-4ff2-9263-1bfcf01bae4c" Alias="Prinsen" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Prinsen</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-11-14T13:15:07</CreateDate>
    <NodeName Default="Prinsen" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties />
</Media>