<?xml version="1.0" encoding="utf-8"?>
<Media Key="759a9ee2-28a3-4ff2-9263-1bfcf01bae4c" Alias="Prinsen (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Prinsen1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-11-14T13:15:07</CreateDate>
    <NodeName Default="Prinsen (1)" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>