<?xml version="1.0" encoding="utf-8"?>
<Media Key="9e82eedb-4535-42b9-bbdc-70defbe684d4" Alias="prinsen6WEBP.webp" Level="2">
  <Info>
    <Parent Key="759a9ee2-28a3-4ff2-9263-1bfcf01bae4c">Prinsen (1)</Parent>
    <Path>/Prinsen1/prinsen6WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-14T13:15:45</CreateDate>
    <NodeName Default="prinsen6WEBP.webp" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/kqsmikc2/prinsen6webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>