<?xml version="1.0" encoding="utf-8"?>
<Media Key="f96eff5d-9fdc-45aa-859a-4c80d0d7ea41" Alias="prinsen3WEBP.webp" Level="2">
  <Info>
    <Parent Key="759a9ee2-28a3-4ff2-9263-1bfcf01bae4c">Prinsen (1)</Parent>
    <Path>/Prinsen1/prinsen3WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-14T13:15:49</CreateDate>
    <NodeName Default="prinsen3WEBP.webp" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/0i0dqt3v/prinsen3webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>