<?xml version="1.0" encoding="utf-8"?>
<Media Key="13a6db51-d550-4523-9262-7f9990656abc" Alias="prinsen1WEBP.webp" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/prinsen1WEBPwebp</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-14T13:03:23</CreateDate>
    <NodeName Default="prinsen1WEBP.webp" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": [],
  "src": "/media/1yipbjjz/prinsen1webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>