<?xml version="1.0" encoding="utf-8"?>
<Media Key="d143fb00-58e6-481d-8ee0-46201cf0b2a0" Alias="Prinsen" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Prinsen</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-24T19:50:27</CreateDate>
    <NodeName Default="Prinsen" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>