<?xml version="1.0" encoding="utf-8"?>
<Media Key="d21af302-6169-4f72-9808-09aa339fd1a3" Alias="prinsen2WEBP.webp" Level="2">
  <Info>
    <Parent Key="d143fb00-58e6-481d-8ee0-46201cf0b2a0">Prinsen</Parent>
    <Path>/Prinsen/prinsen2WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-14T13:15:47</CreateDate>
    <NodeName Default="prinsen2WEBP.webp" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ru2fyzaa/prinsen2webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>