<?xml version="1.0" encoding="utf-8"?>
<Media Key="305bb297-1ad0-4657-a44e-b393cb6dbe8d" Alias="QBm5614.jpeg" Level="2">
  <Info>
    <Parent Key="77d8be67-0eaf-4fda-ad3b-213980cf3655">Surfers</Parent>
    <Path>/Surfers/QBm5614jpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:12:36</CreateDate>
    <NodeName Default="QBm5614.jpeg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/db2b1bvz/qbm5614.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>