<?xml version="1.0" encoding="utf-8"?>
<Media Key="2a132cf4-b98b-46ee-892c-09a9375dc1f7" Alias="Qqv4bfh.jpeg" Level="2">
  <Info>
    <Parent Key="6fe50c3b-8dd8-4267-a9a0-6e7dfa3bb568">Cafe Nizza</Parent>
    <Path>/CafeNizza/Qqv4bfhjpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:39:09</CreateDate>
    <NodeName Default="Qqv4bfh.jpeg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/pptflhhc/qqv4bfh.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>