<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa74a306-4e82-4b66-9ccc-9d0b9b88beeb" Alias="Racamaca" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Racamaca</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-11-04T15:20:45</CreateDate>
    <NodeName Default="Racamaca" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties />
</Media>