<?xml version="1.0" encoding="utf-8"?>
<Media Key="b3e08727-6ff2-46da-bdb3-62469f58b396" Alias="Restaurang ART" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RestaurangART</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-11-04T14:55:22</CreateDate>
    <NodeName Default="Restaurang ART" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties />
</Media>