<?xml version="1.0" encoding="utf-8"?>
<Media Key="9b31e20f-ef59-40bf-a510-3263f69bb79e" Alias="riche2WEBP.webp" Level="2">
  <Info>
    <Parent Key="9d7e9746-4212-44fb-9232-c2a3f9a12e99">Riche</Parent>
    <Path>/Riche/riche2WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T11:18:38</CreateDate>
    <NodeName Default="riche2WEBP.webp" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qauholjq/riche2webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>