<?xml version="1.0" encoding="utf-8"?>
<Media Key="4bfeed94-35d7-4fe6-85a3-655380bddd57" Alias="riche3WEBP.webp" Level="2">
  <Info>
    <Parent Key="9d7e9746-4212-44fb-9232-c2a3f9a12e99">Riche</Parent>
    <Path>/Riche/riche3WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T11:18:39</CreateDate>
    <NodeName Default="riche3WEBP.webp" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dmtlr5n4/riche3webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>