<?xml version="1.0" encoding="utf-8"?>
<Media Key="7eb560a8-3cf4-4d37-a392-d1b710a45e94" Alias="riche1WEBP.webp" Level="2">
  <Info>
    <Parent Key="9d7e9746-4212-44fb-9232-c2a3f9a12e99">Riche</Parent>
    <Path>/Riche/riche1WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T11:18:38</CreateDate>
    <NodeName Default="riche1WEBP.webp" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/e4vphse3/riche1webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>