<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d7e9746-4212-44fb-9232-c2a3f9a12e99" Alias="Riche" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Riche</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-24T20:06:39</CreateDate>
    <NodeName Default="Riche" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties />
</Media>