<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d692f17-f4cd-4557-801e-7e021ff84110" Alias="Riri" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Riri</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-11-04T15:20:53</CreateDate>
    <NodeName Default="Riri" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties />
</Media>