<?xml version="1.0" encoding="utf-8"?>
<Media Key="af80351d-aa01-4616-bca8-da74ef505eed" Alias="roPvhhz.png" Level="2">
  <Info>
    <Parent Key="b3e08727-6ff2-46da-bdb3-62469f58b396">Restaurang ART</Parent>
    <Path>/RestaurangART/roPvhhzpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T14:59:30</CreateDate>
    <NodeName Default="roPvhhz.png" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/sl5nmgli/ropvhhz.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>