<?xml version="1.0" encoding="utf-8"?>
<Media Key="db0fb593-3132-475d-82a1-d3ff8d70d812" Alias="Savant" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Savant</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-28T09:30:02</CreateDate>
    <NodeName Default="Savant" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties />
</Media>