<?xml version="1.0" encoding="utf-8"?>
<Media Key="87a5e671-4e30-4104-be0c-aca295eb3abd" Alias="savantWEBP.webp" Level="2">
  <Info>
    <Parent Key="db0fb593-3132-475d-82a1-d3ff8d70d812">Savant</Parent>
    <Path>/Savant/savantWEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-11T09:49:54</CreateDate>
    <NodeName Default="savantWEBP.webp" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5ywogmkz/savantwebp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>