<?xml version="1.0" encoding="utf-8"?>
<Media Key="0bea0033-e82d-42c9-88ec-cdf56c36af48" Alias="Screenshot 2024-11-04 154937.png" Level="2">
  <Info>
    <Parent Key="33249c65-91f0-4a1e-a868-17a0caeea8ca">Nytorget 6</Parent>
    <Path>/Nytorget6/Screenshot20241104154937png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:50:11</CreateDate>
    <NodeName Default="Screenshot 2024-11-04 154937.png" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xtfkzpke/screenshot-2024-11-04-154937.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>