<?xml version="1.0" encoding="utf-8"?>
<Media Key="58a64f73-6739-44f4-9e5d-33f6910ea293" Alias="Screenshot 2024-11-04 154707.png" Level="2">
  <Info>
    <Parent Key="0d692f17-f4cd-4557-801e-7e021ff84110">Riri</Parent>
    <Path>/Riri/Screenshot20241104154707png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:48:48</CreateDate>
    <NodeName Default="Screenshot 2024-11-04 154707.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/5scpb1sq/screenshot-2024-11-04-154707.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>