<?xml version="1.0" encoding="utf-8"?>
<Media Key="e26368eb-30dd-49f3-8033-f60d205d77a6" Alias="Screenshot 2024-11-04 154946.png" Level="2">
  <Info>
    <Parent Key="33249c65-91f0-4a1e-a868-17a0caeea8ca">Nytorget 6</Parent>
    <Path>/Nytorget6/Screenshot20241104154946png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:50:11</CreateDate>
    <NodeName Default="Screenshot 2024-11-04 154946.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/msrckvfu/screenshot-2024-11-04-154946.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>