<?xml version="1.0" encoding="utf-8"?>
<Media Key="6860f9a1-af81-4069-a389-112412a7ed34" Alias="Screenshot 2024-11-04 154906.png" Level="2">
  <Info>
    <Parent Key="33249c65-91f0-4a1e-a868-17a0caeea8ca">Nytorget 6</Parent>
    <Path>/Nytorget6/Screenshot20241104154906png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:50:10</CreateDate>
    <NodeName Default="Screenshot 2024-11-04 154906.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fyzdnxxi/screenshot-2024-11-04-154906.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>