<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed27bfe6-8773-4360-8d65-2e74d65ddc4c" Alias="Screenshot 2024-11-04 154923.png" Level="2">
  <Info>
    <Parent Key="33249c65-91f0-4a1e-a868-17a0caeea8ca">Nytorget 6</Parent>
    <Path>/Nytorget6/Screenshot20241104154923png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:50:10</CreateDate>
    <NodeName Default="Screenshot 2024-11-04 154923.png" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/nf0hcwy0/screenshot-2024-11-04-154923.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>