<?xml version="1.0" encoding="utf-8"?>
<Media Key="b9962fc6-6bc2-4190-b28c-18d6f56a759a" Alias="Screenshot 2024-11-04 154746.png" Level="2">
  <Info>
    <Parent Key="0d692f17-f4cd-4557-801e-7e021ff84110">Riri</Parent>
    <Path>/Riri/Screenshot20241104154746png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:48:49</CreateDate>
    <NodeName Default="Screenshot 2024-11-04 154746.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jhsnad3l/screenshot-2024-11-04-154746.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>