<?xml version="1.0" encoding="utf-8"?>
<Media Key="4fa447e3-092f-4049-b579-143d7576c652" Alias="Screenshot 2024-11-04 154810.png" Level="2">
  <Info>
    <Parent Key="0d692f17-f4cd-4557-801e-7e021ff84110">Riri</Parent>
    <Path>/Riri/Screenshot20241104154810png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:48:50</CreateDate>
    <NodeName Default="Screenshot 2024-11-04 154810.png" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/nsgpf4kg/screenshot-2024-11-04-154810.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>