<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c7ef66c-f68c-4b5f-9052-a6facc3796d6" Alias="Slide2WEBP.webp" Level="2">
  <Info>
    <Parent Key="3ce18bc2-e2bf-402f-b77a-e7cd38b48e8f">Slideshow</Parent>
    <Path>/Slideshow/Slide2WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-11T10:17:49</CreateDate>
    <NodeName Default="Slide2WEBP.webp" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2m4drsxf/slide2webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>