<?xml version="1.0" encoding="utf-8"?>
<Media Key="abb4eb30-abe5-4c7f-8a24-515a4a67f767" Alias="Slide7WEBP.webp" Level="2">
  <Info>
    <Parent Key="3ce18bc2-e2bf-402f-b77a-e7cd38b48e8f">Slideshow</Parent>
    <Path>/Slideshow/Slide7WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-11T10:30:30</CreateDate>
    <NodeName Default="Slide7WEBP.webp" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/x2qpehmm/slide7webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>