<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ebe66e1-948c-4858-98e3-b91bc8b2816c" Alias="Slide4WEBP.webp" Level="2">
  <Info>
    <Parent Key="3ce18bc2-e2bf-402f-b77a-e7cd38b48e8f">Slideshow</Parent>
    <Path>/Slideshow/Slide4WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-11T10:23:30</CreateDate>
    <NodeName Default="Slide4WEBP.webp" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/n0wpr4hf/slide4webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>