<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2048b9a-ef9d-4129-b50a-e068cdba05e4" Alias="Slide5WEBP.webp" Level="2">
  <Info>
    <Parent Key="3ce18bc2-e2bf-402f-b77a-e7cd38b48e8f">Slideshow</Parent>
    <Path>/Slideshow/Slide5WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-11T10:26:06</CreateDate>
    <NodeName Default="Slide5WEBP.webp" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cvafefhu/slide5webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>