<?xml version="1.0" encoding="utf-8"?>
<Media Key="3ce18bc2-e2bf-402f-b77a-e7cd38b48e8f" Alias="Slideshow" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Slideshow</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-22T18:45:59</CreateDate>
    <NodeName Default="Slideshow" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>