<?xml version="1.0" encoding="utf-8"?>
<Media Key="be31226b-9a8f-41bd-8f34-fee3db7b8e7c" Alias="Slide6WEBP.webp" Level="2">
  <Info>
    <Parent Key="3ce18bc2-e2bf-402f-b77a-e7cd38b48e8f">Slideshow</Parent>
    <Path>/Slideshow/Slide6WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-11T10:27:57</CreateDate>
    <NodeName Default="Slide6WEBP.webp" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2tuhochg/slide6webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>