<?xml version="1.0" encoding="utf-8"?>
<Media Key="289691e2-0436-41be-a475-7231c738e719" Alias="slip.4" Level="2">
  <Info>
    <Parent Key="02ce6ee1-67a6-4dc4-92d7-27446e5b9c54">Oaxen Slip</Parent>
    <Path>/OaxenSlip/slip4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-30T12:31:47</CreateDate>
    <NodeName Default="slip.4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/nvnnbhs5/caption.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>