<?xml version="1.0" encoding="utf-8"?>
<Media Key="c7871257-d1e7-4c50-b735-20a2f84aba03" Alias="slip.5" Level="2">
  <Info>
    <Parent Key="02ce6ee1-67a6-4dc4-92d7-27446e5b9c54">Oaxen Slip</Parent>
    <Path>/OaxenSlip/slip5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-30T12:31:57</CreateDate>
    <NodeName Default="slip.5" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/1dmmc2mo/photo3jpg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>