<?xml version="1.0" encoding="utf-8"?>
<Media Key="62d5b6b9-c32f-4d3f-a607-bcee4ad162cb" Alias="slip.3" Level="2">
  <Info>
    <Parent Key="02ce6ee1-67a6-4dc4-92d7-27446e5b9c54">Oaxen Slip</Parent>
    <Path>/OaxenSlip/slip3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-30T12:31:36</CreateDate>
    <NodeName Default="slip.3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/gz4jhvcg/photo0jpg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>