<?xml version="1.0" encoding="utf-8"?>
<Media Key="197ccafc-f9ce-4643-a956-35bb8032fff0" Alias="slip.1" Level="2">
  <Info>
    <Parent Key="02ce6ee1-67a6-4dc4-92d7-27446e5b9c54">Oaxen Slip</Parent>
    <Path>/OaxenSlip/slip1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-30T12:30:56</CreateDate>
    <NodeName Default="slip.1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/omadvl3h/image_513.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>