<?xml version="1.0" encoding="utf-8"?>
<Media Key="2684a302-ff62-42dc-a95d-abc6f54a2ad7" Alias="stallmastaregården1WEBP6.webp" Level="2">
  <Info>
    <Parent Key="10c6ea53-e9c8-4706-bed3-f461fe4683aa">Stallmästaregården</Parent>
    <Path>/Stallmastaregarden/stallmastaregarden1WEBP6webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T11:00:52</CreateDate>
    <NodeName Default="stallmastaregården1WEBP6.webp" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rvunfeal/stallmastaregarden1webp6.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>