<?xml version="1.0" encoding="utf-8"?>
<Media Key="10c6ea53-e9c8-4706-bed3-f461fe4683aa" Alias="Stallmästaregården" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Stallmastaregarden</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-24T20:00:11</CreateDate>
    <NodeName Default="Stallmästaregården" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties />
</Media>