<?xml version="1.0" encoding="utf-8"?>
<Media Key="cedd3352-e9bc-4c0d-b260-31227cc24a44" Alias="stallmastaregården5WEBP.webp" Level="2">
  <Info>
    <Parent Key="10c6ea53-e9c8-4706-bed3-f461fe4683aa">Stallmästaregården</Parent>
    <Path>/Stallmastaregarden/stallmastaregarden5WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T11:00:54</CreateDate>
    <NodeName Default="stallmastaregården5WEBP.webp" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1x2jw4gv/stallmastaregarden5webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>