<?xml version="1.0" encoding="utf-8"?>
<Media Key="61bf281a-b387-48fb-bb55-6f347900ca7a" Alias="stallmastaregården1WEBP.webp" Level="2">
  <Info>
    <Parent Key="10c6ea53-e9c8-4706-bed3-f461fe4683aa">Stallmästaregården</Parent>
    <Path>/Stallmastaregarden/stallmastaregarden1WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T11:00:52</CreateDate>
    <NodeName Default="stallmastaregården1WEBP.webp" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/sxrptv5o/stallmastaregarden1webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>