<?xml version="1.0" encoding="utf-8"?>
<Media Key="327e7a42-22b8-4982-ae9a-1aa9e2796a81" Alias="Sturehof" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Sturehof</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-24T20:05:27</CreateDate>
    <NodeName Default="Sturehof" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties />
</Media>