<?xml version="1.0" encoding="utf-8"?>
<Media Key="77d8be67-0eaf-4fda-ad3b-213980cf3655" Alias="Surfers" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Surfers</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-11-04T15:11:49</CreateDate>
    <NodeName Default="Surfers" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties />
</Media>