<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c529e70-a918-416e-a1da-ffb8d26e5962" Alias="T8xlZyR.jpeg" Level="2">
  <Info>
    <Parent Key="b3e08727-6ff2-46da-bdb3-62469f58b396">Restaurang ART</Parent>
    <Path>/RestaurangART/T8xlZyRjpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T14:59:31</CreateDate>
    <NodeName Default="T8xlZyR.jpeg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/53kbj0tr/t8xlzyr.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>