<?xml version="1.0" encoding="utf-8"?>
<Media Key="352d3f27-fb20-4168-ba4d-82fa4b624a7c" Alias="tennstopet5WEBP.webp" Level="2">
  <Info>
    <Parent Key="b4438df8-1f56-4183-a2af-88b72ee2c0f4">Tennstopet</Parent>
    <Path>/Tennstopet/tennstopet5WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-14T13:29:19</CreateDate>
    <NodeName Default="tennstopet5WEBP.webp" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vd0hxa0j/tennstopet5webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>