<?xml version="1.0" encoding="utf-8"?>
<Media Key="cbef3f8e-de4b-43dc-8ce0-d897a6000877" Alias="tennstopet1WEBP.webp" Level="2">
  <Info>
    <Parent Key="b4438df8-1f56-4183-a2af-88b72ee2c0f4">Tennstopet</Parent>
    <Path>/Tennstopet/tennstopet1WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-14T13:29:14</CreateDate>
    <NodeName Default="tennstopet1WEBP.webp" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ah0ls5jc/tennstopet1webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>