<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4438df8-1f56-4183-a2af-88b72ee2c0f4" Alias="Tennstopet" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Tennstopet</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-24T19:59:16</CreateDate>
    <NodeName Default="Tennstopet" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>