<?xml version="1.0" encoding="utf-8"?>
<Media Key="4525fb49-c74f-455c-80a5-8fec87ee9e6c" Alias="tennstopet3WEBP.webp" Level="2">
  <Info>
    <Parent Key="b4438df8-1f56-4183-a2af-88b72ee2c0f4">Tennstopet</Parent>
    <Path>/Tennstopet/tennstopet3WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-14T13:29:16</CreateDate>
    <NodeName Default="tennstopet3WEBP.webp" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/yyyhh2zg/tennstopet3webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>