<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b9bcb37-d4be-4b8f-b952-d28a0193f2e2" Alias="Tyge &amp; Sessil" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TygeSessil</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-28T09:43:30</CreateDate>
    <NodeName Default="Tyge &amp; Sessil" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties />
</Media>