<?xml version="1.0" encoding="utf-8"?>
<Media Key="0fbcdb27-3c19-4313-8de0-a373a580cc03" Alias="Tyge och Sessil" Level="2">
  <Info>
    <Parent Key="3ce18bc2-e2bf-402f-b77a-e7cd38b48e8f">Slideshow</Parent>
    <Path>/Slideshow/TygeOchSessil</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-22T19:01:28</CreateDate>
    <NodeName Default="Tyge och Sessil" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/vaipvolq/image_4379.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>