<?xml version="1.0" encoding="utf-8"?>
<Media Key="80734236-5509-45fc-bb03-096f147be6de" Alias="ullaWinbladh1WEBP.webp" Level="2">
  <Info>
    <Parent Key="376f53d6-87fd-49cf-8036-e5b1a4c6441b">Ulla Winbladh</Parent>
    <Path>/UllaWinbladh/ullaWinbladh1WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T11:05:27</CreateDate>
    <NodeName Default="ullaWinbladh1WEBP.webp" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/xgedknta/ullawinbladh1webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>