<?xml version="1.0" encoding="utf-8"?>
<Media Key="5cf94cfe-7a06-4adf-9e1e-5a536990a94f" Alias="ullaWinbladh5WEBP.webp" Level="2">
  <Info>
    <Parent Key="376f53d6-87fd-49cf-8036-e5b1a4c6441b">Ulla Winbladh</Parent>
    <Path>/UllaWinbladh/ullaWinbladh5WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T11:05:28</CreateDate>
    <NodeName Default="ullaWinbladh5WEBP.webp" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ogdl50tp/ullawinbladh5webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>