<?xml version="1.0" encoding="utf-8"?>
<Media Key="3e59d2a5-0544-4824-a417-82c6afac5810" Alias="ullaWinbladh4WEBP.webp" Level="2">
  <Info>
    <Parent Key="376f53d6-87fd-49cf-8036-e5b1a4c6441b">Ulla Winbladh</Parent>
    <Path>/UllaWinbladh/ullaWinbladh4WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T11:05:28</CreateDate>
    <NodeName Default="ullaWinbladh4WEBP.webp" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fimb5cbn/ullawinbladh4webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>