<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ff57a27-c64b-478b-8cc1-6a17c432f27e" Alias="ullaWinbladh3WEBP.webp" Level="2">
  <Info>
    <Parent Key="376f53d6-87fd-49cf-8036-e5b1a4c6441b">Ulla Winbladh</Parent>
    <Path>/UllaWinbladh/ullaWinbladh3WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T11:05:27</CreateDate>
    <NodeName Default="ullaWinbladh3WEBP.webp" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/vcylhkjc/ullawinbladh3webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>