<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0ecad00-af6a-4659-9b07-e2241c3c4c53" Alias="ullaWinbladh2WEBP.webp" Level="2">
  <Info>
    <Parent Key="376f53d6-87fd-49cf-8036-e5b1a4c6441b">Ulla Winbladh</Parent>
    <Path>/UllaWinbladh/ullaWinbladh2WEBPwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-18T11:05:27</CreateDate>
    <NodeName Default="ullaWinbladh2WEBP.webp" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/r3tlubqd/ullawinbladh2webp.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>