<?xml version="1.0" encoding="utf-8"?>
<Media Key="2d80093b-c4dc-4c2f-9e88-9212b28e284c" Alias="UQxyjaF.jpeg" Level="2">
  <Info>
    <Parent Key="fa74a306-4e82-4b66-9ccc-9d0b9b88beeb">Racamaca</Parent>
    <Path>/Racamaca/UQxyjaFjpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:46:20</CreateDate>
    <NodeName Default="UQxyjaF.jpeg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/wtbnng3v/uqxyjaf.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>