<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad3d3c76-a8bc-4f71-a100-e842ef368b0f" Alias="Växthuset" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Vaxthuset</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-28T09:48:04</CreateDate>
    <NodeName Default="Växthuset" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties />
</Media>