<?xml version="1.0" encoding="utf-8"?>
<Media Key="5ca93d3f-b4f4-43b4-94ea-adc6253a21fd" Alias="Vina" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Vina</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-28T09:45:11</CreateDate>
    <NodeName Default="Vina" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties />
</Media>