<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ad291e4-b5c7-403d-9c4b-2f2f211be3b3" Alias="Vineriet" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Vineriet</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-28T09:41:57</CreateDate>
    <NodeName Default="Vineriet" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties />
</Media>