<?xml version="1.0" encoding="utf-8"?>
<Media Key="b35923e2-0139-4ae6-bf42-3b1121181e24" Alias="Wedholms Fisk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WedholmsFisk</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-10-30T12:32:19</CreateDate>
    <NodeName Default="Wedholms Fisk" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties />
</Media>