<?xml version="1.0" encoding="utf-8"?>
<Media Key="1c9430fa-4df2-4d2c-ba39-1a05b4c6dd9f" Alias="XeFT63s.jpeg" Level="2">
  <Info>
    <Parent Key="c2dce8b8-75e9-4700-997e-6e8d855d26de">Bar Agrikultur</Parent>
    <Path>/BarAgrikultur/XeFT63sjpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:36:29</CreateDate>
    <NodeName Default="XeFT63s.jpeg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ox3nfku1/xeft63s.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>