<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2c1abc0-13c2-48a0-b2d8-fb007b88be71" Alias="yvZwh3s.png" Level="2">
  <Info>
    <Parent Key="f0e23083-2a64-462e-8582-726b0c2605b2">Gaia</Parent>
    <Path>/Gaia/yvZwh3spng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:42:41</CreateDate>
    <NodeName Default="yvZwh3s.png" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/j3qjo3fl/yvzwh3s.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>