<?xml version="1.0" encoding="utf-8"?>
<Media Key="2ef768c6-f769-4317-bbab-9fd383907ca1" Alias="Znt3PVt.jpeg" Level="2">
  <Info>
    <Parent Key="c2dce8b8-75e9-4700-997e-6e8d855d26de">Bar Agrikultur</Parent>
    <Path>/BarAgrikultur/Znt3PVtjpeg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-04T15:36:30</CreateDate>
    <NodeName Default="Znt3PVt.jpeg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jgrldgaa/znt3pvt.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>