<?xml version="1.0" encoding="utf-8"?>
<Domain Key="40888579-0000-0000-0000-000000000000" Alias="https://localhost:44322/en">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="4f572d85-7466-499d-a481-f8315629bc7e">/Hem</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>