@using Umbraco.Cms.Web.Common.PublishedModels;
@using umbraco_assignment.Models.ViewModels

@inherits UmbracoViewPage<ContactUsPageViewModel>

@{
    Layout = "root.cshtml";
}

<h1 class="contact-us-h1">@Model.Content.Name</h1>

<div class="custom-contact-form-container">
    @if (Model.Content.Form != null)
    {
        @await Component.InvokeAsync("RenderForm", new
            {
                formId = Model.Content.Form,
                theme = "",
                includeScripts = false
            })
    }
    else
    {
        <p>Formuläret är inte tillgängligt just nu.</p>
    }
</div>

<!-- Kartan visas alltid oavsett om formuläret är null eller inte -->
<div id="map" class="map-contact-us" data-longitude="@Model.Content.Longitud" data-latitude="@Model.Content.Latitud"></div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Hämta alla inputfält som är obligatoriska (Umbraco markerar dem med "data-val-required")
        const requiredFields = document.querySelectorAll("[data-val-required]");

        // Lägg till HTML5's 'required'-attribut på dessa fält
        requiredFields.forEach(function (field) {
            field.setAttribute("required", "required");
        });

        console.log("Required attribut har lagts till på obligatoriska fält!");
    });
</script>

<!---------------------- Script för Karta ---------------------->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@latest/ol.css">
<script src="https://cdn.jsdelivr.net/npm/ol@latest/dist/ol.js"></script>
<!-------------------------------------------------------------->