@using Umbraco.Cms.Web.Common.PublishedModels;
@using umbraco_assignment.Models.ViewModels
@inherits UmbracoViewPage<ContactUsPageViewModel>
@{
	Layout = "root.cshtml";
}

<h1 class="contact-us">@Model.Content.Name</h1>

<div class="custom-contact-form-container">
    @if (Model.Content.Form != null)
    {
        @await Component.InvokeAsync("RenderForm", new
            {
                formId = Model.Content.Form,
                theme = "",
                includeScripts = false
            })
    }
</div>
