@using Umbraco.Cms.Web.Common.PublishedModels;
@using umbraco_assignment.Models.ViewModels

@inherits UmbracoViewPage<CookiesPageViewModel>


@{
	Layout = "root.cshtml";

}

<div class="container mt-5">
    <h1 class="text-center mb-4">@Model.Content.Title</h1>

    <div class="cookie-declaration">
        @Html.Raw(Model.Content.CookieDeclaration)
    </div>
</div>

