@using Umbraco.Cms.Web.Common.PublishedModels;
@using umbraco_assignment.Models.ViewModels

@inherits UmbracoViewPage<ErrorPageViewModel>

@{

	Layout = "root.cshtml";
}

<h1>@Model.Content.Heading</h1>

