@using Umbraco.Cms.Web.Common.PublishedModels;
@using umbraco_assignment.Models.PublishedModels
@using umbraco_assignment.Models.ViewModels

@inherits UmbracoViewPage<SearchPageViewModel>

@{
    Layout = "root.cshtml";
}

@using (Html.BeginUmbracoForm("SearchRestaurants", "SearchSurface", FormMethod.Post, new { @class = "d-flex align-items-center", @id = "search-form" }))
{
    <div class="input-group search-box">
        <input class="form-control search-input" id="searchQuery" name="query" type="search" placeholder="Search" aria-label="Search">
        <button class="input-group-text search-button" type="submit">
            <i class="fas fa-search"></i> <!-- Magnifying glass icon -->
        </button>
    </div>
}

<section class="search-results">
    <div class="row">
        @foreach (var restaurant in Model.SearchHits)
        {
            <div class="col-12 col-sm-6 col-md-4 mb-4">
                <a href="@restaurant.Url()" class="card restaurant-card" style="background-image: url('@restaurant.FrontImage?.Url()');">
                    <div class="card-text">
                        @Html.Raw(restaurant.RestaurantName)
                    </div>
                </a>
            </div>
        }
    </div>
</section>