<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9019e897-749a-468f-8a45-41564a57aa8d" Alias="categoryContainer" Level="2">
  <Info>
    <Name>CategoryContainer</Name>
    <Icon>icon-categories</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Categories</Folder>
    <Compositions />
    <DefaultTemplate>category</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ad165113-16c8-46f3-955e-3451d0767057">category</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ff005a6c-ee4c-4b06-b64c-942828ac0cd0" SortOrder="0">category</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>