<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c4a1f95a-930a-499b-8e68-98d1bd578467" Alias="contactUs" Level="1">
  <Info>
    <Name>Contact Us</Name>
    <Icon>icon-operator</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="6de833db-65a6-4896-a6c2-d44f5ef07c24">metaData</Composition>
      <Composition Key="000e193d-1b32-4c32-9aa1-dbaedb67081e">seo</Composition>
    </Compositions>
    <DefaultTemplate>contactUs</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="eb659fe2-f2e4-48f9-b53c-17c8647c689c">contactUs</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>78ebc8f4-7209-4d7b-be12-c25bddea271e</Key>
      <Name>Form</Name>
      <Alias>form</Alias>
      <Definition>7f8ce309-7271-4456-aca8-862fc7ec779a</Definition>
      <Type>UmbracoForms.FormPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2cf6cfd2-2d3f-4329-b4ea-7e00d400ab57</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>