<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a12d29e5-293d-4f0b-b1b5-8edc26c5cb31" Alias="cookieDeclaration" Level="1">
  <Info>
    <Name>Cookie Declaration</Name>
    <Icon>icon-birthday-cake color-text</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="6de833db-65a6-4896-a6c2-d44f5ef07c24">metaData</Composition>
      <Composition Key="000e193d-1b32-4c32-9aa1-dbaedb67081e">seo</Composition>
    </Compositions>
    <DefaultTemplate>cookieDeclaration</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="5497c1a2-254f-4cea-b77d-e54816cf7513">cookieDeclaration</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>fcc38344-6dad-4313-a963-281cbc34176f</Key>
      <Name>Content</Name>
      <Alias>content</Alias>
      <Definition>1c5b775b-bcf4-49e3-a4f9-9d3083abb0ac</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>32b52bf0-833c-42a0-a071-eb48b569dea8</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5b28eb4b-b5e6-46a8-9301-d9abf12e1894</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>