<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b890d36c-db42-4ffa-b877-5aebdf0156c7" Alias="restaurant" Level="2">
  <Info>
    <Name>Restaurant</Name>
    <Icon>icon-food</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Restaurants</Folder>
    <Compositions>
      <Composition Key="6de833db-65a6-4896-a6c2-d44f5ef07c24">metaData</Composition>
      <Composition Key="000e193d-1b32-4c32-9aa1-dbaedb67081e">seo</Composition>
    </Compositions>
    <DefaultTemplate>restaurant</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a1136ce5-90f3-4b85-953f-75473258465c</Key>
      <Name>Address</Name>
      <Alias>address</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="restaurant">Restaurant</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a2f18646-096b-4c33-8292-ee6777137741</Key>
      <Name>Category</Name>
      <Alias>category</Alias>
      <Definition>0b6a45e7-44ba-430d-9da5-4e46060b9e03</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="restaurant">Restaurant</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>67f55895-7999-4f94-beb9-2242d443585a</Key>
      <Name>Description</Name>
      <Alias>description</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="restaurant">Restaurant</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1d3d57c8-0615-4698-bcde-efa10f373b5e</Key>
      <Name>FrontImage</Name>
      <Alias>frontImage</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="restaurant">Restaurant</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c61c54ad-c15f-4064-b11c-56f6c869d816</Key>
      <Name>Images</Name>
      <Alias>images</Alias>
      <Definition>1b661f40-2242-4b44-b9cb-3990ee2b13c0</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="restaurant">Restaurant</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4957cdb5-e91d-4524-8fae-8b51974880f2</Key>
      <Name>Keywords</Name>
      <Alias>keywords</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="restaurant">Restaurant</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5cf6179c-8432-4412-8216-b6f4fb6c9dc7</Key>
      <Name>Restaurant Name</Name>
      <Alias>restaurantName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="restaurant">Restaurant</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>dd40fd19-a388-426d-becf-f4984ed97036</Key>
      <Caption>Restaurant</Caption>
      <Alias>restaurant</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>