<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="501af639-b5a8-41ef-999f-31b252630d15" Alias="restaurantContainer" Level="2">
  <Info>
    <Name>RestaurantContainer</Name>
    <Icon>icon-food</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Restaurants</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="b890d36c-db42-4ffa-b877-5aebdf0156c7" SortOrder="0">restaurant</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>