<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3788ca73-dab3-4eb7-ab6a-bdf7d28beb00" Alias="sitemap" Level="1">
  <Info>
    <Name>Sitemap</Name>
    <Icon>icon-layout</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>sitemap</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="165ea660-28d8-439e-9d73-112c4afb722a">sitemap</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>