<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4772ea46-f740-43e9-a591-cf5e8f913420" Alias="slideshowContainer" Level="2">
  <Info>
    <Name>Slideshow Container</Name>
    <Icon>icon-picture</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Slideshow</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="b9f9b445-5f1f-438c-9bb6-1df68d865d22" SortOrder="0">slideshowPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>