/*NAVBAR*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');



/* Body background */
body {
    background-color: #f7f7f7 !important;
    color: #444 !important;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1; /* Makes the content area take up available space */
}

.my-navbar {
    background-color: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    color: #666 !important;
    font-weight: bold;
    font-family: League Gothic;
}

.nav-link {
    color: #444 !important;
    margin-right: 0.5rem;
    font-weight: 600 !important;
}

.nav-item .mx-1 {
    padding: 0 0.2rem !important;
    color: #444 !important; 
}

/*span{
    color: #444;
    font-weight:500;
}*/

.icon-margin {
    margin-right: 5px;
}

.d-flex.align-items-center > a {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 0px;
}

.d-flex.align-items-center {
    margin-right: 10px;
}

form .form-control {
    border-color: #ccc;
    background-color: #fff !important;
    color: #666 !important;
}

form .btn-outline-secondary {
    color: #666;
    border-color: #ccc;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(68, 68, 68, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.language-switcher {
    font-size: 1rem;
}

.fa-solid {
    margin-right: 10px;
}

.language-selector .language-item a {
    color: #333;
    text-decoration: none;
}

.language-selector .language-item a.active-language {
    text-decoration: underline !important;
    font-weight: bold;
}

.language-selector .language-item a:hover {
    text-decoration: underline;
}


/*-----------------------------------------------------------------------------------------------------------------------------------------------------*/
/* text info styling */

/* Wrapper för att centrera text och korten */
.content-wrapper {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    padding: 1rem !important;
}

/* Stil för text-behållaren */
.text-container {
    display: flex !important;
    width: 100% !important;
    max-width: 800px !important;
    margin-bottom: 2rem !important;
}

/* Stil för texten */
.custom-text {
    font-size: 2rem !important;
    line-height: 1.3 !important;
}

/* Stil för kategori-kortens behållare */
.category-container {
    width: 100% !important;
}

/* Responsiva justeringar */
@media (max-width: 992px) {
    .custom-text {
        font-size: 1.5rem !important;
    }

    .text-container {
        width: 90% !important;
    }
}

@media (max-width: 768px) {
    .custom-text {
        font-size: 1.2rem !important;
    }
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Category card styling */

.category-card-big {
    position: relative;
    padding-top: 56.25%;
    background-size: cover;
    background-position: center;
    border: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s;
    background-color: #f0f0f0 !important;
    max-width: 400px; /* Du kan justera max-bredden efter behov */
    max-height: 300px; /* Du kan justera max-höjden efter behov */
}

    .category-card-big:hover {
        transform: scale(1.05);
    }

    .category-card-big .card-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 1em;
        font-weight: 600;
        text-align: center;
        background-color: hsla(9, 100%, 64%, 0.5);
        background: rgba(0, 0, 0, 0.5);
        padding: 11px 20px;
        border-radius: 5px;
        width: 50%;
        max-width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

@media (max-width: 576px) {
    .category-card .card-text {
        font-size: 1.2em;
        padding: 8px 16px;
    }
}


@media (max-width: 576px) {
    .category-card .card-text {
        font-size: 1.2em;
        padding: 8px 16px;
    }
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Footer styling */


footer.container {
    background-color: #f8f9fa !important;
    padding: 20px 0;
    border-top: 1px solid #e7e7e7;
    text-align: center;
    max-width: 100% !important;
}

footer .float-end {
    float: right;
    padding-right: 50px;
}

footer p {
    margin: 0;
    font-size: 14px;
    color: black;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

    footer a:hover {
        text-decoration: underline;
    }


/*-----------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Slideshow styling */

.carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: cover !important;
}

.carousel {
    height: 500px;
    margin-bottom: 20px;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 35% !important;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: none !important;
}

.carousel-indicators button {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50% !important;
    background-color: rgba(255, 255, 255, 0.5) !important;
    border: none;
    transition: background-color 0.3s ease;
}

.carousel-indicators .active {
    background-color: rgba(255, 255, 255, 1) !important;
}

.carousel-caption {
    color: white !important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) !important;
}

    .carousel-caption h1 {
        font-size: 2rem !important;
    }

    .carousel-caption .btn {
        background-color: transparent;
        border: 2px solid white;
        color: white;
        font-weight: bold;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

        .carousel-caption .btn:hover {
            transform: translateY(-5px);
            box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
            background-color: transparent !important;
            border: 2px solid white !important;
        }


@media (min-width: 1200px) {
    .carousel-item img {
        height: 600px !important;
        object-fit: cover !important;
    }
}

@media (max-width: 768px) {
    .carousel-item img {
        height: 300px
    }

    .carousel {
        height: 300px
    }

    .carousel-indicators button {
        width: 10px !important;
        height: 10px !important;
    }

    .carousel-caption {
        bottom: 45% !important;
    }

        .carousel-caption h1 {
            font-size: 1.5rem !important;
        }

        .carousel-caption .btn {
            padding: 8px 16px;
            font-size: 0.9rem;
        }
}
/*-----------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Error Page Styling */
.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.error-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error-content {
    max-width: 600px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    order: 2;
}

.error-image {
    padding: 20px;
    max-width: 80%;
    order: 1;
}

    .error-image img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        object-fit: cover;
    }

.btn-error {
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 5px;
    color: #333;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 1rem;
}

    .btn-error:hover {
        background-color: #333;
        color: #fff;
        transform: scale(1.05);
    }

@media (min-width: 768px) {
    .error-content h1 {
        font-size: 3rem;
    }

    .error-content p {
        font-size: 1.2rem;
    }

    .btn-error {
        padding: 12px 24px;
        font-size: 1.1rem;
    }
}

@media (min-width: 992px) {
    .error-page {
        text-align: left;
        padding: 40px;
    }

    .error-content-wrapper {
        flex-direction: row;
    }

    .error-content {
        order: 0;
        text-align: left;
        margin-right: 20px;
    }

    .error-image {
        order: 0;
        max-width: 400px;
        margin-bottom: 0;
    }
}



/*-----------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Search Page Styling */

.search-form {
    max-width: 75%;
    width: 100%;
    margin-top: 40px;
}

.search-hr {
    width: 80% !important;
    margin: 0 auto !important;
}

.alert-warning {
    font-size: 1.2rem;
    color: #555 !important;
    background: none !important;
    border: none !important;
}

.search-result {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

.result-image {
    flex-shrink: 0 !important;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 0.25rem !important;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .result-image img {
        max-width: none !important;
        width: 100%;
        height: 100%;
        object-fit: cover !important;
    }

    .result-image:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    }

.restaurant-name {
    font-size: 2rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.restaurant-description {
    font-size: 1.2rem;
    color: #555 !important;
}

@media (min-width: 768px) {

    .search-form {
        max-width: 65%;
    }

    .restaurant-name {
        font-size: 2rem;
    }

    .restaurant-description {
        font-size: 1.2rem;
    }
}

@media (min-width: 992px) {

    .search-result {
        flex-wrap: nowrap;
    }

    .search-form {
        max-width: 60%;
    }
}


/*-----------------------------------------------------------------------------------------------------------------------------------------------------*/
/* About Us Styling */

.about-us-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.header-image {
    width: 100vw;
    height: 55vh;
    margin-left: calc(-50vw + 50%);
    overflow: hidden;
}

.full-width-image {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    object-position: center 43%;
}

.text-center h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
}

.slogan {
    font-size: 1.2rem;
    color: #666;
    margin-top: 10px;
    margin-bottom: 20px;
}

.separator {
    width: 50px;
    height: 3px;
    background-color: #333;
    margin: 0 auto;
    margin-bottom: 40px;
}

.section-padding {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
}

.section-heading {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.section-text {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.section-padding .col-md-4 {
    margin-bottom: 30px;
}

.section-padding .btn-primary {
    display: block;
    margin: 0 auto; /* Centers the button */
    width: fit-content; /* Sets the button width to its content size */
    padding: 10px 20px;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    color: #fff;
}

@media (min-width: 576px) {
    .text-center h1 {
        font-size: 3rem;
    }

    .slogan {
        font-size: 1.3rem;
    }
}

@media (min-width: 768px) {
    .about-us-container {
        padding: 40px;
    }

    .text-center h1 {
        font-size: 3.5rem;
    }

    .slogan {
        font-size: 1.5rem;
    }

    .section-heading {
        font-size: 2rem;
    }

    .section-text {
        font-size: 1.1rem;
    }

    .btn-primary {
        padding: 12px 30px;
        font-size: 1rem;
    }
}

@media (min-width: 992px) {
    .section-padding {
        padding: 40px 0;
    }

    .section-heading {
        font-size: 2.2rem;
    }

    .section-text {
        font-size: 1.2rem;
    }

    .about-us-container .row {
        display: flex;
        justify-content: space-between;
    }

    .col-md-4 {
        max-width: 32%;
    }

    .btn-primary {
        font-size: 1.1rem;
        padding: 14px 32px;
    }
}
/*---------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------- CONTACT US PAGE -----------------------------------------------------*/

.contact-us, h1 {
    text-align: center !important;
    /*margin-top: 50px !important;*/ /* Justerade marginalen för bättre responsivitet */
}

.custom-contact-form-container {
    max-width: 600px !important;
    margin: 0 auto !important;
    padding: 20px !important;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
    background-color: #f9f9f9 !important;
}

    .custom-contact-form-container input[type="text"],
    .custom-contact-form-container input[type="email"],
    .custom-contact-form-container textarea {
        width: 100% !important;
        padding: 10px !important;
        margin-bottom: 15px !important;
        border: 1px solid #ddd !important;
        border-radius: 4px !important;
        background-color: white !important;
        resize: none !important;
    }

input[name="22b1c0c8c31249449efb918afa013f90"] {
    display:none !important;
}

input[name="ac7a01a433ba47628674ce55ee3e9d94"] {
    display: none !important;
}

.umbraco-forms-hidden {
    margin-top: 45px;
}

.custom-contact-form-container input[type="submit"] {
    background-color: #2B3035 !important;
    color: white !important;
    padding: 10px 35px !important;
    border: none !important;
    border-radius: 4px !important;
    cursor: pointer !important;
    margin-top: -40px !important;
}

    .custom-contact-form-container input[type="submit"]:hover {
        background-color: #3a4047 !important;
        transform: scale(1.05) !important;
    }


@media (max-width: 768px) {
    .custom-contact-form-container {
        padding: 15px !important;
    }

        .custom-contact-form-container input[type="text"],
        .custom-contact-form-container input[type="email"],
        .custom-contact-form-container textarea {
            padding: 8px !important;
        }

        .custom-contact-form-container button[type="submit"] {
            padding: 8px 12px !important;
            font-size: 14px !important;
        }
}

@media (max-width: 480px) {
    .contact-us, h1 {
        font-size: 24px !important;
        margin-top: 30px !important;
    }

    .custom-contact-form-container {
        padding: 30px !important;
        border: 1px solid #bbb !important;
    }

        .custom-contact-form-container input[type="text"],
        .custom-contact-form-container input[type="email"],
        .custom-contact-form-container textarea {
            padding: 6px !important;
        }

        .custom-contact-form-container button[type="submit"] {
            padding: 6px 10px !important;
            font-size: 12px !important;
        }
}

/*---------------------------------------------------------------------------------------------------------------------*/
/*------------------------RESTAURANG SIDA---------------------------- */
.ol-control button {
    margin: 10px !important;
    width: 40px !important;
    height: 40px !important;
    font-size: 16px !important;
}

#map {
    width: 100%;
    height: 400px;
    margin-top: 50px;
    background-color: lightgrey;
}

.review-rating-title {
    color: black !important;
    font-size: 14px !important;
    font-weight: bold;
}

.thumbnail {
    width: 78.5px !important;
    height: 80px !important;
    object-fit: cover !important;
    cursor: pointer !important;
    transition: transform 0.2s !important;
}

    .thumbnail:hover {
        transform: scale(1.1) !important;
    }

.row {
    margin-top: 76px !important;
}

.rating-container {
    margin-bottom: 1rem !important;
}

.rating-title {
    display: block !important; /* Gör titeln block så att stjärnorna hamnar under */
    margin-bottom: 0.5rem !important; /* Lägger till avstånd mellan titeln och stjärnorna */
    font-weight: bold !important;
}

.rating {
    display: inline-flex !important;
    direction: rtl !important; /* Gör att stjärnorna fylls från höger till vänster */
    gap: 5px !important;
    margin-top: -10px !important; /* Lägger till lite avstånd från ovanstående text */
}

    .rating input[type="radio"] {
        display: none !important; /* Dölj radioknapparna */
    }

    .rating label {
        font-size: 2rem !important; /* Justera storleken på stjärnorna */
        color: #ccc !important; /* Grundfärg för stjärnorna */
        cursor: pointer !important;
        transition: color 0.2s !important;
    }

        .rating input[type="radio"]:checked ~ label,
        .rating label:hover,
        .rating label:hover ~ label {
            color: gold !important; /* Färg för markerade eller svävande stjärnor */
        }



.resto-text {
    margin-bottom: 200px !important;
    padding-right: 50px;
    font-size: 18px;
}

.card-body {
    background-color: #f0f0f0;
}

.restaurant-name {
    text-align: left !important; /* Säkerställ att texten är vänsterjusterad */
    font-size: 3rem;
}
.text-warning {
    font-size: 2rem;
}


.form-control {
    resize: none;
}


.reviews-section {
    text-align: start !important;
    padding: 0 60px !important;
}


.main-image-wrapper {
    position: relative !important;
    width: 100%; /* Anpassar bredden till förälder */
    max-width: 525px; /* Sätter en maxbredd för stora skärmar */
    height: 400px; /* Automatisk höjd baserat på innehållets bredd */
    margin: auto; /* Centrerar wrappern */
}

.main-image {
    width: 100% !important; /* Tar upp hela bredden av wrappern */
    height: 400px !important; /* Automatisk höjd för att bibehålla proportionerna */
    object-fit: cover !important; /* Täcker ytan utan att förlora proportioner */
    border-radius: 5px !important; /* Rundade hörn */
}

/* Media queries för olika skärmstorlekar */

/* Större skärmar */
@media (min-width: 1024px) {
    .main-image-wrapper {
        width: 80%; /* Ger lite "luft" runt bilden */
        max-width: 550px; /* Maximal bredd på större skärmar */
    }
}

/* Medelstora skärmar (tablets) */
@media (max-width: 1023px) {
    .main-image-wrapper {
        width: 90%; /* Tar upp 90% av skärmen för mindre marginaler */
        max-width: 500px;
    }
}

/* Mindre skärmar (mobiler) */
@media (max-width: 600px) {
    .main-image-wrapper {
        width: 100%; /* Full bredd på små skärmar */
        max-width: 100%; /* Ingen maxbredd på mobiler */
    }
    .reviews-section {
        padding: 20px !important;
    }
    .restaurant-name {
        padding: 0 20px !important;
    }
    .resto-text {
        padding: 0 20px;
    }
    .text-warning {
        font-size: 16px;
    }
}

.nav-button {
    padding: 8px !important;
    font-size: 24px !important;
    border-radius: 5px !important;
    background: rgba(0, 0, 0, 0.4) !important; /* Genomskinlig bakgrund för bättre synlighet */
    color: #fff !important;
    border: none !important;
    position: absolute !important; /* För att positionera dem inom bilden */
    top: 50% !important;
    transform: translateY(-50%) !important;
    cursor: pointer !important;
}

    .nav-button.left {
        left: 10px !important; /* Flyttar knappen till vänster inom bilden */
    }

    .nav-button.right {
        right: 10px !important; /* Flyttar knappen till höger inom bilden */
    }

#submitButton {
    background-color: #2B3035 !important;
    border-color: #2B3035 !important;
}

#submitButton:hover {
    background-color: #3a4047 !important; /* Ändra till en ljusare färg för hover */
    transform: scale(1.05) !important; /* Liten skaleffekt för att markera hover */
}
