<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="21f006b3-3b55-472c-88df-3d1c07b103a8" Alias="AddRatingAndComment" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Add a rating and a comment</Translation>
    <Translation Language="sv">Lägg till betyg och kommentar</Translation>
  </Translations>
</Dictionary>