<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="50d3ad30-e099-4099-9996-2109df4e36e3" Alias="LeaveAComment" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Leave a comment</Translation>
    <Translation Language="sv">Lämna en kommentar</Translation>
  </Translations>
</Dictionary>