<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="caf783e9-3d8b-4d7c-864c-98cc4e6587ac" Alias="LeaveACommentPlaceholder" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Write your comment here...</Translation>
    <Translation Language="sv">Skriv en kommentar här...</Translation>
  </Translations>
</Dictionary>