<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="1c8b2f5c-fd35-42fb-8979-827f19722885" Alias="NameForReviewsPlaceholder" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Enter your name...</Translation>
    <Translation Language="sv">Skriv ditt namn...</Translation>
  </Translations>
</Dictionary>