<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="eb2033c2-6246-4ea7-bd84-891666983e06" Alias="NoReviewsAvailableRestaurantPage" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">No reviews available.</Translation>
    <Translation Language="sv">Inga recensioner tillgängliga.</Translation>
  </Translations>
</Dictionary>