<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="ba4a1334-a9ba-4d39-b22f-78b630767e0a" Alias="ScrollToTopFooter" Level="0">
  <Info />
  <Translations>
    <Translation Language="en-US">Back to top</Translation>
    <Translation Language="sv">Till toppen</Translation>
  </Translations>
</Dictionary>