<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0f7c3ffa-6d0b-413c-9e63-812b4b27ada8" Alias="AboutUsPicker" Level="1">
  <Info>
    <Name>AboutUsPicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "af9dff22-270c-455a-a40f-625a9ccaa2ca",
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>