<?xml version="1.0" encoding="utf-8"?>
<DataType Key="78755cb2-a330-42b7-899e-61db64bc4f72" Alias="Block List" Level="1">
  <Info>
    <Name>Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "35d2da9c-9a24-4775-b1fd-621ff9ce2274"
    }
  ]
}]]></Config>
</DataType>