<?xml version="1.0" encoding="utf-8"?>
<DataType Key="440059e9-77d2-4eb1-a07b-4c56a38af091" Alias="CategoriesPicker" Level="1">
  <Info>
    <Name>CategoriesPicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>