<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7f8ce309-7271-4456-aca8-862fc7ec779a" Alias="Contact Us - Form" Level="1">
  <Info>
    <Name>Contact Us - Form</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <EditorUIAlias>Forms.PropertyEditorUi.FormPicker.Single</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "allowedForms": [
    "22b1c0c8-c312-4944-9efb-918afa013f90",
    "ac7a01a4-33ba-4762-8674-ce55ee3e9d94"
  ]
}]]></Config>
</DataType>