<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fd1e0da5-5606-4862-b679-5d0cf3a52a59" Alias="Content Picker" Level="1">
  <Info>
    <Name>Content Picker</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Vinbarer",
    "Svenska klassiker",
    "Moderna kvarterskrogar",
    "Fine dining"
  ]
}]]></Config>
</DataType>