<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3" Alias="Content Picker. " Level="1">
  <Info>
    <Name>Content Picker. </Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "b9f9b445-5f1f-438c-9bb6-1df68d865d22",
  "maxNumber": 8,
  "minNumber": 1
}]]></Config>
</DataType>