<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1c5b775b-bcf4-49e3-a4f9-9d3083abb0ac" Alias="Cookie Declaration - Content - Rich Text Editor Property Editor UI" Level="1">
  <Info>
    <Name>Cookie Declaration - Content - Rich Text Editor Property Editor UI</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxImageSize": 500,
  "mode": "Classic",
  "toolbar": [
    "styles",
    "bold",
    "italic",
    "alignleft",
    "aligncenter",
    "alignright",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "sourcecode",
    "link",
    "umbmediapicker",
    "umbembeddialog"
  ]
}]]></Config>
</DataType>