<?xml version="1.0" encoding="utf-8"?>
<DataType Key="94ce94f6-eae1-4cb8-b1eb-7a1d6aa51e4c" Alias="CookiesPicker" Level="1">
  <Info>
    <Name>CookiesPicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "c6a41e98-031f-4d91-87b1-75fc0fcc9a52",
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>