<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7fb8e737-e2d9-40d5-abbb-7ff53fa811ad" Alias="Kontakta oss - Form" Level="1">
  <Info>
    <Name>Kontakta oss - Form</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <EditorUIAlias>Forms.PropertyEditorUi.FormPicker.Single</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "allowedForms": [
    "ac7a01a4-33ba-4762-8674-ce55ee3e9d94"
  ]
}]]></Config>
</DataType>