<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f42ecf17-fe9f-4204-8beb-bf523f2737ab" Alias="MetaData - MetaRobots - Dropdown Property Editor UI" Level="1">
  <Info>
    <Name>MetaData - MetaRobots - Dropdown Property Editor UI</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "index, follow",
    "index, nofollow",
    "noindex, follow",
    "noindex, nofollow"
  ]
}]]></Config>
</DataType>