<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d4f334dd-2a45-466a-9920-f29ded80c606" Alias="Privacy &amp; Terms - Privacy - Rich Text Editor Property Editor UI" Level="1">
  <Info>
    <Name>Privacy &amp; Terms - Privacy - Rich Text Editor Property Editor UI</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxImageSize": 500,
  "mode": "Classic",
  "toolbar": [
    "styles",
    "bold",
    "italic",
    "alignleft",
    "aligncenter",
    "alignright",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "sourcecode",
    "link",
    "umbmediapicker",
    "umbembeddialog"
  ]
}]]></Config>
</DataType>