<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3a7d492b-dce1-4f87-be2a-3827b9765482" Alias="PrivacyTermsPicker" Level="1">
  <Info>
    <Name>PrivacyTermsPicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "6abde0d6-a71a-4492-93d3-24fa0e6b0b83",
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>