<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1d4b4e2d-3df4-47b3-bee6-0826b58b85df" Alias="RestaurantPicker" Level="1">
  <Info>
    <Name>RestaurantPicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "501af639-b5a8-41ef-999f-31b252630d15",
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>