<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8cc126c6-a884-4262-b923-00075c0da054" Alias="Restaurant -  - Dropdown Property Editor UI" Level="1">
  <Info>
    <Name>Restaurant -  - Dropdown Property Editor UI</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Recensioner",
    "Reviews"
  ]
}]]></Config>
</DataType>