<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cdccd3fe-23a1-472d-9384-600cd1278f14" Alias="SearchPagePicker" Level="1">
  <Info>
    <Name>SearchPagePicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "55225a7e-77d3-4018-8b79-9d8be2d1438a",
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>