<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6584a0a9-e552-4a0e-9be1-36942c4ba5d1" Alias="Search - metaRobots - Dropdown Property Editor UI" Level="1">
  <Info>
    <Name>Search - metaRobots - Dropdown Property Editor UI</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "index, follow",
    "noindex, follow",
    "noindex, nofollow",
    "index, nofollow"
  ]
}]]></Config>
</DataType>