<?xml version="1.0" encoding="utf-8"?>
<DataType Key="30a9c6f9-8e02-4b79-8e94-93f5be369703" Alias="Slideshow Container - Slides - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Slideshow Container - Slides - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "35d2da9c-9a24-4775-b1fd-621ff9ce2274"
    }
  ]
}]]></Config>
</DataType>