<?xml version="1.0" encoding="utf-8"?>
<DataType Key="32df09c0-3a94-472c-8045-01ffc65f959f" Alias="Slideshow Block - Slide Picker - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Slideshow Block - Slide Picker - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>