<?xml version="1.0" encoding="utf-8"?>
<DataType Key="95784a43-b307-4315-a801-f391e6794244" Alias="Slideshow Page -  - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Slideshow Page -  - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8e9ff8fb-7bfb-4acf-ada3-193079fd56c5"
    }
  ]
}]]></Config>
</DataType>