<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d50ec039-a8f2-4364-88a4-9fc54014827a" Alias="SlidePicker" Level="1">
  <Info>
    <Name>SlidePicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "84b37bcc-f67e-4ee9-aa27-b56705759d25",
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>