<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9656282f-f628-487c-b42c-0a36d26c6090" Alias="SlideshowPicker (1)" Level="1">
  <Info>
    <Name>SlideshowPicker (1)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "filter": "b8520474-8ce1-43cc-ada8-29bf32938209,35d2da9c-9a24-4775-b1fd-621ff9ce2274",
  "maxNumber": 1,
  "minNumber": 0
}]]></Config>
</DataType>