<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bf1c226b-3773-4e16-a1f2-77a52250c880" Alias="Start - metaRobots - Dropdown Property Editor UI" Level="1">
  <Info>
    <Name>Start - metaRobots - Dropdown Property Editor UI</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "index, follow",
    "noindex, follow",
    "index, nofollow",
    "noindex, nofollow"
  ],
  "multiple": false
}]]></Config>
</DataType>