<?xml version="1.0" encoding="utf-8"?>
<DataType Key="50038595-a2c0-4d86-b1f2-256181afe15d" Alias="Start - metaRobots - Dropdown Property Editor UI (1)" Level="1">
  <Info>
    <Name>Start - metaRobots - Dropdown Property Editor UI (1)</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "index, follow",
    "noindex, follow",
    "index, nofollow",
    "noindex, nofollow"
  ]
}]]></Config>
</DataType>