<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f0c482af-9c7e-48fc-ab31-c3fae923c8a5" Alias="Start - Content - Block Grid Property Editor UI (3)" Level="1">
  <Info>
    <Name>Start - Content - Block Grid Property Editor UI (3)</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "364ef061-a4de-428c-bcb8-fd61b5f718b6",
      "allowAtRoot": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>