<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f568c48e-9ea1-41a1-9bdf-724b9eb1dd1e" Alias="Start - content - Block Grid Property Editor UI" Level="1">
  <Info>
    <Name>Start - content - Block Grid Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "gridColumns": 12
}]]></Config>
</DataType>