<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3eeda034-d907-43b3-a44c-015abf5a07b0" Alias="Start - Content - Block Grid Property Editor UI (1)" Level="1">
  <Info>
    <Name>Start - Content - Block Grid Property Editor UI (1)</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "35d2da9c-9a24-4775-b1fd-621ff9ce2274",
      "allowAtRoot": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>