<?xml version="1.0" encoding="utf-8"?>
<Content Key="2a148cb6-199a-4e0d-a6cf-1d34610cd153" Alias="Adam/Albin" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/AdamAlbin</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-30T15:53:03</CreateDate>
    <NodeName Default="Adam/Albin">
      <Name Culture="en-US">Adam/Albin</Name>
      <Name Culture="sv">Adam/Albin</Name>
    </NodeName>
    <SortOrder>34</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Rådmansgatan 16, 114 25 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Rådmansgatan 16, 114 25 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Fine dining"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Fine dining"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Adam/Albin is a modern restaurant that offers a tasting menu with a focus on Scandinavian flavors and seasonal ingredients. The chefs create innovative dishes with carefully selected ingredients. With its stylish and intimate setting, Adam/Albin is a favorite among food lovers looking for a gastronomic experience.]]></Value>
      <Value Culture="sv"><![CDATA[Adam/Albin är en modern restaurang som erbjuder en avsmakningsmeny med fokus på skandinaviska smaker och säsongsbetonade råvaror. Kockarna skapar innovativa rätter med noggrant utvalda ingredienser. Med sin stilrena och intima miljö är Adam/Albin en favorit bland matälskare som söker en gastronomisk upplevelse.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "7eabab54-a350-4aba-bcee-db47eac1745e",
    "mediaKey": "e98fcf6b-3df0-41d5-b903-d1fed8efe402",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "87564e9e-14ce-4300-bbd8-075b47d4e209",
    "mediaKey": "1b8ebced-799d-487f-a58f-9c20edb2ba2c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "a4057b8e-57d8-4b23-90cd-ea27ba913001",
    "mediaKey": "424f8ac1-59d2-4346-a74f-3953998ff779",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "3ae1c04a-84f9-47dc-83bf-3d9c1f081deb",
    "mediaKey": "a2d537c0-55c8-4ff0-8e15-f6cb6fca2a2f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "d6af9c97-dc77-4c3c-a34e-724a7ee8d1bc",
    "mediaKey": "e905049c-a5cc-4a1d-b011-e1f6e1cd37e5",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "d0a5ecba-6aaf-446a-baa5-648b42079ef0",
    "mediaKey": "19373530-5695-4215-bc6d-2de8d2ab3d30",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "92be8d59-96d4-4ac2-9a77-eeaf10925bb4",
    "mediaKey": "e98fcf6b-3df0-41d5-b903-d1fed8efe402",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[adam, albin, adam/albin, adam och albin, adam & albin, albin och adam, albin/adam, fine, fine dining, dining]]></Value>
      <Value Culture="sv"><![CDATA[adam, albin, adam/albin, adam och albin, adam & albin, albin och adam, albin/adam, fine, fine dining, dining]]></Value>
    </keywords>
    <latitud>
      <Value><![CDATA[]]></Value>
    </latitud>
    <longitud>
      <Value><![CDATA[]]></Value>
    </longitud>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Discover Adam/Albin – a restaurant where taste and creativity meet. A menu filled with exciting flavor combinations and high-quality ingredients is offered here.]]></Value>
      <Value Culture="sv"><![CDATA[Upptäck Adam/Albin – en restaurang där smak och kreativitet möts. Här erbjuds en meny fylld med spännande smakkombinationer och högkvalitativa ingredienser.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Adam/Albin]]></Value>
      <Value Culture="sv"><![CDATA[Adam/Albin]]></Value>
    </restaurantName>
    <title>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Adam/Albin]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Adam/Albin]]></Value>
    </title>
  </Properties>
</Content>