<?xml version="1.0" encoding="utf-8"?>
<Content Key="25d1d375-2948-4a8e-83d6-4a9eda3e5972" Alias="Agrikultur" Level="3">
  <Info>
    <Parent Key="53d9e71f-dd0c-4a9b-9470-5222d97dc6ed">Slideshow</Parent>
    <Path>/Hem/Slideshow/Agrikultur</Path>
    <Trashed>false</Trashed>
    <ContentType>slideshowPage</ContentType>
    <CreateDate>2024-10-22T22:12:58</CreateDate>
    <NodeName Default="Agrikultur">
      <Name Culture="en-US">Agrikultur</Name>
      <Name Culture="sv">Agrikultur</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <altText>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </altText>
    <button>
      <Value Culture="en-US"><![CDATA[To restaurant]]></Value>
      <Value Culture="sv"><![CDATA[Till restaurangen]]></Value>
    </button>
    <image>
      <Value Culture="en-US"><![CDATA[[
  {
    "key": "303e1f35-af1a-47a9-bc28-51dd46332235",
    "mediaKey": "7c7ef66c-f68c-4b5f-9052-a6facc3796d6",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  {
    "key": "4d8bd803-8e74-406c-8619-f1ccc69f1c56",
    "mediaKey": "7c7ef66c-f68c-4b5f-9052-a6facc3796d6",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <link>
      <Value Culture="en-US"><![CDATA[[
  {
    "name": null,
    "target": null,
    "udi": "umb://document/a332204cd1ab4ce49720b78744cdce97",
    "url": null,
    "queryString": null
  }
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  {
    "name": null,
    "target": null,
    "udi": "umb://document/a332204cd1ab4ce49720b78744cdce97",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </link>
  </Properties>
</Content>