<?xml version="1.0" encoding="utf-8"?>
<Content Key="25d1d375-2948-4a8e-83d6-4a9eda3e5972" Alias="Agrikultur" Level="3">
  <Info>
    <Parent Key="53d9e71f-dd0c-4a9b-9470-5222d97dc6ed">Slideshow</Parent>
    <Path>/Start/Slideshow/Agrikultur</Path>
    <Trashed>false</Trashed>
    <ContentType>slideshowPage</ContentType>
    <CreateDate>2024-10-22T22:12:58</CreateDate>
    <NodeName Default="Agrikultur">
      <Name Culture="en-US">Agrikultur</Name>
      <Name Culture="sv">Agrikultur</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <altText>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </altText>
    <image>
      <Value Culture="en-US"><![CDATA[[
  {
    "key": "42a5429a-468d-4689-af19-17d5ce514bed",
    "mediaKey": "3bdea4e1-3993-420e-a103-eb4b364979a1",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  {
    "key": "feb70ef0-f60f-4dc8-a185-f3ee8f6b127b",
    "mediaKey": "3bdea4e1-3993-420e-a103-eb4b364979a1",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <link>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </link>
  </Properties>
</Content>