<?xml version="1.0" encoding="utf-8"?>
<Content Key="b1d76669-1c55-4e8e-a228-57787652439e" Alias="Aira" Level="3">
  <Info>
    <Parent Key="53d9e71f-dd0c-4a9b-9470-5222d97dc6ed">Slideshow</Parent>
    <Path>/Hem/Slideshow/Aira</Path>
    <Trashed>false</Trashed>
    <ContentType>slideshowPage</ContentType>
    <CreateDate>2024-10-22T22:12:45</CreateDate>
    <NodeName Default="Aira">
      <Name Culture="en-US">Aira</Name>
      <Name Culture="sv">Aira</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <altText>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </altText>
    <button>
      <Value Culture="en-US"><![CDATA[To restaurant]]></Value>
      <Value Culture="sv"><![CDATA[Till restaurangen]]></Value>
    </button>
    <image>
      <Value Culture="en-US"><![CDATA[[
  {
    "key": "48af9b56-cecc-4f1a-a225-3181977316eb",
    "mediaKey": "b5e46bda-8e20-4974-a544-f47d99cd6ab9",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  {
    "key": "2cc1808a-de35-435b-b5d0-9349b1e7eb13",
    "mediaKey": "b5e46bda-8e20-4974-a544-f47d99cd6ab9",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <link>
      <Value Culture="en-US"><![CDATA[[
  {
    "name": null,
    "target": null,
    "udi": "umb://document/90473baba06941f3955c70fb4e0d091b",
    "url": null,
    "queryString": null
  }
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  {
    "name": null,
    "target": null,
    "udi": "umb://document/90473baba06941f3955c70fb4e0d091b",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </link>
  </Properties>
</Content>