<?xml version="1.0" encoding="utf-8"?>
<Content Key="90473bab-a069-41f3-955c-70fb4e0d091b" Alias="Aira" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Aira</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-24T18:43:42</CreateDate>
    <NodeName Default="Aira">
      <Name Culture="en-US">Aira</Name>
      <Name Culture="sv">Aira</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">test</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[AiraGatan]]></Value>
      <Value Culture="sv"><![CDATA[AiraGatan]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Fine dining"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Fine dining"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "ea10ddbe-885e-43b6-80ee-15ba70b1688d",
    "mediaKey": "493cc4e8-d4da-4691-a111-cc334ae5df9b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Aira]]></Value>
      <Value Culture="sv"><![CDATA[Aira]]></Value>
    </restaurantName>
  </Properties>
</Content>