<?xml version="1.0" encoding="utf-8"?>
<Content Key="90473bab-a069-41f3-955c-70fb4e0d091b" Alias="Aira" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Aira</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-24T18:43:42</CreateDate>
    <NodeName Default="Aira">
      <Name Culture="en-US">Aira</Name>
      <Name Culture="sv">Aira</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[AiraGatan]]></Value>
      <Value Culture="sv"><![CDATA[Biskopsvägen 9, 115 21 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Fine dining"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Fine dining"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[Aira på Djurgården erbjuder modern nordisk matlagning av stjärnkocken Tommy Myllymäki. Restaurangen har tvåMichelin-stjärnor och serverar avsmakningsmenyer med lokala råvaror i en elegant miljö med utsikt över vattnet. Menyn är kreativ och hållbarhet är en central del i kökets filosofi.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "6b7c5924-2545-45f7-84d2-01070f583d70",
    "mediaKey": "03c4e19b-26dc-4ca1-b970-ab9e3b9c9777",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[aira, fine, fine dining, dining]]></Value>
      <Value Culture="sv"><![CDATA[aira, fine, fine dining, dining]]></Value>
    </keywords>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </metaDescription>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Aira]]></Value>
      <Value Culture="sv"><![CDATA[Aira]]></Value>
    </restaurantName>
    <title>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>