<?xml version="1.0" encoding="utf-8"?>
<Content Key="936986b7-fae4-45c4-a170-5028203e4cb6" Alias="Albin &amp; Adam" Level="3">
  <Info>
    <Parent Key="53d9e71f-dd0c-4a9b-9470-5222d97dc6ed">Slideshow</Parent>
    <Path>/Start/Slideshow/AlbinAdam</Path>
    <Trashed>false</Trashed>
    <ContentType>slideshowPage</ContentType>
    <CreateDate>2024-10-22T20:44:00</CreateDate>
    <NodeName Default="Albin &amp; Adam">
      <Name Culture="en-US">Albin &amp; Adam</Name>
      <Name Culture="sv">Albin &amp; Adam</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <altText>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </altText>
    <image>
      <Value Culture="en-US"><![CDATA[[
  {
    "key": "b5895b91-d1c6-4f59-868c-579979e27c48",
    "mediaKey": "f4c80e77-4036-4c64-9d10-d72a50161479",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  {
    "key": "6b771b31-c354-472b-8ed2-6001048b4787",
    "mediaKey": "f4c80e77-4036-4c64-9d10-d72a50161479",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <link>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </link>
  </Properties>
</Content>