<?xml version="1.0" encoding="utf-8"?>
<Content Key="936986b7-fae4-45c4-a170-5028203e4cb6" Alias="Albin &amp; Adam" Level="3">
  <Info>
    <Parent Key="53d9e71f-dd0c-4a9b-9470-5222d97dc6ed">Slideshow</Parent>
    <Path>/Hem/Slideshow/AlbinAdam</Path>
    <Trashed>false</Trashed>
    <ContentType>slideshowPage</ContentType>
    <CreateDate>2024-10-22T20:44:00</CreateDate>
    <NodeName Default="Albin &amp; Adam">
      <Name Culture="en-US">Albin &amp; Adam</Name>
      <Name Culture="sv">Albin &amp; Adam</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <altText>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </altText>
    <button>
      <Value Culture="en-US"><![CDATA[To restaurant]]></Value>
      <Value Culture="sv"><![CDATA[Till restaurangen]]></Value>
    </button>
    <image>
      <Value Culture="en-US"><![CDATA[[
  {
    "key": "6e5af2d4-7f72-4c22-9ac8-d9316225b9de",
    "mediaKey": "c58de351-cb01-43f3-89a3-bc144f6730ef",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  {
    "key": "487f6d36-15a3-40bd-9eb4-ac7f8ed948fb",
    "mediaKey": "c58de351-cb01-43f3-89a3-bc144f6730ef",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <link>
      <Value Culture="en-US"><![CDATA[[
  {
    "name": null,
    "target": null,
    "udi": "umb://document/2a148cb6199a4e0da6cf1d34610cd153",
    "url": null,
    "queryString": null
  }
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  {
    "name": null,
    "target": null,
    "udi": "umb://document/2a148cb6199a4e0da6cf1d34610cd153",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </link>
  </Properties>
</Content>