<?xml version="1.0" encoding="utf-8"?>
<Content Key="01675e37-0efe-48aa-8602-8f6195a1bb61" Alias="Ambar" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Start/Restauranger/Ambar</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-28T09:51:41</CreateDate>
    <NodeName Default="Ambar">
      <Name Culture="en-US">Ambar</Name>
      <Name Culture="sv">Ambar</Name>
    </NodeName>
    <SortOrder>17</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">test</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Tomtebogatan 22, 113 38 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Tomtebogatan 22, 113 38 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Wine bars"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Vinbarer"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Ambar Wine Bar in Stockholm is known for its passion for orange wines, reflected in its name, which refers to amber. In addition to orange wines, Ambar offers a wide selection of natural wines, beers, and spirits, alongside a menu of Japanese small plates. It is a popular destination for wine enthusiasts who seek unique drinks in a relaxed setting.]]></Value>
      <Value Culture="sv"><![CDATA[Ambar Vinbar i Stockholm är känd för sin passion för orangea viner, vilket speglas i dess namn som anspelar på bärnsten (amber). Utöver orangea viner erbjuder Ambar ett brett sortiment av naturliga viner, öl och sprit. Vinbaren har också en meny med japanska smårätter som komplement till dryckerna. Ambar är en populär destination för vinentusiaster som söker unika och noggrant utvalda drycker i en avslappnad miljö. Vinbaren ligger på Tomtebogatan 22 i Vasastan och är välkänd för sin intima och mysiga atmosfär]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "a78ea98e-5410-4823-b14f-77dfb7472511",
    "mediaKey": "fe41bc26-99c7-4cb2-b8ce-e21402b1dacd",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Ambar]]></Value>
      <Value Culture="sv"><![CDATA[Ambar]]></Value>
    </restaurantName>
  </Properties>
</Content>