<?xml version="1.0" encoding="utf-8"?>
<Content Key="01675e37-0efe-48aa-8602-8f6195a1bb61" Alias="Ambar" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Ambar</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-28T09:51:41</CreateDate>
    <NodeName Default="Ambar">
      <Name Culture="en-US">Ambar</Name>
      <Name Culture="sv">Ambar</Name>
    </NodeName>
    <SortOrder>18</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Tomtebogatan 22, 113 38 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Tomtebogatan 22, 113 38 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Wine bars"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Vinbarer"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Ambar Wine Bar in Stockholm is known for its passion for orange wines, reflected in its name, which refers to amber. In addition to orange wines, Ambar offers a wide selection of natural wines, beers, and spirits, alongside a menu of Japanese small plates. It is a popular destination for wine enthusiasts who seek unique drinks in a relaxed setting.]]></Value>
      <Value Culture="sv"><![CDATA[Ambar Vinbar i Stockholm är känd för sin passion för orangea viner, vilket speglas i dess namn som anspelar på bärnsten (amber). Utöver orangea viner erbjuder Ambar ett brett sortiment av naturliga viner, öl och sprit. Vinbaren har också en meny med japanska smårätter som komplement till dryckerna. Ambar är en populär destination för vinentusiaster som söker unika och noggrant utvalda drycker i en avslappnad miljö. Vinbaren ligger på Tomtebogatan 22 i Vasastan och är välkänd för sin intima och mysiga atmosfär]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "40c6a0a9-11c7-4988-a865-75233776c70b",
    "mediaKey": "fde37d10-5904-479e-9ef0-e42f61bc8899",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "0bb3afc0-069e-4e05-83aa-90a332d12db5",
    "mediaKey": "db87c64b-26a0-4273-a2a7-4ebcbd8fbbc7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "70494f69-2cca-4c6e-85cf-1cdfc02dd32b",
    "mediaKey": "578d7afa-bb25-472d-b043-901fb3a5c0ac",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "b490fb37-4dcb-47b1-9571-6d5175928db6",
    "mediaKey": "e1d684c2-5ea8-4895-883d-c0ca0eceafbf",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "6dfa3029-dcbf-4da7-8024-a96febbe587a",
    "mediaKey": "8cc47e5d-9da0-4d50-9c15-69a5c1e40eee",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "138177d7-8c1e-43b4-9b12-85b6e67ddc9e",
    "mediaKey": "230843ef-51a2-4d04-89d2-565603be0c73",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "d60e3473-9b0b-46b9-8ea1-ab8ef1c601c2",
    "mediaKey": "fde37d10-5904-479e-9ef0-e42f61bc8899",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[amb, ambar, vin, vinbar, vinbarer, vin bar, vin barer, wine, winebar, winebars, wine bar, wine bars, vin och mat, wine and food,cozy wine bar,  vinprovning, wine tasting, mysig vinbar, exklusiva viner, vinprovning, wine list, vinlista, romantisk restaurang, cozy dining, romantic dinner, exclusive date night]]></Value>
      <Value Culture="sv"><![CDATA[amb, ambar, vin, vinbar, vinbarer, vin bar, vin barer, wine, winebar, winebars, wine bar, wine bars, vin och mat, wine and food,cozy wine bar,  vinprovning, wine tasting, mysig vinbar, exklusiva viner, vinprovning, wine list, vinlista, romantisk restaurang, cozy dining, romantic dinner, exclusive date night
]]></Value>
    </keywords>
    <latitud>
      <Value><![CDATA[59.34168]]></Value>
    </latitud>
    <longitud>
      <Value><![CDATA[18.03211]]></Value>
    </longitud>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Visit Ambar – a wine bar with unique wines and a warm atmosphere, where flavors from around the world come together. Perfect for wine enthusiasts and connoisseurs.]]></Value>
      <Value Culture="sv"><![CDATA[Besök Ambar – en vinbar med unika viner och varm atmosfär, där smaker från hela världen möts. Perfekt för vinentusiaster och finsmakare.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Ambar]]></Value>
      <Value Culture="sv"><![CDATA[Ambar]]></Value>
    </restaurantName>
    <seoTitle>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Ambar]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Ambar]]></Value>
    </seoTitle>
  </Properties>
</Content>