<?xml version="1.0" encoding="utf-8"?>
<Content Key="a332204c-d1ab-4ce4-9720-b78744cdce97" Alias="Bar Agrikultur" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/BarAgrikultur</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-11-04T15:52:53</CreateDate>
    <NodeName Default="Bar Agrikultur">
      <Name Culture="en-US">Bar Agrikultur</Name>
      <Name Culture="sv">Bar Agrikultur</Name>
    </NodeName>
    <SortOrder>38</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Skånegatan 79, 116 35 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Skånegatan 79, 116 35 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Modern bistro"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Modern bistro"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Bar Agrikultur is a neighborhood bistro in Södermalm, Stockholm, offering a modern and relaxed dining experience. The bistro focuses on using seasonal and local ingredients, creating a dynamic menu that evolves over time to reflect the flavors of each season. With an open kitchen design, it creates a social atmosphere where guests can watch and experience the cooking up close. The restaurant also features a wide selection of beverages, especially gin, adding to the cozy ambiance. Bar Agrikultur has been recognized in the MICHELIN Guide, indicating a high standard in cooking and service. It’s a popular spot among locals and visitors alike who seek a flavorful and enjoyable dinner in an informal setting.]]></Value>
      <Value Culture="sv"><![CDATA[Bar Agrikultur är en kvarterskrog i Södermalm, Stockholm, som erbjuder en modern och avslappnad matupplevelse. Krogen fokuserar på att använda säsongsbetonade och lokala råvaror, vilket ger en dynamisk meny som förändras över tid för att spegla årets olika smaker. Med en öppen köksdesign skapas en social atmosfär där gästerna kan se och uppleva matlagningen på nära håll.
Restaurangen har också ett brett utbud av drycker, särskilt gin, vilket bidrar till en gemytlig stämning. Bar Agrikultur har fått erkännande i MICHELIN-guiden, vilket indikerar en hög standard inom matlagning och service. Krogen är populär bland både lokalbor och besökare som söker en smakfull och trevlig middag i en informell miljö.
]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "4450175a-b8e7-4247-8228-29babd163209",
    "mediaKey": "1c9430fa-4df2-4d2c-ba39-1a05b4c6dd9f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "7fad4f7e-8199-4e2e-9042-c5c63c32a3fc",
    "mediaKey": "9dc3b53a-624e-4762-a938-28e2285b998e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "80e739c1-3d6a-45e1-88c4-c96f322608d0",
    "mediaKey": "31f1ad62-4da3-483a-a53f-01609e3c8acc",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "8881ecfd-0e55-4295-900e-6039d4b3d4e9",
    "mediaKey": "1c9430fa-4df2-4d2c-ba39-1a05b4c6dd9f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "bef03914-28d3-4762-ac39-d3cd742b08d5",
    "mediaKey": "2ef768c6-f769-4317-bbab-9fd383907ca1",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "38fac410-5b20-453a-9a20-baa024eb5377",
    "mediaKey": "14fc38ac-7983-41a5-85c7-7f982374cc54",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "30d6fa9f-9702-4612-bb87-bebcbfe122a7",
    "mediaKey": "62c3b39b-2fc7-4637-adf3-e0985063b7a6",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[bar agrikultur, agrikultur, modern bistro, modern, bistro, modern mat, avslappnad mat, casual dining, bistro, moderna restauranger, modern dining, Scandinavian twist, kreativ mat, unika smaker,vegetarisk, vegetarian, vegan
]]></Value>
      <Value Culture="sv"><![CDATA[bar agrikultur, agrikultur, modern bistro, modern, bistro, modern mat, avslappnad mat, casual dining, bistro, moderna restauranger, modern dining, Scandinavian twist, kreativ mat, unika smaker, vegetarisk, vegetarian, vegan]]></Value>
    </keywords>
    <latitud>
      <Value><![CDATA[59.31299728355112]]></Value>
    </latitud>
    <longitud>
      <Value><![CDATA[18.08332162662126]]></Value>
    </longitud>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Bar Agrikultur is a neighborhood bistro in Södermalm, Stockholm, offering a relaxed dining experience with seasonal ingredients and a menu that reflects the flavors of the year.]]></Value>
      <Value Culture="sv"><![CDATA[Bar Agrikultur är en kvarterskrog i Södermalm, Stockholm, som erbjuder en avslappnad matupplevelse med säsongsbetonade råvaror och en meny som speglar årets smaker.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Bar Agrikultur]]></Value>
      <Value Culture="sv"><![CDATA[Bar Agrikultur]]></Value>
    </restaurantName>
    <seoTitle>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Bar Agrikultur]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Bar Agrikultur]]></Value>
    </seoTitle>
  </Properties>
</Content>