<?xml version="1.0" encoding="utf-8"?>
<Content Key="58a8b2b2-d2b0-46ce-8c30-798a801daa15" Alias="Cafe Nizza" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/CafeNizza</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-11-04T16:01:02</CreateDate>
    <NodeName Default="Cafe Nizza">
      <Name Culture="en-US">Cafe Nizza</Name>
      <Name Culture="sv">Cafe Nizza</Name>
    </NodeName>
    <SortOrder>41</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Åsögatan 171, 11632 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Åsögatan 171, 11632 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Modern bistro"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Modern bistro"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Café Nizza is a charming neighborhood bistro in Södermalm, Stockholm, known for its French-inspired menu with modern touches. The restaurant offers a relaxed yet elegant atmosphere where guests can enjoy seasonal dishes, often with a creative twist. The focus is on high-quality ingredients and a carefully curated wine list. Both food and drinks are served with care, making it a favorite among locals and food enthusiasts alike.]]></Value>
      <Value Culture="sv"><![CDATA[Café Nizza är en charmig kvarterskrog på Södermalm i Stockholm, känd för sin franskinspirerade meny med moderna inslag. Restaurangen erbjuder en avslappnad och elegant atmosfär, där gästerna kan njuta av säsongsbaserade rätter, ofta med en twist. Fokus ligger på högkvalitativa råvaror och en noggrant utvald vinlista. Både middag och drycker serveras med omsorg, vilket gör det till en favorit bland både lokalbor och matälskare.
]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "5e1953b4-bbd7-491c-992e-578a60c7e18b",
    "mediaKey": "59c1d645-6cfb-420a-9e28-b007c4d0f7df",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "5edd2bb8-f017-4cf3-a0dd-2147bcf4d2aa",
    "mediaKey": "c278621c-82b8-4462-9ea7-2882b40023ef",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "6cd60fe7-9bfd-4ad6-8a7b-9a6bdafb1cb2",
    "mediaKey": "61a9e80d-9fd1-415b-b31e-308dfe46d827",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "d84abb70-c22f-42c3-b9c8-054deb564f2e",
    "mediaKey": "59c1d645-6cfb-420a-9e28-b007c4d0f7df",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "41cf35db-c5a3-4c2e-b76e-7c9336d12958",
    "mediaKey": "2a132cf4-b98b-46ee-892c-09a9375dc1f7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "d7d4ebc0-5362-4964-8a9c-bee56fc42499",
    "mediaKey": "fc9364c6-44fc-4d12-a4e3-a2e337131c64",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "2899eeb7-b604-4643-be4f-0a8c55868339",
    "mediaKey": "f0fb7e53-671f-4d01-ba54-75039be2f168",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[café nizza, nizza, café, cafe nizza, cafe, modern bistro, modern, bistro
]]></Value>
      <Value Culture="sv"><![CDATA[café nizza, nizza, café, cafe nizza, cafe, modern bistro, modern, bistro
]]></Value>
    </keywords>
    <latitud>
      <Value><![CDATA[]]></Value>
    </latitud>
    <longitud>
      <Value><![CDATA[]]></Value>
    </longitud>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Café Nizza is a French-inspired neighborhood bistro in Södermalm, Stockholm, featuring seasonal dishes and a carefully curated wine list.]]></Value>
      <Value Culture="sv"><![CDATA[Café Nizza är en franskinspirerad kvarterskrog på Södermalm i Stockholm med säsongsbaserade rätter och en noggrant utvald vinlista.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Cafe Nizza]]></Value>
      <Value Culture="sv"><![CDATA[Cafe Nizza]]></Value>
    </restaurantName>
    <title>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Cafe Nizza]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Cafe Nizza]]></Value>
    </title>
  </Properties>
</Content>