<?xml version="1.0" encoding="utf-8"?>
<Content Key="f1c9d927-4a7f-496c-8601-148f0fd8addd" Alias="Den gyldene freden" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/DenGyldeneFreden</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-28T11:28:01</CreateDate>
    <NodeName Default="Den gyldene freden">
      <Name Culture="en-US">Den gyldene freden</Name>
      <Name Culture="sv">Den gyldene freden</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">test</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Österlånggatan 51, 111 31 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Österlånggatan 51, 111 31 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Swedish classics"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Svenska klassiker"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Den Gyldene Freden, founded in 1722, is one of the world's oldest restaurants, located in Stockholm's Old Town. Known for its traditional Swedish cuisine and historic atmosphere, the restaurant has been a gathering place for cultural figures and literary societies for centuries. Its authentic setting and rich history make Freden an icon of Swedish culinary culture and heritage.]]></Value>
      <Value Culture="sv"><![CDATA[Den Gyldene Freden, grundad 1722, är en av världens äldsta restauranger och ligger i Gamla stan, Stockholm. Känd för sin traditionella svenska mat och historiska atmosfär, har restaurangen varit en samlingsplats för kulturpersonligheter och litterära sällskap genom århundradena. Dess genuina miljö och anrika historia gör Freden till en ikon för svensk matkultur och kulturarv.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "8f4d60a5-d987-4ae5-b50f-2bbf95223247",
    "mediaKey": "8cf4c57c-78dd-4615-8bbd-4235c7deac30",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "018a7487-60ed-47e2-9287-a38b582b4b8a",
    "mediaKey": "95034967-cde4-49e6-bbdc-69e91188d540",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "f94f767a-d538-40cf-a705-67ceb4f38d1b",
    "mediaKey": "05c50a71-34f0-4bb0-98ae-bc50aff3173c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "1a446899-745f-49dd-9eb4-d913ecec31fe",
    "mediaKey": "8cf4c57c-78dd-4615-8bbd-4235c7deac30",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "d24ebe21-7e70-41b7-83e2-bd34b4a8efcf",
    "mediaKey": "31695176-e9f5-4136-85c1-f363568b7e69",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "0ab46f5f-020b-43ca-9321-4a8a027150b8",
    "mediaKey": "ec4e81da-b6f8-489f-bcf9-69d58b2aed61",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "522de51c-eb7b-4812-8679-e5ec7c6a509a",
    "mediaKey": "52162839-9fb4-403a-bbff-3337e2a37af8",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Den gyldene freden]]></Value>
      <Value Culture="sv"><![CDATA[Den gyldene freden]]></Value>
    </restaurantName>
  </Properties>
</Content>