<?xml version="1.0" encoding="utf-8"?>
<Content Key="38e9510b-29e2-4732-a5b5-18dd126fd7df" Alias="Den Gyldene Freden" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Start/Restauranger/DenGyldeneFreden</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-20T19:36:35</CreateDate>
    <NodeName Default="Den Gyldene Freden">
      <Name Culture="en-US">Den Gyldene Freden</Name>
      <Name Culture="sv">Den Gyldene Freden</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Österlånggatan 51, 111 31 Stockholm.]]></Value>
      <Value Culture="sv"><![CDATA[Österlånggatan 51, 111 31 Stockholm.]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Svenska Klassiker"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Svenska Klassiker"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Den Gyldene Freden, founded in 1722, is one of the oldest restaurants in the world and is located in Gamla Stan, Stockholm. Known for its traditional Swedish cuisine and historic atmosphere, the restaurant has been a gathering place for cultural figures and literary societies throughout the centuries. Its authentic setting and rich history make Freden an icon of Swedish culinary culture and heritage.]]></Value>
      <Value Culture="sv"><![CDATA[Den Gyldene Freden, grundad 1722, är en av världens äldsta restauranger och ligger i Gamla stan, Stockholm. Känd för sin traditionella svenska mat och historiska atmosfär, har restaurangen varit en samlingsplats för kulturpersonligheter och litterära sällskap genom århundradena. Dess genuina miljö och anrika historia gör Freden till en ikon för svensk matkultur och kulturarv.]]></Value>
    </description>
    <images>
      <Value Culture="en-US"><![CDATA[[
  {
    "key": "84c37c51-4452-45cf-9e8a-a2ead3731990",
    "mediaKey": "a62b0f58-8f60-47d3-a2a4-4376d25155b9",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "99c4452a-cf20-4256-a166-deff372a30ab",
    "mediaKey": "663ba62e-1c6d-414a-904e-79019c003cb1",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "cff160a6-09fd-42ec-aaa0-cf65e5e3e3d4",
    "mediaKey": "2153261e-771f-44ae-b5b9-0e1cdf29db1a",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "b82777b4-4542-4a10-9d1e-6433f5474aed",
    "mediaKey": "b763a6ac-e432-4087-bebf-0a2539dcc2ca",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "b0895735-ea74-403c-a32d-a5386be86582",
    "mediaKey": "cd59f7de-9e27-414d-a379-b2f2fe36e27e",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  {
    "key": "ca5a4699-c299-4e34-85d6-3cd346f57aa4",
    "mediaKey": "a62b0f58-8f60-47d3-a2a4-4376d25155b9",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "0c72b81f-fa1c-49a2-be13-352c6cfb6397",
    "mediaKey": "663ba62e-1c6d-414a-904e-79019c003cb1",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "d2f84bdd-9b9c-454a-b559-c40a7222d307",
    "mediaKey": "2153261e-771f-44ae-b5b9-0e1cdf29db1a",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "f287d6a0-a710-4cda-9397-68a9da38eddf",
    "mediaKey": "b763a6ac-e432-4087-bebf-0a2539dcc2ca",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "dc4c53ba-7d72-4615-a2ab-fb7c041a85f1",
    "mediaKey": "cd59f7de-9e27-414d-a379-b2f2fe36e27e",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Den Gyldene Freden]]></Value>
      <Value Culture="sv"><![CDATA[Den Gyldene Freden]]></Value>
    </restaurantName>
  </Properties>
</Content>