<?xml version="1.0" encoding="utf-8"?>
<Content Key="be715ba5-ec96-4373-90c1-9f83130be146" Alias="Ekstedt" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Ekstedt</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-30T12:56:10</CreateDate>
    <NodeName Default="Ekstedt">
      <Name Culture="en-US">Ekstedt</Name>
      <Name Culture="sv">Ekstedt</Name>
    </NodeName>
    <SortOrder>32</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Humlegårdsgatan 17, 114 46 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Humlegårdsgatan 17, 114 46 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Fine dining"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Fine dining"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Ekstedt offers a unique dining experience where all food is cooked with fire and wood-burning ovens, without electricity. The restaurant focuses on natural, smoky flavors brought out through traditional cooking techniques. With a Michelin star and a creative menu, Ekstedt is a destination for those looking for something different.]]></Value>
      <Value Culture="sv"><![CDATA[Ekstedt erbjuder en unik matupplevelse där all mat lagas med eld och vedeldade ugnar, utan elektricitet. Restaurangen fokuserar på naturliga, rökiga smaker som framhävs genom traditionella matlagningstekniker. Med en Michelin-stjärna och en kreativ meny är Ekstedt en destination för dem som söker något annorlunda.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "833f44c1-c43b-4838-99f8-2d0e19a274af",
    "mediaKey": "78123b47-3492-4d0e-a988-9ba94be02471",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "95193333-22a0-4739-be84-3afb0061076e",
    "mediaKey": "3097b5bb-6472-47e3-91ad-e62ea13f7ffe",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "df9d44c8-1d18-4655-a863-5c75289abe2c",
    "mediaKey": "b023b822-fc94-49d7-8a9e-a3d7aa99f241",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "bb335049-b007-49b7-a796-8fcb8dce5fee",
    "mediaKey": "936c5629-6f73-48fc-9263-66c6fc3449de",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "11ea56de-0179-43ce-a413-288c0c3cd08e",
    "mediaKey": "de09f8a9-d9ba-46c6-8dce-56541a765ed4",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "c28cb66e-8832-4faf-96b0-ed21809429e9",
    "mediaKey": "d57eb893-8cb3-4952-ac66-8c77ea78e0dd",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "dcbe33ed-b240-4cc4-b69e-2c7395f71430",
    "mediaKey": "78123b47-3492-4d0e-a988-9ba94be02471",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[eksted, ekstedt, fine, fine dining, dining]]></Value>
      <Value Culture="sv"><![CDATA[eksted, ekstedt, fine, fine dining, dining]]></Value>
    </keywords>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Experience Ekstedt - where fire is the heart of every dish. With a focus on Nordic flavors, all food is prepared over an open fire for a genuine and rustic dining experience.]]></Value>
      <Value Culture="sv"><![CDATA[Upplev Ekstedt – där elden är hjärtat i varje rätt. Med fokus på nordiska smaker tillagas all mat över öppen eld för en genuin och rustik matupplevelse.]]></Value>
    </metaDescription>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Ekstedt]]></Value>
      <Value Culture="sv"><![CDATA[Ekstedt]]></Value>
    </restaurantName>
    <title>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Ekstedt]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Ekstedt]]></Value>
    </title>
  </Properties>
</Content>