<?xml version="1.0" encoding="utf-8"?>
<Content Key="be715ba5-ec96-4373-90c1-9f83130be146" Alias="Ekstedt" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Ekstedt</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-30T12:56:10</CreateDate>
    <NodeName Default="Ekstedt">
      <Name Culture="sv">Ekstedt</Name>
    </NodeName>
    <SortOrder>32</SortOrder>
    <Published Default="true">
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="sv"><![CDATA[Humlegårdsgatan 17, 114 46 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="sv"><![CDATA[[
  "Fine dining"
]]]></Value>
    </category>
    <description>
      <Value Culture="sv"><![CDATA[Ekstedt erbjuder en unik matupplevelse där all mat lagas med eld och vedeldade ugnar, utan elektricitet. Restaurangen fokuserar på naturliga, rökiga smaker som framhävs genom traditionella matlagningstekniker. Med en Michelin-stjärna och en kreativ meny är Ekstedt en destination för dem som söker något annorlunda.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "833f44c1-c43b-4838-99f8-2d0e19a274af",
    "mediaKey": "78123b47-3492-4d0e-a988-9ba94be02471",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <restaurantName>
      <Value Culture="sv"><![CDATA[Ekstedt]]></Value>
    </restaurantName>
  </Properties>
</Content>