<?xml version="1.0" encoding="utf-8"?>
<Content Key="dac5bc25-7ea5-42d6-bbe3-a5c05fcc65ea" Alias="Fine dining" Level="3">
  <Info>
    <Parent Key="ca4a87b9-250a-4b77-9a1e-751aaadc0b8a">Kategorier</Parent>
    <Path>/Hem/Kategorier/FineDining</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2024-10-21T13:47:30</CreateDate>
    <NodeName Default="Fine dining">
      <Name Culture="en-US">Fine dining</Name>
      <Name Culture="sv">Fine dining</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="ad165113-16c8-46f3-955e-3451d0767057">category</Template>
  </Info>
  <Properties>
    <description>
      <Value Culture="en-US"><![CDATA[Fine dining provides luxurious, innovative dishes with a focus on quality, service, and exclusive ambiance.]]></Value>
      <Value Culture="sv"><![CDATA[Fine dining erbjuder lyxiga, innovativa rätter med fokus på kvalitet, service och exklusiv atmosfär.]]></Value>
    </description>
    <displayName>
      <Value Culture="en-US"><![CDATA[Fine dining]]></Value>
      <Value Culture="sv"><![CDATA[Fine dining]]></Value>
    </displayName>
    <image>
      <Value><![CDATA[[
  {
    "key": "89de941c-8d92-49fc-b4aa-a8d384dc85e5",
    "mediaKey": "808dd6c2-3e8c-4e54-9bea-e6c8407fec31",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Experience fine dining at The Fork & Glass – explore elegant restaurants and gourmet dishes crafted to perfection for a memorable culinary experience.]]></Value>
      <Value Culture="sv"><![CDATA[Upplev fine dining på Gaffeln & Glaset – utforska eleganta restauranger och gourmeträtter skapade till perfektion för en minnesvärd matupplevelse.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <seoTitle>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Fine dining]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Fine dining]]></Value>
    </seoTitle>
  </Properties>
</Content>