<?xml version="1.0" encoding="utf-8"?>
<Content Key="dac5bc25-7ea5-42d6-bbe3-a5c05fcc65ea" Alias="Fine dining" Level="3">
  <Info>
    <Parent Key="ca4a87b9-250a-4b77-9a1e-751aaadc0b8a">Kategorier</Parent>
    <Path>/Start/Kategorier/FineDining</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2024-10-21T13:47:30</CreateDate>
    <NodeName Default="Fine dining">
      <Name Culture="en-US">Fine dining</Name>
      <Name Culture="sv">Fine dining</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayName>
      <Value Culture="en-US"><![CDATA[Fine dining]]></Value>
      <Value Culture="sv"><![CDATA[Fine dining]]></Value>
    </displayName>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
  </Properties>
</Content>