<?xml version="1.0" encoding="utf-8"?>
<Content Key="a047d77f-e47f-41e4-bd38-c95dc1db3480" Alias="Fotografiska" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Fotografiska</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-30T12:57:01</CreateDate>
    <NodeName Default="Fotografiska">
      <Name Culture="en-US">Fotografiska</Name>
      <Name Culture="sv">Fotografiska</Name>
    </NodeName>
    <SortOrder>33</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Stadsgårdshamnen 22, 116 45 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Stadsgårdshamnen 22, 116 45 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Fine dining"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Fine dining"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Fotografiska Restaurang is known for its focus on sustainability and its spectacular view of Stockholm's inlet. The menu is mainly plant-based with a "from root to leaf" concept that reduces food waste. Chef Paul Svensson offers creative dishes that reflect the season's best ingredients.]]></Value>
      <Value Culture="sv"><![CDATA[Fotografiska Restaurang är känd för sitt hållbarhetsfokus och sin spektakulära utsikt över Stockholms inlopp. Menyn är främst växtbaserad med ett ”från rot till blad”-koncept som minskar matsvinnet. Kocken Paul Svensson erbjuder kreativa rätter som speglar säsongens bästa råvaror.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "423c79ac-042d-4a3e-aee0-edae73c075e0",
    "mediaKey": "d52a0112-5b7e-40c3-afec-00771a62748d",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "39a2dce4-7878-4c4c-aa30-92d6f40102e0",
    "mediaKey": "118cc5b6-2236-460c-aafc-e5270047caef",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "a48774b6-2177-4b47-9411-86bdbe8a8617",
    "mediaKey": "4ca7dda4-b83a-4c1f-983f-29706ef61031",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "70e2acbc-3388-4ece-aab4-f82267edd6bd",
    "mediaKey": "b2a09372-38e4-4289-af49-dc8fe5154a03",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "1614ca8a-bacf-4573-a21f-6a1c060984cd",
    "mediaKey": "ce0f6a5b-e69c-469c-90bb-86d545430b85",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "307ec1b7-5711-4ae2-9b48-f1169a865fcc",
    "mediaKey": "834f7cc4-4d8e-4d7f-a11e-5bcb7e57419f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "da41c12b-600e-4d1e-aaa4-c53f63fd16c4",
    "mediaKey": "d52a0112-5b7e-40c3-afec-00771a62748d",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[foto, fotografisk, fotografiska, fotografisk restaurang, fotografiska restaurang, fine, fine dining, dining, exklusiv mat, elegant mat, avsmakningsmeny, tasting menu, fine food, elegant dining, nordiska smaker, Scandinavian cuisine, Nordic food, modern nordisk mat, fine dining , romantic restaurang, romantic dinner, vegetarisk, vegetarian, vegan]]></Value>
      <Value Culture="sv"><![CDATA[foto, fotografisk, fotografiska, fotografisk restaurang, fotografiska restaurang, fine, fine dining, dining, exklusiv mat, elegant mat, avsmakningsmeny, tasting menu, fine food, elegant dining, nordiska smaker, Scandinavian cuisine, Nordic food, modern nordisk mat, fine dining , romantic restaurang, romantic dinner, vegetarisk, vegetarian, vegan]]></Value>
    </keywords>
    <latitud>
      <Value><![CDATA[59.3180039]]></Value>
    </latitud>
    <longitud>
      <Value><![CDATA[18.0847007]]></Value>
    </longitud>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Explore Fotografiska – a cultural destination that combines art and food. Enjoy seasonal and sustainable dishes with Stockholm's beautiful views in the background.]]></Value>
      <Value Culture="sv"><![CDATA[Utforska Fotografiska – en kulturell destination som förenar konst och mat. Njut av säsongsbaserade och hållbara rätter med Stockholms vackra vyer i bakgrunden.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Fotografiska]]></Value>
      <Value Culture="sv"><![CDATA[Fotografiska Restaurang]]></Value>
    </restaurantName>
    <seoTitle>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Fotografiska]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Fotografiska]]></Value>
    </seoTitle>
  </Properties>
</Content>