<?xml version="1.0" encoding="utf-8"?>
<Content Key="a047d77f-e47f-41e4-bd38-c95dc1db3480" Alias="Fotografiska" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Fotografiska</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-30T12:57:01</CreateDate>
    <NodeName Default="Fotografiska">
      <Name Culture="sv">Fotografiska</Name>
    </NodeName>
    <SortOrder>33</SortOrder>
    <Published Default="true">
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">test</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="sv"><![CDATA[Stadsgårdshamnen 22, 116 45 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="sv"><![CDATA[[
  "Fine dining"
]]]></Value>
    </category>
    <description>
      <Value Culture="sv"><![CDATA[Fotografiska Restaurang är känd för sitt hållbarhetsfokus och sin spektakulära utsikt över Stockholms inlopp. Menyn är främst växtbaserad med ett ”från rot till blad”-koncept som minskar matsvinnet. Kocken Paul Svensson erbjuder kreativa rätter som speglar säsongens bästa råvaror.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "423c79ac-042d-4a3e-aee0-edae73c075e0",
    "mediaKey": "d52a0112-5b7e-40c3-afec-00771a62748d",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <restaurantName>
      <Value Culture="sv"><![CDATA[Fotografiska Restaurang]]></Value>
    </restaurantName>
  </Properties>
</Content>