<?xml version="1.0" encoding="utf-8"?>
<Content Key="f6185075-467d-4da5-a613-4bfb85f9a327" Alias="Främmat" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Frammat</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-30T12:55:23</CreateDate>
    <NodeName Default="Främmat">
      <Name Culture="en-US">Främmat</Name>
      <Name Culture="sv">Främmat</Name>
    </NodeName>
    <SortOrder>31</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Dalagatan 54, 113 24 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Dalagatan 54, 113 24 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Fine dining"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Fine dining"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Främmat offers a seasonal tasting menu with a focus on local and sustainable ingredients. The menu varies depending on the availability of ingredients and surprises with creative flavor combinations. The atmosphere is relaxed and personal, making it the perfect place for a unique dining experience.]]></Value>
      <Value Culture="sv"><![CDATA[Främmat erbjuder en säsongsbaserad avsmakningsmeny med fokus på lokala och hållbara råvaror. Menyn varierar beroende på tillgången på ingredienser och överraskar med kreativa smakkombinationer. Atmosfären är avslappnad och personlig, vilket gör det till ett perfekt ställe för en unik matupplevelse.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "7e4c1813-ca3f-4686-81bf-12cf68757569",
    "mediaKey": "725f8595-f093-478a-b603-9835147a0082",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "95f87c29-b84e-45a2-a136-c9d21d5c503a",
    "mediaKey": "e7f3d267-2350-4533-bcd7-2686e159bf4c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "85c635a5-1354-41c2-8add-71668903b72b",
    "mediaKey": "ee50ad21-3f10-44fa-920e-e8cc585b8229",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "a11f4951-bd79-4a17-9c68-6b8ec563bfc6",
    "mediaKey": "c3b84e58-26c4-46b3-be05-1b7494d15fd8",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "07f3c59e-be02-4981-9903-fbaf92d5fd46",
    "mediaKey": "278f6c5f-4b45-490a-9045-daab113591fb",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "c3008c24-eb93-4452-925a-6d307504bc7f",
    "mediaKey": "d1ad8ea6-b8c1-458d-a769-137186d40d22",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "cd86cd79-0572-4a73-aa39-74852b5d51db",
    "mediaKey": "725f8595-f093-478a-b603-9835147a0082",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[främmat, främma, främat, frammat, framma, framat, fine, fine dining, dining, exklusiv mat, elegant mat, avsmakningsmeny, tasting menu, fine food, elegant dining, nordiska smaker, Scandinavian cuisine, Nordic food, modern nordisk mat, fine dining , romantic restaurang, romantic dinner]]></Value>
      <Value Culture="sv"><![CDATA[främmat, främma, främat, frammat, framma, framat, fine, fine dining, dining, exklusiv mat, elegant mat, avsmakningsmeny, tasting menu, fine food, elegant dining, nordiska smaker, Scandinavian cuisine, Nordic food, modern nordisk mat, fine dining , romantic restaurang, romantic dinner]]></Value>
    </keywords>
    <latitud>
      <Value><![CDATA[59.3422513]]></Value>
    </latitud>
    <longitud>
      <Value><![CDATA[18.0452429]]></Value>
    </longitud>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Visit Främmat - a homely and unique food destination with an ever-changing menu. Explore dishes created with great passion for the season's finest ingredients.]]></Value>
      <Value Culture="sv"><![CDATA[Besök Främmat – en hemtrevlig och unik matdestination med en ständigt föränderlig meny. Utforska rätter skapade med stor passion för säsongens finaste råvaror.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Främmat]]></Value>
      <Value Culture="sv"><![CDATA[Främmat]]></Value>
    </restaurantName>
    <seoTitle>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Främmat]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Främmat]]></Value>
    </seoTitle>
  </Properties>
</Content>