<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f1f6ca6-22aa-4ad2-a540-181a42c46328" Alias="Frantzén" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Frantzen</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-30T12:51:10</CreateDate>
    <NodeName Default="Frantzén">
      <Name Culture="en-US">Frantzén</Name>
      <Name Culture="sv">Frantzén</Name>
    </NodeName>
    <SortOrder>27</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Klara Norra kyrkogata 26, 111 22 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Klara Norra kyrkogata 26, 111 22 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Fine dining"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Fine dining"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Frantzén has three Michelin stars and offers a unique fusion of Scandinavian and international flavors. An innovative tasting menu is served here, which is constantly changing to reflect the season's best ingredients. The food is artistically presented in an exclusive and intimate setting.]]></Value>
      <Value Culture="sv"><![CDATA[Frantzén har tre Michelin-stjärnor och erbjuder en unik fusion av skandinaviska och internationella smaker. Här serveras en innovativ avsmakningsmeny som ständigt förändras för att spegla säsongens bästa råvaror. Maten är konstnärligt presenterad i en exklusiv och intim miljö.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "34812695-6595-464c-8ca6-73312fe161a5",
    "mediaKey": "f11d71cc-c6b1-4dfe-b2d8-b4bb0fa3fdf1",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "075db725-a95a-48b5-9726-f8ad0c4709d0",
    "mediaKey": "e55968e1-1d62-4755-9c25-4a59db991c0c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "2514f215-6e42-4729-a5e8-90a730fcde70",
    "mediaKey": "8f44f465-7b02-4700-a557-c47e939f2ce7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "103e49ef-0083-47bd-a7ee-d4a2193387dc",
    "mediaKey": "d7f5ba43-3298-4776-acd1-272a7d0b8045",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "b35725bc-5926-4901-8bfd-da446a17922d",
    "mediaKey": "c4998a7c-ff83-4318-9813-406c0bbebe86",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "e0d5e42a-73f9-45b6-9237-d20a0281ab34",
    "mediaKey": "f27557df-4796-4668-9e66-9c058b90da47",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "de9a8899-7007-4d5a-8d0c-3a197c2addda",
    "mediaKey": "f11d71cc-c6b1-4dfe-b2d8-b4bb0fa3fdf1",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[frantzen, frantzén, frantz, fine, fine dining, dining]]></Value>
      <Value Culture="sv"><![CDATA[frantzen, frantzén, frantz, fine, fine dining, dining]]></Value>
    </keywords>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Visit Frantzén – a gastronomic journey with a combination of Nordic, Japanese and French influences. Enjoy an exclusive menu from one of the world's best restaurants.]]></Value>
      <Value Culture="sv"><![CDATA[Besök Frantzén – en gastronomisk resa med en kombination av nordisk, japansk och fransk influens. Njut av en exklusiv meny från en av världens bästa restauranger.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Frantzén]]></Value>
      <Value Culture="sv"><![CDATA[Frantzén]]></Value>
    </restaurantName>
    <title>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Frantzén]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Frantzén]]></Value>
    </title>
  </Properties>
</Content>