<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f1f6ca6-22aa-4ad2-a540-181a42c46328" Alias="Frantzén" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Frantzen</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-30T12:51:10</CreateDate>
    <NodeName Default="Frantzén">
      <Name Culture="sv">Frantzén</Name>
    </NodeName>
    <SortOrder>27</SortOrder>
    <Published Default="false">
      <Published Culture="sv">false</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">test</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="sv"><![CDATA[Klara Norra kyrkogata 26, 111 22 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="sv"><![CDATA[[
  "Fine dining"
]]]></Value>
    </category>
    <description>
      <Value Culture="sv"><![CDATA[Frantzén har tre Michelin-stjärnor och erbjuder en unik fusion av skandinaviska och internationella smaker. Här serveras en innovativ avsmakningsmeny som ständigt förändras för att spegla säsongens bästa råvaror. Maten är konstnärligt presenterad i en exklusiv och intim miljö.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "34812695-6595-464c-8ca6-73312fe161a5",
    "mediaKey": "f11d71cc-c6b1-4dfe-b2d8-b4bb0fa3fdf1",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <restaurantName>
      <Value Culture="sv"><![CDATA[Frantzén]]></Value>
    </restaurantName>
  </Properties>
</Content>