<?xml version="1.0" encoding="utf-8"?>
<Content Key="c637728a-be27-4e1b-8061-c6faef45ea5c" Alias="Gemla vinbar" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/GemlaVinbar</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-28T09:36:24</CreateDate>
    <NodeName Default="Gemla vinbar">
      <Name Culture="en-US">Gemla vinbar</Name>
      <Name Culture="sv">Gemla vinbar</Name>
    </NodeName>
    <SortOrder>17</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Magnus Ladulåsgatan 10, 118 66 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Magnus Ladulåsgatan 10, 118 66 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Wine bars"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Vinbarer"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Located in Södermalm, Stockholm, Gemla Vinbar blends design and wine in a harmonious way. During the day, it's a showroom for the Gemla furniture factory, and by evening, it becomes a wine bar run by sommeliers Anna Mellfors and Ola Arnkil. They serve natural wines from artisanal vineyards with a focus on sustainability and quality.]]></Value>
      <Value Culture="sv"><![CDATA[Gemla Vinbar är en unik vinbar på Södermalm i Stockholm, där design och vin möts i en harmonisk kombination. Lokalen fungerar som ett showroom för Gemla möbelfabrik under dagen, men på kvällen förvandlas den till en vinbar som drivs av sommeliererna Anna Mellfors och Ola Arnkil. Här serveras naturviner från hantverksvinodlingar, med fokus på hållbarhet och kvalitet. Barens stilrena interiör och dess fokus på omsorgsfullt utvalda viner gör det till en favorit bland vinentusiaster​]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "eab9c2d0-4cfd-4e84-8a25-264d07889cf1",
    "mediaKey": "d41dd43a-76b9-4c80-a191-cfa209cc85e8",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "bae29cbf-3c46-4f18-88dd-0b560b1a0a00",
    "mediaKey": "54cbc2a2-d80d-4916-97fb-a566f089e31f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "85dcf1d8-c036-42bd-9795-8192b8049e80",
    "mediaKey": "d41dd43a-76b9-4c80-a191-cfa209cc85e8",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "21bde2b8-48d3-41d1-8a1a-44b1be793a75",
    "mediaKey": "68be4771-c3c5-420d-9643-62893abe533b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "8afbc587-7794-444d-bcc4-62ee923bfef1",
    "mediaKey": "f984ab48-db16-478c-a83a-1cf69b2828ff",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "d3a04790-16bd-4a99-b24e-1f8381b874c2",
    "mediaKey": "310f4475-d2cb-4513-867d-293efb61c69d",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "9c1ffbbd-9242-4a91-bcbe-086023c8b69a",
    "mediaKey": "4f2f3cef-6dd7-4efb-a464-6be32cf40e96",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[gemla, vinbar, gemla, gemla wine, gemla vin, vin, vinbar, vinbarer, vin bar, vin barer, wine, winebar, winebars, wine bar, wine bars
]]></Value>
      <Value Culture="sv"><![CDATA[gemla, vinbar, gemla, gemla wine, gemla vin, vin, vinbar, vinbarer, vin bar, vin barer, wine, winebar, winebars, wine bar, wine bars
]]></Value>
    </keywords>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Discover Gemla Wine Bar – a cozy wine bar focused on natural wines and a relaxed ambiance. Perfect for wine lovers in the heart of Stockholm.]]></Value>
      <Value Culture="sv"><![CDATA[Upptäck Gemla Vinbar – en mysig vinbar med fokus på naturliga viner och avslappnad atmosfär. Perfekt för vinälskare i hjärtat av Stockholm.]]></Value>
    </metaDescription>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Gemla vinbar]]></Value>
      <Value Culture="sv"><![CDATA[Gemla vinbar]]></Value>
    </restaurantName>
    <title>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | ]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | ]]></Value>
    </title>
  </Properties>
</Content>