<?xml version="1.0" encoding="utf-8"?>
<Content Key="89daa275-6509-4c33-8450-5f3633c034ed" Alias="Grands Veranda" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/GrandsVeranda</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-24T20:22:35</CreateDate>
    <NodeName Default="Grands Veranda">
      <Name Culture="en-US">Grands Veranda</Name>
      <Name Culture="sv">Grands Veranda</Name>
    </NodeName>
    <SortOrder>14</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Södra Blasieholmshamnen 8, 111 48 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Södra Blasieholmshamnen 8, 111 48 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Swedish classics"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Svenska klassiker"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Grands Veranda, located in the Grand Hôtel Stockholm, offers one of the city's best views over Strömmen and the Royal Palace. The restaurant is known for its Swedish and international menu, where classic home-cooked dishes meet modern cuisine. With its elegant setting and rich history, Grands Veranda is a place for exclusive dining and luxurious relaxation.]]></Value>
      <Value Culture="sv"><![CDATA[Grands Veranda, belägen i Grand Hôtel Stockholm, erbjuder en av stadens bästa utsikter över Strömmen och Kungliga Slottet. Restaurangen är känd för sin svenska och internationella meny, där klassisk husmanskost möter moderna rätter. Med sin eleganta miljö och anrika historia är Grands Veranda en plats för exklusiva måltider och lyxig avkoppling.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "a780610b-1830-4882-b4e3-3bec503ab80f",
    "mediaKey": "4484fd52-cfa4-4710-acf4-0c783c4cd900",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "03523746-9517-4e00-ba53-d0667881cb86",
    "mediaKey": "8e0a7dc5-49e2-498e-b758-5a98fd98ba71",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "1530e7de-b0cb-462b-9347-ef367dd3afc7",
    "mediaKey": "4f3323c9-8823-49fd-bed4-f1b424f96b11",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "796e6713-7aad-4a0a-8d96-9781ff0085b1",
    "mediaKey": "432cd636-8f9e-4251-958c-1f55a5682e01",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "68602a86-43c7-4f58-acc8-073848cb9cc9",
    "mediaKey": "1a3eac6c-71c9-4b97-af00-d058661a3ebb",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "a11bf00c-c764-4340-868c-1c9e800db4d9",
    "mediaKey": "2e7fe34e-5074-4790-ab76-5817353dcc89",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "d7a6bcdc-a61f-40dd-8a5e-0ef900aabd54",
    "mediaKey": "3aaa43f2-2afb-4181-9a96-fd506ff21f69",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Grands Veranda]]></Value>
      <Value Culture="sv"><![CDATA[Grands Veranda]]></Value>
    </restaurantName>
  </Properties>
</Content>