<?xml version="1.0" encoding="utf-8"?>
<Content Key="89daa275-6509-4c33-8450-5f3633c034ed" Alias="Grands Veranda" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/GrandsVeranda</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-24T20:22:35</CreateDate>
    <NodeName Default="Grands Veranda">
      <Name Culture="en-US">Grands Veranda</Name>
      <Name Culture="sv">Grands Veranda</Name>
    </NodeName>
    <SortOrder>14</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Södra Blasieholmshamnen 8, 111 48 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Södra Blasieholmshamnen 8, 111 48 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Swedish classics"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Svenska klassiker"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Grands Veranda, located in the Grand Hôtel Stockholm, offers one of the city's best views over Strömmen and the Royal Palace. The restaurant is known for its Swedish and international menu, where classic home-cooked dishes meet modern cuisine. With its elegant setting and rich history, Grands Veranda is a place for exclusive dining and luxurious relaxation.]]></Value>
      <Value Culture="sv"><![CDATA[Grands Veranda, belägen i Grand Hôtel Stockholm, erbjuder en av stadens bästa utsikter över Strömmen och Kungliga Slottet. Restaurangen är känd för sin svenska och internationella meny, där klassisk husmanskost möter moderna rätter. Med sin eleganta miljö och anrika historia är Grands Veranda en plats för exklusiva måltider och lyxig avkoppling.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "7d92b201-749c-4dc5-a7e2-231724a4c027",
    "mediaKey": "1bd93c88-6fc8-414b-b4a1-3b85424f0d9c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "0d03a8de-d3b0-45c5-8f66-8f82e0b215db",
    "mediaKey": "fd427cce-c3fd-45ef-bbe1-5082b00f8235",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "4bb681d9-26bc-4691-8103-dad522cbd101",
    "mediaKey": "afc76e28-6c3c-4efb-83ff-c28028cf21e2",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "25274e0e-5389-44e9-8f3c-02cb8a0be73c",
    "mediaKey": "68d75b3f-e290-488e-ac0c-4840bbca6fc5",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "deb2b9fb-a859-4274-817d-f58248380502",
    "mediaKey": "3fa85efb-0e28-4560-9bbb-bbef09cf50ba",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "8cdfd9ae-4e9b-4535-a807-2f2a8c0479eb",
    "mediaKey": "4b584ab5-0404-4cf7-b0ac-3d276e02bd2c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "ac900e94-bb8e-48b7-83a3-205b4f70a5c7",
    "mediaKey": "9ea58273-9917-48a0-a84c-9cf960ae691a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[grand, grand veranda, grands, grands veranda, veranda, svenska, svenska klassiker, klassiker, Swedish, Swedish classics, classics, svensk mat, traditionell mat, svensk husmanskost, husmanskost, Swedish food, traditional Swedish cuisine, classic Stockholm dining, traditionell restaurang, casual, svenska rätter, Swedish dish, lyxmat, exclusive food
]]></Value>
      <Value Culture="sv"><![CDATA[grand, grand veranda, grands, grands veranda, veranda, svenska, svenska klassiker, klassiker, Swedish, Swedish classics, classics, svensk mat, traditionell mat, svensk husmanskost, husmanskost, Swedish food, traditional Swedish cuisine, classic Stockholm dining, traditionell restaurang, casual, svenska rätter, Swedish dish, lyxmat, exclusive food
]]></Value>
    </keywords>
    <latitud>
      <Value><![CDATA[59.32994]]></Value>
    </latitud>
    <longitud>
      <Value><![CDATA[18.07580]]></Value>
    </longitud>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Experience Grands Veranda at the Grand Hôtel Stockholm – Swedish and international cuisine with stunning views over Strömmen and the Royal Palace.]]></Value>
      <Value Culture="sv"><![CDATA[Upplev Grands Veranda på Grand Hôtel Stockholm – svensk och internationell mat med fantastisk utsikt över Strömmen och Kungliga Slottet.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Grands Veranda]]></Value>
      <Value Culture="sv"><![CDATA[Grands Veranda]]></Value>
    </restaurantName>
    <seoTitle>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Grands Veranda]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Grands Veranda]]></Value>
    </seoTitle>
  </Properties>
</Content>