<?xml version="1.0" encoding="utf-8"?>
<Content Key="bd0efc21-e0e1-4b99-80c3-0eb9789ec771" Alias="Grus grus" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/GrusGrus</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-28T10:05:01</CreateDate>
    <NodeName Default="Grus grus">
      <Name Culture="en-US">Grus grus</Name>
      <Name Culture="sv">Grus grus</Name>
    </NodeName>
    <SortOrder>22</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Erstagatan 21, 116 36 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Erstagatan 21, 116 36 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Wine bars"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Vinbarer"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Grus Grus in Stockholm offers a relaxed and inviting environment with a focus on natural and biodynamic wines. Known for its carefully selected range from small producers, the wine list changes regularly to reflect the seasons and availability. Small plates are also served to complement the wines.]]></Value>
      <Value Culture="sv"><![CDATA[Grus Grus är en vinbar i Stockholm som erbjuder en avslappnad och inbjudande miljö med fokus på naturliga och biodynamiska viner. Baren är känd för sitt omsorgsfullt utvalda sortiment från mindre producenter, och vinlistan förändras ständigt för att spegla säsong och tillgång. Förutom vin serverar Grus Grus även ett urval av smårätter som kompletterar vinupplevelsen. Barens kombination av kunnig personal, informell stämning och ett brett urval av intressanta viner gör den till ett populärt ställe för både vinentusiaster och nybörjare]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "cfc5488d-9d18-4392-b73f-38a69550a071",
    "mediaKey": "59a8b485-bb47-484a-8a75-0a544083a673",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "d98a71a6-69b7-4671-a09c-76973a960956",
    "mediaKey": "1af24395-19b2-4478-b4d5-23d4485e5a6f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "99d7aec1-2ce5-406c-be26-cc7b9a9d52c7",
    "mediaKey": "59a8b485-bb47-484a-8a75-0a544083a673",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "3a78d2cc-61ed-4b52-97b3-2be87efddfd8",
    "mediaKey": "c4d80b9f-154e-45ac-8dfa-5e7db25a3e2e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "d71cf040-37f3-43e7-94c6-a34f6d594128",
    "mediaKey": "1b097eee-0f28-41cf-a4e8-f23e83167f52",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "2cdd1071-ef22-4863-bc63-fa017dff4a85",
    "mediaKey": "9c9e83c6-82fd-498f-8240-c2863b12e778",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "26f2a48f-839d-433b-aad9-33035c135e30",
    "mediaKey": "c81bec10-23b8-4816-b3d5-0dbf6c9bdeae",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Discover Grus Grus – a wine bar in Stockholm focused on natural and artisanal wines. Perfect for wine enthusiasts seeking new, exciting flavors.]]></Value>
      <Value Culture="sv"><![CDATA[Upptäck Grus Grus – en vinbar i Stockholm med fokus på naturliga och hantverksmässiga viner. Perfekt för vinentusiaster som söker nya, spännande smaker.]]></Value>
    </metaDescription>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Grus grus]]></Value>
      <Value Culture="sv"><![CDATA[Grus grus]]></Value>
    </restaurantName>
    <title>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Grus grus]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Grus grus]]></Value>
    </title>
  </Properties>
</Content>