<?xml version="1.0" encoding="utf-8"?>
<Content Key="f263a409-3bac-4bb5-be5f-a355a1c5efde" Alias="Grus grus" Level="3">
  <Info>
    <Parent Key="53d9e71f-dd0c-4a9b-9470-5222d97dc6ed">Slideshow</Parent>
    <Path>/Hem/Slideshow/GrusGrus</Path>
    <Trashed>false</Trashed>
    <ContentType>slideshowPage</ContentType>
    <CreateDate>2024-10-22T22:12:06</CreateDate>
    <NodeName Default="Grus grus">
      <Name Culture="en-US">Grus grus</Name>
      <Name Culture="sv">Grus grus</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <altText>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </altText>
    <button>
      <Value Culture="en-US"><![CDATA[To restaurant]]></Value>
      <Value Culture="sv"><![CDATA[Till restaurangen]]></Value>
    </button>
    <image>
      <Value Culture="en-US"><![CDATA[[
  {
    "key": "df4d1531-0b16-425a-a2cd-726a58059f2d",
    "mediaKey": "be31226b-9a8f-41bd-8f34-fee3db7b8e7c",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  {
    "key": "d1072421-777e-4d2d-be44-f85c94258988",
    "mediaKey": "be31226b-9a8f-41bd-8f34-fee3db7b8e7c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <link>
      <Value Culture="en-US"><![CDATA[[
  {
    "name": null,
    "target": null,
    "udi": "umb://document/bd0efc21e0e14b9980c30eb9789ec771",
    "url": null,
    "queryString": null
  }
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  {
    "name": null,
    "target": null,
    "udi": "umb://document/bd0efc21e0e14b9980c30eb9789ec771",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </link>
  </Properties>
</Content>