<?xml version="1.0" encoding="utf-8"?>
<Content Key="d7b4276e-8693-4d9d-9a1f-b3f5f87e862a" Alias="Hasselbacken" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Hasselbacken</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-24T20:14:32</CreateDate>
    <NodeName Default="Hasselbacken">
      <Name Culture="en-US">Hasselbacken</Name>
      <Name Culture="sv">Hasselbacken</Name>
    </NodeName>
    <SortOrder>11</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Hazeliusbacken 20, 115 21 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Hazeliusbacken 20, 115 21 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Swedish classics"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Svenska klassiker"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Hasselbacken, founded in 1853, is a historic restaurant and hotel located on Djurgården in Stockholm. Known for its classic Swedish cuisine and rich heritage, the restaurant has been a venue for grand celebrations and cultural events throughout the years. With its elegant interior and scenic surroundings, Hasselbacken is an icon in Stockholm’s restaurant scene.]]></Value>
      <Value Culture="sv"><![CDATA[Hasselbacken, grundad 1853, är en historisk restaurang och hotell på Djurgården i Stockholm. Känd för sin klassiska svenska mat och anrika miljö, har restaurangen varit en plats för stora festligheter och kulturella evenemang genom åren. Med sin eleganta interiör och natursköna omgivning är Hasselbacken en ikon inom Stockholms restaurangvärld.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "93f134d9-08e4-48ce-99ef-e4f2b2a7ac61",
    "mediaKey": "a79a7727-b2b4-4d3a-9d2c-d1394a7ae408",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "d092a4f6-4bd5-465c-b0ca-dcdd56b1d6f8",
    "mediaKey": "4d092339-2253-4c7b-8fa0-b653d491cc9a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "cc0c9ae8-3bb6-41ce-9464-69e3b3c498c0",
    "mediaKey": "d657b1af-0012-470f-9fd2-f9da7f022e76",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "2bd88b5a-4bce-452e-a256-f68bdab629bd",
    "mediaKey": "71429e20-a9dd-4eee-92a5-4ae05c125a7b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "9c24945b-5e19-47e6-aa8d-27324801483a",
    "mediaKey": "1c5216bf-77e8-46e7-9843-916d4e6c31ac",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "60980bd4-9a40-4a66-bd59-3ef9f0d07841",
    "mediaKey": "bf40783d-023d-4b1a-984b-5fb2d94deb24",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "8d0256c6-933c-4f81-9fd5-7064cab2adf1",
    "mediaKey": "8cbf0411-e7bc-40db-a79b-576dba8f04a9",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[hassel, hasselbacken, svenska, svenska klassiker, klassiker, Swedish, Swedish classics, classics, svensk mat, traditionell mat, svensk husmanskost, husmanskost, Swedish food, traditional Swedish cuisine, classic Stockholm dining, traditionell restaurang, casual, svenska rätter, Swedish dish, lyxmat, exclusive food]]></Value>
      <Value Culture="sv"><![CDATA[hassel, hasselbacken, svenska, svenska klassiker, klassiker, Swedish, Swedish classics, classics, svensk mat, traditionell mat, svensk husmanskost, husmanskost, Swedish food, traditional Swedish cuisine, classic Stockholm dining, traditionell restaurang, casual, svenska rätter, Swedish dish, lyxmat, exclusive food]]></Value>
    </keywords>
    <latitud>
      <Value><![CDATA[59.32540]]></Value>
    </latitud>
    <longitud>
      <Value><![CDATA[18.09898]]></Value>
    </longitud>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Visit Hasselbacken on Djurgården, a historic restaurant and hotel since 1853. Classic Swedish cuisine in scenic surroundings.]]></Value>
      <Value Culture="sv"><![CDATA[Besök Hasselbacken på Djurgården, en historisk restaurang och hotell sedan 1853. Klassisk svensk mat i natursköna omgivningar.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Hasselbacken]]></Value>
      <Value Culture="sv"><![CDATA[Hasselbacken]]></Value>
    </restaurantName>
    <seoTitle>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Hasselbacken]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Hasselbacken]]></Value>
    </seoTitle>
  </Properties>
</Content>