<?xml version="1.0" encoding="utf-8"?>
<Content Key="d7b4276e-8693-4d9d-9a1f-b3f5f87e862a" Alias="Hasselbacken" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Hasselbacken</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-24T20:14:32</CreateDate>
    <NodeName Default="Hasselbacken">
      <Name Culture="en-US">Hasselbacken</Name>
      <Name Culture="sv">Hasselbacken</Name>
    </NodeName>
    <SortOrder>11</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Hazeliusbacken 20, 115 21 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Hazeliusbacken 20, 115 21 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Swedish classics"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Svenska klassiker"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Hasselbacken, founded in 1853, is a historic restaurant and hotel located on Djurgården in Stockholm. Known for its classic Swedish cuisine and rich heritage, the restaurant has been a venue for grand celebrations and cultural events throughout the years. With its elegant interior and scenic surroundings, Hasselbacken is an icon in Stockholm’s restaurant scene.]]></Value>
      <Value Culture="sv"><![CDATA[Hasselbacken, grundad 1853, är en historisk restaurang och hotell på Djurgården i Stockholm. Känd för sin klassiska svenska mat och anrika miljö, har restaurangen varit en plats för stora festligheter och kulturella evenemang genom åren. Med sin eleganta interiör och natursköna omgivning är Hasselbacken en ikon inom Stockholms restaurangvärld.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "47922172-7895-41bd-8ea4-2d7f618a4dc8",
    "mediaKey": "236fac93-01ef-455f-b480-96b72d7822b8",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "e1086516-ac93-4a66-8271-978926bdf7de",
    "mediaKey": "fed32ed9-cd03-4d23-8f46-68fea4e3968f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "01fd5365-b23a-4d81-92cc-e7253962b41d",
    "mediaKey": "6d76f84a-b160-49f4-8c7a-9ebcd96b170e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "c3e5978e-1c53-4fda-b7f0-bb8606c9c7d2",
    "mediaKey": "6ac01be8-1b25-4d4f-9c5a-758d1d5f7ad6",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "665df4e4-161b-4c2e-a65c-5f2e2386eef6",
    "mediaKey": "8c5db996-1fc9-4d0e-8fb7-4219604a3224",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "f39ffe99-4635-4bc1-98f3-0bc87b71fa62",
    "mediaKey": "57fe320b-7ebd-46b8-b3e5-cc71da0093cc",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "327a573f-3556-4153-b616-08b0b5461008",
    "mediaKey": "236fac93-01ef-455f-b480-96b72d7822b8",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Hasselbacken]]></Value>
      <Value Culture="sv"><![CDATA[Hasselbacken]]></Value>
    </restaurantName>
  </Properties>
</Content>