<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f572d85-7466-499d-a481-f8315629bc7e" Alias="Hem" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Hem</Path>
    <Trashed>false</Trashed>
    <ContentType>start</ContentType>
    <CreateDate>2024-10-14T10:25:09</CreateDate>
    <NodeName Default="Hem">
      <Name Culture="en-US">Home</Name>
      <Name Culture="sv">Hem</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="4e5e8c3a-a56e-43c5-b502-da12be8995b8">start</Template>
  </Info>
  <Properties>
    <aboutUs>
      <Value Culture="en-US"><![CDATA[umb://document/1b1cc7a37b1745d88bc8693582475108]]></Value>
      <Value Culture="sv"><![CDATA[umb://document/1b1cc7a37b1745d88bc8693582475108]]></Value>
    </aboutUs>
    <content>
      <Value Culture="en-US"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "364ef061-a4de-428c-bcb8-fd61b5f718b6",
      "udi": "umb://element/6a8ea5c6efd048beae4dc0c3a15a5878",
      "slidePicker": "umb://document/936986b7fae445c4a1705028203e4cb6,umb://document/cda7199d1feb4d80a5a365174d01431e,umb://document/f263a4093bac4bb5be5fa355a1c5efde,umb://document/c2075e7e10644b1f9914616a72fc37f1,umb://document/4c15c2e8692e46d8af92e75acab164a7,umb://document/b1d766691c554e8ea22857787652439e,umb://document/25d1d37529484a8e83d64a9eda3e5972,umb://document/52a7f52a217a405590924a54c01a2865"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/6a8ea5c6efd048beae4dc0c3a15a5878",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": []
      }
    ]
  }
}]]></Value>
      <Value Culture="sv"><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "364ef061-a4de-428c-bcb8-fd61b5f718b6",
      "udi": "umb://element/bafd9d9e04a84749bc9ef27f654b1c9f",
      "slidePicker": "umb://document/936986b7fae445c4a1705028203e4cb6,umb://document/cda7199d1feb4d80a5a365174d01431e,umb://document/f263a4093bac4bb5be5fa355a1c5efde,umb://document/c2075e7e10644b1f9914616a72fc37f1,umb://document/4c15c2e8692e46d8af92e75acab164a7,umb://document/b1d766691c554e8ea22857787652439e,umb://document/25d1d37529484a8e83d64a9eda3e5972,umb://document/52a7f52a217a405590924a54c01a2865"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/bafd9d9e04a84749bc9ef27f654b1c9f",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": []
      }
    ]
  }
}]]></Value>
    </content>
    <heading>
      <Value Culture="en-US"><![CDATA[this is a test heading]]></Value>
      <Value Culture="sv"><![CDATA[Test rubrik]]></Value>
    </heading>
    <infoText>
      <Value Culture="en-US"><![CDATA[Welcome to our guide for food lovers! Explore Swedish classics, exclusive wine bars, elegant fine dining, and modern bistros. A journey awaits, rich in unique experiences and authentic flavors.]]></Value>
      <Value Culture="sv"><![CDATA[Välkommen till vår guide för matälskare! Utforska svenska klassiker, exklusiva vinbarer, elegant fine dining och moderna bistros. Här väntar en smakresa fylld av unika upplevelser och autentiska smaker.]]></Value>
    </infoText>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Welcome to The Fork & Glass – your ultimate guide to the best restaurants and dishes. Explore diverse cuisines and find your next favorite meal spot!]]></Value>
      <Value Culture="sv"><![CDATA[Välkommen till Gaffeln & Glaset – din guide till de bästa restaurangerna och maträtterna. Utforska olika kök och hitta din nästa favoritrestaurang!]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <title>
      <Value Culture="en-US"><![CDATA[The Fork & Glass | Home]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Hem]]></Value>
    </title>
  </Properties>
</Content>