<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca4a87b9-250a-4b77-9a1e-751aaadc0b8a" Alias="Kategorier" Level="2">
  <Info>
    <Parent Key="4f572d85-7466-499d-a481-f8315629bc7e">Start</Parent>
    <Path>/Start/Kategorier</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryContainer</ContentType>
    <CreateDate>2024-10-21T13:24:19</CreateDate>
    <NodeName Default="Kategorier">
      <Name Culture="en-US">Categories</Name>
      <Name Culture="sv">Kategorier</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>