<?xml version="1.0" encoding="utf-8"?>
<Content Key="ca4a87b9-250a-4b77-9a1e-751aaadc0b8a" Alias="Kategorier" Level="2">
  <Info>
    <Parent Key="4f572d85-7466-499d-a481-f8315629bc7e">Hem</Parent>
    <Path>/Hem/Kategorier</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryContainer</ContentType>
    <CreateDate>2024-10-21T13:24:19</CreateDate>
    <NodeName Default="Kategorier">
      <Name Culture="en-US">Categories</Name>
      <Name Culture="sv">Kategorier</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="b78ac417-4bb8-461c-9b43-afb88f4df980">categoryContainer</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Explore our categories and discover a wide range of options to suit your needs. Select a category to learn more and explore our offerings.]]></Value>
      <Value Culture="sv"><![CDATA[Utforska våra kategorier och upptäck en mängd olika alternativ som passar dina behov. Välj en kategori för att få mer information och utforska vårt utbud.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <seoTitle>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Categories]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Kategorier]]></Value>
    </seoTitle>
  </Properties>
</Content>