<?xml version="1.0" encoding="utf-8"?>
<Content Key="7740e8e6-6d83-4cd9-89c7-aba00949afdd" Alias="Kontakta oss" Level="2">
  <Info>
    <Parent Key="4f572d85-7466-499d-a481-f8315629bc7e">Hem</Parent>
    <Path>/Hem/KontaktaOss</Path>
    <Trashed>false</Trashed>
    <ContentType>contactUs</ContentType>
    <CreateDate>2024-11-07T09:09:40</CreateDate>
    <NodeName Default="Kontakta oss">
      <Name Culture="en-US">Contact Us</Name>
      <Name Culture="sv">Kontakta oss</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="eb659fe2-f2e4-48f9-b53c-17c8647c689c">contactUs</Template>
  </Info>
  <Properties>
    <form>
      <Value Culture="en-US"><![CDATA[22b1c0c8-c312-4944-9efb-918afa013f90]]></Value>
      <Value Culture="sv"><![CDATA[22b1c0c8-c312-4944-9efb-918afa013f90]]></Value>
    </form>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Contact us for questions, support, or collaborations. We look forward to hearing from you!]]></Value>
      <Value Culture="sv"><![CDATA[Kontakta oss för frågor, support eller samarbeten. Vi ser fram emot att höra från dig!]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <title>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Contact]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Kontakt]]></Value>
    </title>
  </Properties>
</Content>