<?xml version="1.0" encoding="utf-8"?>
<Content Key="7082f27b-38c8-461d-b350-239d73311e82" Alias="Kvarnen" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Kvarnen</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-11-04T15:58:51</CreateDate>
    <NodeName Default="Kvarnen">
      <Name Culture="en-US">Kvarnen</Name>
      <Name Culture="sv">Kvarnen</Name>
    </NodeName>
    <SortOrder>40</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Tjärhovsgatan 4, 11621 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Tjärhovsgatan 4, 11621 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Modern bistro"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Modern bistro"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[One of Stockholm's classic neighborhood bistros, located in Södermalm. Kvarnen offers traditional Swedish comfort food in a charming and historic setting. The restaurant has been around since 1908 and is known for its authentic atmosphere and wide selection of beers. It’s perfect for both casual dinners and larger gatherings.

]]></Value>
      <Value Culture="sv"><![CDATA[En av Stockholms klassiska kvarterskrogar, belägen på Södermalm. Kvarnen erbjuder traditionell svensk husmanskost i en charmig och historisk miljö. Restaurangen har funnits sedan 1908 och är känd för sin genuina atmosfär och sitt breda ölutbud. Perfekt för både vardagliga middagar och större sällskap.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "dbbd33c5-a682-4ae6-b2d6-74dcef570c7b",
    "mediaKey": "2d530e97-1d08-4524-965d-56324f36a70a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "17fcf5ed-53d9-48d9-8669-8f9b9f908e30",
    "mediaKey": "1b426d15-8958-4f73-909c-0edf7719f86d",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "d19bad9b-5d10-49ce-81c5-e18e5ff4160a",
    "mediaKey": "58cedad2-5411-4fe9-9e47-3a8a21a812bb",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "1392c0bb-5db1-46d0-bad9-28a81da64ac7",
    "mediaKey": "16482c56-380a-4bc7-9770-0a784da995ce",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "d259f63e-1662-41e7-9305-b6b1d6a81d90",
    "mediaKey": "2d530e97-1d08-4524-965d-56324f36a70a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "5c977d27-7dad-4c60-b755-be8e8e766978",
    "mediaKey": "5a55e1d1-e2b1-455d-8952-815d32825d27",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "3ad0eff8-eed9-4e2b-af48-6af0bbe35fa3",
    "mediaKey": "2edf4cc7-2b7d-494a-a152-5b4f537b4ddd",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[kvarnen, modern bistro, modern, bistro
]]></Value>
      <Value Culture="sv"><![CDATA[kvarnen, modern bistro, modern, bistro
]]></Value>
    </keywords>
    <latitud>
      <Value><![CDATA[]]></Value>
    </latitud>
    <longitud>
      <Value><![CDATA[]]></Value>
    </longitud>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Kvarnen is a classic neighborhood bistro in Södermalm, Stockholm, serving traditional Swedish comfort food in a historic setting.]]></Value>
      <Value Culture="sv"><![CDATA[Kvarnen är en klassisk kvarterskrog på Södermalm i Stockholm som serverar traditionell svensk husmanskost i en historisk miljö.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Kvarnen]]></Value>
      <Value Culture="sv"><![CDATA[Kvarnen]]></Value>
    </restaurantName>
    <title>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | ]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | ]]></Value>
    </title>
  </Properties>
</Content>