<?xml version="1.0" encoding="utf-8"?>
<Content Key="c1e36b21-5899-4e3d-bb82-7c1b40649317" Alias="Lilla Ego" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/LillaEgo</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-30T12:52:04</CreateDate>
    <NodeName Default="Lilla Ego">
      <Name Culture="sv">Lilla Ego</Name>
    </NodeName>
    <SortOrder>28</SortOrder>
    <Published Default="true">
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="sv"><![CDATA[Västmannagatan 69, 113 26 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="sv"><![CDATA[[
  "Fine dining"
]]]></Value>
    </category>
    <description>
      <Value Culture="sv"><![CDATA[Lilla Ego är en populär restaurang känd för sina kreativa och smakrika rätter. Drivs av två välrenommerade kockar, och menyn bygger på säsongens bästa råvaror. Atmosfären är avslappnad och personlig, vilket gör restaurangen till ett måste för dem som söker en högklassig matupplevelse i en avslappnad miljö.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "b18ec7f4-67cd-421e-ab86-98e75c9fc8e0",
    "mediaKey": "366961d9-bb71-4376-a101-cecb2490063f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <restaurantName>
      <Value Culture="sv"><![CDATA[Lilla Ego]]></Value>
    </restaurantName>
  </Properties>
</Content>