<?xml version="1.0" encoding="utf-8"?>
<Content Key="c1e36b21-5899-4e3d-bb82-7c1b40649317" Alias="Lilla Ego" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/LillaEgo</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-30T12:52:04</CreateDate>
    <NodeName Default="Lilla Ego">
      <Name Culture="en-US">Lilla Ego</Name>
      <Name Culture="sv">Lilla Ego</Name>
    </NodeName>
    <SortOrder>28</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Västmannagatan 69, 113 26 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Västmannagatan 69, 113 26 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Fine dining"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Fine dining"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Lilla Ego är en populär restaurang känd för sina kreativa och smakrika rätter. Drivs av två välrenommerade kockar, och menyn bygger på säsongens bästa råvaror. Atmosfären är avslappnad och personlig, vilket gör restaurangen till ett måste för dem som söker en högklassig matupplevelse i en avslappnad miljö.]]></Value>
      <Value Culture="sv"><![CDATA[Lilla Ego är en populär restaurang känd för sina kreativa och smakrika rätter. Drivs av två välrenommerade kockar, och menyn bygger på säsongens bästa råvaror. Atmosfären är avslappnad och personlig, vilket gör restaurangen till ett måste för dem som söker en högklassig matupplevelse i en avslappnad miljö.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "b18ec7f4-67cd-421e-ab86-98e75c9fc8e0",
    "mediaKey": "366961d9-bb71-4376-a101-cecb2490063f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "f1763be4-3bea-4bda-af37-b1f64106eb28",
    "mediaKey": "05f7e05c-56ce-4af4-9d86-2121833aafd2",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "b8ecf24f-4af5-4ae0-81b1-4ac2f236c10d",
    "mediaKey": "dc16b2ec-c7c8-43ae-86cc-988b4156951f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "32caf063-e683-4126-adca-f1bde5982fbc",
    "mediaKey": "6eb8f21b-5e1b-4acd-9264-84326994cf84",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "8468c1a1-7f79-4d14-b363-c84ae6de9264",
    "mediaKey": "8aa67ff0-09de-43b6-bc42-e502de7f462b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "97547c59-6111-4992-b84a-3fbd7ff1142d",
    "mediaKey": "01b0afd0-422d-4cd7-890b-41d518fb45d6",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "544ae4c7-e649-4002-958b-efede1d63fb6",
    "mediaKey": "366961d9-bb71-4376-a101-cecb2490063f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[lilla, lilla ego, lillaego, ego, fine, fine dining, dining]]></Value>
      <Value Culture="sv"><![CDATA[lilla, lilla ego, lillaego, ego, fine, fine dining, dining]]></Value>
    </keywords>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Discover Lilla Ego – a casual but ambitious restaurant that offers creative dishes with a focus on local and seasonal ingredients. Perfect for foodies and food lovers.]]></Value>
      <Value Culture="sv"><![CDATA[Upptäck Lilla Ego – en avslappnad men ambitiös restaurang som erbjuder kreativa rätter med fokus på lokala och säsongsbetonade råvaror. Perfekt för foodies och matälskare.]]></Value>
    </metaDescription>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Lilla Ego]]></Value>
      <Value Culture="sv"><![CDATA[Lilla Ego]]></Value>
    </restaurantName>
    <title>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Lilla Ego]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Lilla Ego]]></Value>
    </title>
  </Properties>
</Content>