<?xml version="1.0" encoding="utf-8"?>
<Content Key="58a521bd-1c71-4b7d-8a22-6abbe1c18ffa" Alias="Modern bistro" Level="3">
  <Info>
    <Parent Key="ca4a87b9-250a-4b77-9a1e-751aaadc0b8a">Kategorier</Parent>
    <Path>/Hem/Kategorier/ModernBistro</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2024-10-21T13:49:17</CreateDate>
    <NodeName Default="Modern bistro">
      <Name Culture="en-US">Modern bistro</Name>
      <Name Culture="sv">Modern bistro</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="ad165113-16c8-46f3-955e-3451d0767057">category</Template>
  </Info>
  <Properties>
    <description>
      <Value Culture="en-US"><![CDATA[Modern bistros combine classic dishes with contemporary twists in a relaxed, trendy setting.]]></Value>
      <Value Culture="sv"><![CDATA[Moderna bistron kombinerar klassiska rätter med moderna inslag i en avslappnad och trendig miljö.]]></Value>
    </description>
    <displayName>
      <Value Culture="en-US"><![CDATA[Modern bistro]]></Value>
      <Value Culture="sv"><![CDATA[Modern bistro]]></Value>
    </displayName>
    <image>
      <Value><![CDATA[[
  {
    "key": "5ed02870-4cc6-4d18-b766-acafd8185d8b",
    "mediaKey": "18a41ca8-4abe-434a-85b7-0ace25b4f866",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Discover modern bistro dining at The Fork & Glass – explore innovative dishes and stylish restaurants that bring a fresh twist to classic flavors.]]></Value>
      <Value Culture="sv"><![CDATA[Upptäck modern bistro på Gaffeln & Glaset – utforska innovativa rätter och trendiga restauranger som ger en ny touch på klassiska smaker.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <seoTitle>
      <Value Culture="en-US"><![CDATA[The Fork & Glass | Modern bistro]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Modern bistro]]></Value>
    </seoTitle>
  </Properties>
</Content>