<?xml version="1.0" encoding="utf-8"?>
<Content Key="58a521bd-1c71-4b7d-8a22-6abbe1c18ffa" Alias="Modern bistro" Level="3">
  <Info>
    <Parent Key="ca4a87b9-250a-4b77-9a1e-751aaadc0b8a">Kategorier</Parent>
    <Path>/Start/Kategorier/ModernBistro</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2024-10-21T13:49:17</CreateDate>
    <NodeName Default="Modern bistro">
      <Name Culture="en-US">Modern bistro</Name>
      <Name Culture="sv">Modern bistro</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="ad165113-16c8-46f3-955e-3451d0767057">category</Template>
  </Info>
  <Properties>
    <displayName>
      <Value Culture="en-US"><![CDATA[Modern bistro]]></Value>
      <Value Culture="sv"><![CDATA[Modern bistro]]></Value>
    </displayName>
    <image>
      <Value><![CDATA[[
  {
    "key": "6cdf0f6e-8ab2-4b18-926a-19e246e98bc7",
    "mediaKey": "569d9061-a832-422e-964e-cf3da24160c0",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
  </Properties>
</Content>