<?xml version="1.0" encoding="utf-8"?>
<Content Key="58a521bd-1c71-4b7d-8a22-6abbe1c18ffa" Alias="Modern bistro" Level="3">
  <Info>
    <Parent Key="ca4a87b9-250a-4b77-9a1e-751aaadc0b8a">Kategorier</Parent>
    <Path>/Start/Kategorier/ModernBistro</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2024-10-21T13:49:17</CreateDate>
    <NodeName Default="Modern bistro">
      <Name Culture="en-US">Modern bistro</Name>
      <Name Culture="sv">Modern bistro</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayName>
      <Value Culture="en-US"><![CDATA[Modern bistro]]></Value>
      <Value Culture="sv"><![CDATA[Modern bistro]]></Value>
    </displayName>
    <image>
      <Value><![CDATA[[
  {
    "key": "4de99ff0-f171-4fda-8421-9ce2d6389076",
    "mediaKey": "493cc4e8-d4da-4691-a111-cc334ae5df9b",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
  </Properties>
</Content>