<?xml version="1.0" encoding="utf-8"?>
<Content Key="c8e7abc7-ea26-4f22-ae9e-575ed8d1e59f" Alias="Muscadetbaren" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Muscadetbaren</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-28T09:56:40</CreateDate>
    <NodeName Default="Muscadetbaren">
      <Name Culture="en-US">Muscadetbaren</Name>
      <Name Culture="sv">Muscadetbaren</Name>
    </NodeName>
    <SortOrder>19</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Sankt Eriksgatan 108, 113 31 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Sankt Eriksgatan 108, 113 31 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Wine bars"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Vinbarer"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Opening in winter 2024, Muscadetbaren in Stockholm focuses on oysters, champagne, and wines from Europe’s Atlantic coast. Founded by experienced sommelier Gustav Hökstrand, it aims to provide an exclusive experience for lovers of wine and oysters, becoming an elegant addition to Stockholm's wine scene.]]></Value>
      <Value Culture="sv"><![CDATA[Muscadetbaren, som öppnar vintern 2024, är en vinbar i Stockholm med fokus på ostron, champagne och viner från Europas Atlantkust. Bakom konceptet står Gustav Hökstrand, en erfaren sommelier som tidigare har arbetat på välrenommerade ställen som Aloë och Bar Libertin. Muscadetbaren är tänkt att erbjuda en exklusiv upplevelse för vin- och ostronälskare och kommer att vara ett elegant tillskott till Stockholms vinbarscen​]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "4cabab33-e20d-4459-bd88-48316f3b57b3",
    "mediaKey": "344ec449-8d8c-4ebe-b678-9a7c4f4397f8",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "4a0e03ff-3714-435c-833c-755d31046ed8",
    "mediaKey": "af24a86c-aa1d-462d-a71c-6e88ad04c08f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "e118437d-db42-4b32-9add-0b10b8a30ae5",
    "mediaKey": "313df954-7370-464e-a5b6-830d4195a05c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "58bef67d-5e42-4260-aa5f-8ba88e18ba72",
    "mediaKey": "10110208-03ed-4c7d-97da-8b0cc7ebe0aa",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "4e920b87-72cb-468b-be30-619cebb84e62",
    "mediaKey": "344ec449-8d8c-4ebe-b678-9a7c4f4397f8",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "638aaa50-12d2-44f4-959d-9ff07f3be8f2",
    "mediaKey": "27591aec-45f4-4564-afde-ab1c18950248",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "e9b9c4ac-291b-4941-89dc-bd870b270bb4",
    "mediaKey": "44e1b512-5c93-4ada-9deb-a43a0c1eef6a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[musc, muscadetbar, muscadetbaren, muskadetbar, muskadetbaren, vin, vinbar, vinbarer, vin bar, vin barer, wine, winebar, winebars, wine bar, wine bars
]]></Value>
      <Value Culture="sv"><![CDATA[musc, muscadetbar, muscadetbaren, muskadetbar, muskadetbaren, vin, vinbar, vinbarer, vin bar, vin barer, wine, winebar, winebars, wine bar, wine bars
]]></Value>
    </keywords>
    <latitud>
      <Value><![CDATA[]]></Value>
    </latitud>
    <longitud>
      <Value><![CDATA[]]></Value>
    </longitud>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Discover Muscadet Bar – a wine bar focused on French Muscadet wines and refined flavors. A spot for connoisseurs and wine enthusiasts.]]></Value>
      <Value Culture="sv"><![CDATA[Upptäck Muscadetbaren – en vinbar med fokus på franska Muscadet-viner och eleganta smaker. En plats för finsmakare och vinentusiaster.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Muscadetbaren]]></Value>
      <Value Culture="sv"><![CDATA[Muscadetbaren]]></Value>
    </restaurantName>
    <title>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Muscadetbaren]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Muscadetbaren]]></Value>
    </title>
  </Properties>
</Content>