<?xml version="1.0" encoding="utf-8"?>
<Content Key="cd22def3-bc72-49ac-affd-c9765f78dad8" Alias="Ninja bar" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/NinjaBar</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-28T10:08:32</CreateDate>
    <NodeName Default="Ninja bar">
      <Name Culture="en-US">Ninja bar</Name>
      <Name Culture="sv">Ninja bar</Name>
    </NodeName>
    <SortOrder>24</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Södermalmsallén 36-38, 118 28 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Södermalmsallén 36-38, 118 28 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Wine bars"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Vinbarer"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Ninja Bar, an intimate bar in Södermalm, Stockholm, is known for its innovative drink menu and relaxed atmosphere. Offering a mix of classic and modern cocktails, it also serves a well-curated selection of natural wines and beers, attracting both locals and visitors with its personal and urban style.]]></Value>
      <Value Culture="sv"><![CDATA[Ninja Bar är en intim bar på Södermalm, Stockholm, som är känd för sin innovativa drinkmeny och avslappnade atmosfär. Baren erbjuder en mix av klassiska och moderna cocktails, och har även ett noggrant utvalt sortiment av naturviner och öl. Stället har en urban och enkel stil med en personlig touch, vilket lockar både lokalbor och besökare. Ninja Bar är uppskattat för sina kunniga bartendrar och avslappnade miljö, vilket gör det till ett populärt val för drinkälskare som söker något unikt.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "c3d764cd-26a2-462a-8589-4397d35d796c",
    "mediaKey": "e498ec74-8855-4369-8b98-eca8f51ec5cc",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "a54ba71a-f166-40e0-8667-84d52c89026f",
    "mediaKey": "91e54141-f548-4d3d-8985-3dc92321561e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "81168329-021d-4334-8574-520f910acd07",
    "mediaKey": "cb6470f5-e184-4ced-b8cb-839a34126317",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "d76c7e48-3356-4404-a0de-a22791c723d1",
    "mediaKey": "d57b2fd3-18e5-46ae-802f-870b2dfc39e4",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "28e7df3d-10e3-4b81-b1ca-392c0ff2a26b",
    "mediaKey": "67796e6c-ba07-4238-965a-0603ac5f6545",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "1ee2b65b-39c7-47ea-b2ae-124068f28f14",
    "mediaKey": "0bd73385-5b81-42c3-8ed6-9fac3d8c740e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "08646595-b1d5-41d4-850d-38e5a0a6dddd",
    "mediaKey": "e498ec74-8855-4369-8b98-eca8f51ec5cc",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[ninja, ninja bar, bar, vin, vinbar, vinbarer, vin bar, vin barer, wine, winebar, winebars, wine bar, wine bars, vin och mat, wine and food,cozy wine bar,  vinprovning, wine tasting, mysig vinbar, exklusiva viner, vinprovning, wine list, vinlista, romantisk restaurang, cozy dining, romantic dinner, exclusive date nightcozy wine bar, wine lovers, vin älskare, asiatisk mat, asiatisk fusion, Asian food, modern Asian, spicy dishes, asian, asiatisk

]]></Value>
      <Value Culture="sv"><![CDATA[ninja, ninja bar, bar, vin, vinbar, vinbarer, vin bar, vin barer, wine, winebar, winebars, wine bar, wine bars, vin och mat, wine and food,cozy wine bar,  vinprovning, wine tasting, mysig vinbar, exklusiva viner, vinprovning, wine list, vinlista, romantisk restaurang, cozy dining, romantic dinner, exclusive date nightcozy wine bar, wine lovers, vin älskare, asiatisk mat, asiatisk fusion, Asian food, modern Asian, spicy dishes, asian, asiatisk

]]></Value>
    </keywords>
    <latitud>
      <Value><![CDATA[59.31175]]></Value>
    </latitud>
    <longitud>
      <Value><![CDATA[18.07976]]></Value>
    </longitud>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Discover Ninja Bar – a unique bar with creative cocktails and a modern atmosphere. Perfect for those seeking exciting flavors and innovative drinks.]]></Value>
      <Value Culture="sv"><![CDATA[Upptäck Ninja Bar – en unik bar med kreativa cocktails och modern atmosfär. Perfekt för den som söker spännande smaker och innovativa drycker.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Ninja bar]]></Value>
      <Value Culture="sv"><![CDATA[Ninja bar]]></Value>
    </restaurantName>
    <seoTitle>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Ninja bar]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Ninja bar]]></Value>
    </seoTitle>
  </Properties>
</Content>