<?xml version="1.0" encoding="utf-8"?>
<Content Key="cd22def3-bc72-49ac-affd-c9765f78dad8" Alias="Ninja bar" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/NinjaBar</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-28T10:08:32</CreateDate>
    <NodeName Default="Ninja bar">
      <Name Culture="en-US">Ninja bar</Name>
      <Name Culture="sv">Ninja bar</Name>
    </NodeName>
    <SortOrder>24</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">test</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Södermalmsallén 36-38, 118 28 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Södermalmsallén 36-38, 118 28 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Wine bars"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Vinbarer"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Ninja Bar, an intimate bar in Södermalm, Stockholm, is known for its innovative drink menu and relaxed atmosphere. Offering a mix of classic and modern cocktails, it also serves a well-curated selection of natural wines and beers, attracting both locals and visitors with its personal and urban style.]]></Value>
      <Value Culture="sv"><![CDATA[Ninja Bar är en intim bar på Södermalm, Stockholm, som är känd för sin innovativa drinkmeny och avslappnade atmosfär. Baren erbjuder en mix av klassiska och moderna cocktails, och har även ett noggrant utvalt sortiment av naturviner och öl. Stället har en urban och enkel stil med en personlig touch, vilket lockar både lokalbor och besökare. Ninja Bar är uppskattat för sina kunniga bartendrar och avslappnade miljö, vilket gör det till ett populärt val för drinkälskare som söker något unikt.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "416ab1f1-8cdc-41ad-9cac-a143fad08298",
    "mediaKey": "01af3164-b850-4a92-ab31-9a179feddc15",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "8e6b9b71-0dec-4fa1-9e37-474ced431b3a",
    "mediaKey": "01af3164-b850-4a92-ab31-9a179feddc15",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "b56a6d67-2f10-4aad-9b60-228ab95d9297",
    "mediaKey": "937b572f-bbd2-4b15-9c0a-79251c43038c",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "e63fe547-9da9-47a5-83b3-bcad23ea93ec",
    "mediaKey": "24f49ba9-56ac-4abd-9f7e-fc5ba4a261d1",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "d4ebbaa9-655d-4255-8578-c9da4bc5a9b1",
    "mediaKey": "5997691d-b06b-4692-90e8-118fa4d21ce0",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "1e62aa4d-3644-49b5-ac66-e3ff283db7e5",
    "mediaKey": "0ffdd5f5-944d-4070-afaa-50b537110035",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "8a34da13-1085-4c16-9473-2275bc90e8cc",
    "mediaKey": "514561fd-4494-4a5a-8902-7eb025621b2c",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Ninja bar]]></Value>
      <Value Culture="sv"><![CDATA[Ninja bar]]></Value>
    </restaurantName>
  </Properties>
</Content>