<?xml version="1.0" encoding="utf-8"?>
<Content Key="88e72759-abea-41d7-9cda-d3aa19132816" Alias="Nytorget 6" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Nytorget6</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-11-04T16:12:14</CreateDate>
    <NodeName Default="Nytorget 6">
      <Name Culture="en-US">Nytorget 6</Name>
      <Name Culture="sv">Nytorget 6</Name>
    </NodeName>
    <SortOrder>45</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Nytorget 6, 116 40 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Nytorget 6, 116 40 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Modern bistro"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Modern bistro"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Nytorget 6 is a lively neighborhood bistro in Södermalm, Stockholm, known for its relaxed atmosphere and seasonal menu. The restaurant offers a mix of international dishes with local influences, creating a diverse dining experience for both lunch and dinner. With inviting decor and a pleasant outdoor seating area, it’s the perfect place to enjoy a good meal with friends or family.]]></Value>
      <Value Culture="sv"><![CDATA[Nytorget 6 är en livlig kvarterskrog på Södermalm i Stockholm, känd för sin avslappnade atmosfär och säsongsbetonade meny. Restaurangen erbjuder en mix av internationella rätter med lokala influenser, vilket skapar en mångsidig matupplevelse för både lunch och middag. Med en inbjudande inredning och en trevlig uteservering är det en perfekt plats för att njuta av en god måltid med vänner eller familj.
]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "7a1b87c4-0bf6-4343-9693-cfa690e099f3",
    "mediaKey": "ed27bfe6-8773-4360-8d65-2e74d65ddc4c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "c3645779-d7e3-48d0-9cf3-8dd9c8ca1998",
    "mediaKey": "6860f9a1-af81-4069-a389-112412a7ed34",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "d7796ba1-f405-48a9-b8ce-a9927a2ee693",
    "mediaKey": "a16e0fcb-4fff-4a60-b6d7-0138f99abe9c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "ece617e9-6060-4975-8f80-b264bc025877",
    "mediaKey": "ed27bfe6-8773-4360-8d65-2e74d65ddc4c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "2c7f9cff-1625-419d-8640-34b42bc0d052",
    "mediaKey": "2b5ec8aa-bca0-4ba8-8794-6e711495d52a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "4ebe83b6-fd61-45e8-a65b-2a0ef65a23d0",
    "mediaKey": "0bea0033-e82d-42c9-88ec-cdf56c36af48",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "ee1eb0a2-40b8-402f-8367-1b4de6e62921",
    "mediaKey": "e26368eb-30dd-49f3-8033-f60d205d77a6",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[nytorget, nytorget 6, modern bistro, modern, bistro
]]></Value>
      <Value Culture="sv"><![CDATA[nytorget, nytorget 6, modern bistro, modern, bistro
]]></Value>
    </keywords>
    <latitud>
      <Value><![CDATA[]]></Value>
    </latitud>
    <longitud>
      <Value><![CDATA[]]></Value>
    </longitud>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Nytorget 6 is a lively neighborhood bistro in Södermalm, Stockholm, featuring a seasonal menu and international dishes with local influences.]]></Value>
      <Value Culture="sv"><![CDATA[Nytorget 6 är en livlig kvarterskrog på Södermalm i Stockholm, med säsongsbetonad meny och internationella rätter med lokala influenser.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Nytorget 6]]></Value>
      <Value Culture="sv"><![CDATA[Nytorget 6]]></Value>
    </restaurantName>
    <title>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Nytorget 6]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Nytorget 6]]></Value>
    </title>
  </Properties>
</Content>