<?xml version="1.0" encoding="utf-8"?>
<Content Key="1b1cc7a3-7b17-45d8-8bc8-693582475108" Alias="Om oss" Level="2">
  <Info>
    <Parent Key="4f572d85-7466-499d-a481-f8315629bc7e">Hem</Parent>
    <Path>/Hem/OmOss</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutUs</ContentType>
    <CreateDate>2024-11-04T21:02:18</CreateDate>
    <NodeName Default="Om oss">
      <Name Culture="en-US">About Us</Name>
      <Name Culture="sv">Om oss</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="c6012a3e-69cd-4832-9fd8-df60397dbf5d">aboutUs</Template>
  </Info>
  <Properties>
    <contactButton>
      <Value Culture="en-US"><![CDATA[Read more]]></Value>
      <Value Culture="sv"><![CDATA[Läs mer]]></Value>
    </contactButton>
    <contactLink>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </contactLink>
    <headerImage>
      <Value Culture="en-US"><![CDATA[[
  {
    "key": "c065c6a5-6ea5-4efd-94fa-a3572026d72e",
    "mediaKey": "8b1fa871-0642-418a-9f53-b0b11d76d05b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  {
    "key": "3f81e854-496e-435a-aa55-329a8b8c60d4",
    "mediaKey": "8b1fa871-0642-418a-9f53-b0b11d76d05b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerImage>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <more>
      <Value Culture="en-US"><![CDATA[{
  "markup": "\u003Cp\u003EDo you have questions, tips, or want to know more about our work? We are always open to connect with other foodies and restaurant enthusiasts. Click the link below to get to our contact page and get in touch - we look forward to talking to you!\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
      <Value Culture="sv"><![CDATA[{
  "markup": "\u003Cp\u003EHar du fr\u00E5gor, tips, eller vill veta mer om v\u00E5rt arbete? Vi \u00E4r alltid \u00F6ppna f\u00F6r att f\u00E5 kontakt med andra mat\u00E4lskare och restaurangentusiaster. Klicka p\u00E5 l\u00E4nken nedan f\u00F6r att komma till v\u00E5r kontaktsida och h\u00F6r av dig \u2013 vi ser fram emot att prata med dig!\u003C/p\u003E\n\u003Cp\u003E\u0026nbsp;\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </more>
    <moreHeader>
      <Value Culture="en-US"><![CDATA[Want To Know More?]]></Value>
      <Value Culture="sv"><![CDATA[Vill Du Veta Mer?]]></Value>
    </moreHeader>
    <ourStory>
      <Value Culture="en-US"><![CDATA[{
  "markup": "\u003Cp\u003EWe are a team of food-loving students who share a passion for discovering and documenting Stockholm\u00B4s restaurant culture. Our project was created with the goal of offering you the best tips on everything from elegant fine-dining experiences to charming bistros and exciting wine bars. We want to inspire others to explore the city\u0027s culinary diversity, and our website is a way to share the joy and knowledge we\u0027ve gained along the way.\u0026nbsp;\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
      <Value Culture="sv"><![CDATA[{
  "markup": "\u003Cp\u003EVi \u00E4r ett team av mat\u00E4lskande studenter som delar en passion f\u00F6r att uppt\u00E4cka och dokumentera Stockholms restaurangkultur. V\u00E5rt projekt \u00E4r skapat med m\u00E5let att erbjuda dig de b\u00E4sta tipsen p\u00E5 allt fr\u00E5n eleganta fine-dining-upplevelser till charmiga bistros och sp\u00E4nnande vinbarer. Vi vill inspirera andra att utforska stadens kulinariska m\u00E5ngfald, och v\u00E5r webbplats \u00E4r ett s\u00E4tt att dela den gl\u00E4dje och kunskap vi har f\u00E5tt l\u00E4ngs v\u00E4gen.\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourStory>
    <ourStoryHeader>
      <Value Culture="en-US"><![CDATA[Our Story]]></Value>
      <Value Culture="sv"><![CDATA[Vår Berättelse]]></Value>
    </ourStoryHeader>
    <ourValues>
      <Value Culture="en-US"><![CDATA[{
  "markup": "\u003Cp\u003EWe believe in sustainability, quality, and a community that unites people through good food. Our vision is to highlight restaurants that care about the environment and promote local ingredients, while supporting an inclusive and diversified food culture. By drawing attention to restaurants with similar values, we hope to contribute to a more conscious and inspired dining experience for everyone.\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
      <Value Culture="sv"><![CDATA[{
  "markup": "\u003Cp\u003EVi tror p\u00E5 h\u00E5llbarhet, kvalitet, och en gemenskap som f\u00F6renar m\u00E4nniskor genom god mat. V\u00E5r vision \u00E4r att lyfta fram restauranger som bryr sig om milj\u00F6n och fr\u00E4mjar lokala r\u00E5varor, samtidigt som vi st\u00F6ttar en inkluderande och diversifierad matkultur. Genom att uppm\u00E4rksamma restauranger med liknande v\u00E4rderingar, hoppas vi kunna bidra till en mer medveten och inspirerad matupplevelse f\u00F6r alla.\u003C/p\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </ourValues>
    <slogan>
      <Value Culture="en-US"><![CDATA["A passion for good food and memorable experiences"]]></Value>
      <Value Culture="sv"><![CDATA["En passion för god mat och minnesvärda upplevelser"]]></Value>
    </slogan>
    <title>
      <Value Culture="en-US"><![CDATA[About Us]]></Value>
      <Value Culture="sv"><![CDATA[Om Oss]]></Value>
    </title>
    <valuesHeader>
      <Value Culture="en-US"><![CDATA[Our Values]]></Value>
      <Value Culture="sv"><![CDATA[Våra Värderingar]]></Value>
    </valuesHeader>
  </Properties>
</Content>