<?xml version="1.0" encoding="utf-8"?>
<Content Key="900643ce-e51e-454a-8f7b-5ad9159f17a4" Alias="Operakällaren" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Operakallaren</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-28T11:29:47</CreateDate>
    <NodeName Default="Operakällaren">
      <Name Culture="en-US">Operakällaren</Name>
      <Name Culture="sv">Operakällaren</Name>
    </NodeName>
    <SortOrder>26</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Karl XII torg, 111 86 Stockholm.]]></Value>
      <Value Culture="sv"><![CDATA[Karl XII torg, 111 86 Stockholm.]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Swedish classics"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Svenska klassiker"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Operakällaren is one of Sweden's most prestigious restaurants, founded in 1787 and located in the Royal Opera House building in Stockholm. The restaurant offers gourmet cuisine and has, over the years, been a gathering place for artists, politicians, and cultural personalities. With its elegant interior and rich culinary heritage, Operakällaren is a symbol of luxury and Swedish gastronomy.]]></Value>
      <Value Culture="sv"><![CDATA[Operakällaren är en av Sveriges mest prestigefyllda restauranger, grundad 1787, belägen i Kungliga Operans byggnad i Stockholm. Restaurangen erbjuder gourmetmat och har genom åren varit en mötesplats för konstnärer, politiker och kulturpersonligheter. Med sin eleganta interiör och sitt rika kulinariska arv är Operakällaren en symbol för lyx och svensk gastronomi.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "d4342171-f11d-4a75-8d4a-49443f0497d2",
    "mediaKey": "42188fa1-489e-4cba-a88d-57fe23ad7718",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "ea6124cf-4a60-468e-bb04-624d835d7d78",
    "mediaKey": "42188fa1-489e-4cba-a88d-57fe23ad7718",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "3e04297d-03d5-4186-8f4c-c64113feab48",
    "mediaKey": "84fbb0e9-7ce0-4546-b01f-bedaca29d0d6",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "d37ac7fc-124c-4403-b83a-1413552584f7",
    "mediaKey": "07023e49-6a82-4aa9-a6a5-9d9436853881",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "33f1f624-7601-4638-a162-59d48a258de7",
    "mediaKey": "b61a0bed-b649-476e-a9a0-5cb95d26c1c7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "f651285b-4f7d-4847-88be-476316300f4e",
    "mediaKey": "214f21ea-cc5b-458a-97d4-ed6e957ab5c0",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "4b5f94a9-4cb7-4e3a-a28a-95103f5093d8",
    "mediaKey": "22632dfb-dca2-4bc6-bfc0-ef6f3f3f0f8f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[Opera, operakäll, operakällare, operakällaren, operakall, operakallare, operakallaren, svenska, svenska klassiker, klassiker, Swedish, Swedish classics, classics, svensk mat, traditionell mat, svensk husmanskost, husmanskost, Swedish food, traditional Swedish cuisine, classic Stockholm dining, traditionell restaurang, casual, svenska rätter, Swedish dish, lyxmat, exclusive food, Michelin, Michelin-restaurang, Michelin stars, fine dining Michelin]]></Value>
      <Value Culture="sv"><![CDATA[Opera, operakäll, operakällare, operakällaren, operakall, operakallare, operakallaren, svenska, svenska klassiker, klassiker, Swedish, Swedish classics, classics, svensk mat, traditionell mat, svensk husmanskost, husmanskost, Swedish food, traditional Swedish cuisine, classic Stockholm dining, traditionell restaurang, casual, svenska rätter, Swedish dish, lyxmat, exclusive food, Michelin, Michelin-restaurang, Michelin stars, fine dining Michelin]]></Value>
    </keywords>
    <latitud>
      <Value><![CDATA[59.32975]]></Value>
    </latitud>
    <longitud>
      <Value><![CDATA[18.07152]]></Value>
    </longitud>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Experience Operakällaren – a prestigious restaurant since 1787 in the Royal Opera House. Gourmet cuisine and an elegant ambiance in central Stockholm.]]></Value>
      <Value Culture="sv"><![CDATA[Upplev Operakällaren – en prestigefylld restaurang från 1787 i Kungliga Operan. Gourmetmat och elegant atmosfär i hjärtat av Stockholm.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Operakällaren]]></Value>
      <Value Culture="sv"><![CDATA[Operakällaren]]></Value>
    </restaurantName>
    <seoTitle>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Operkällaren]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Operkällaren]]></Value>
    </seoTitle>
  </Properties>
</Content>