<?xml version="1.0" encoding="utf-8"?>
<Content Key="cda7199d-1feb-4d80-a5a3-65174d01431e" Alias="Operakällaren" Level="3">
  <Info>
    <Parent Key="53d9e71f-dd0c-4a9b-9470-5222d97dc6ed">Slideshow</Parent>
    <Path>/Hem/Slideshow/Operakallaren</Path>
    <Trashed>false</Trashed>
    <ContentType>slideshowPage</ContentType>
    <CreateDate>2024-10-22T22:11:38</CreateDate>
    <NodeName Default="Operakällaren">
      <Name Culture="en-US">Operakallaren</Name>
      <Name Culture="sv">Operakällaren</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <altText>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </altText>
    <button>
      <Value Culture="en-US"><![CDATA[To restaurant]]></Value>
      <Value Culture="sv"><![CDATA[Till restaurangen]]></Value>
    </button>
    <image>
      <Value Culture="en-US"><![CDATA[[
  {
    "key": "186280f1-9947-4ca6-b23b-710d3192a402",
    "mediaKey": "07023e49-6a82-4aa9-a6a5-9d9436853881",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  {
    "key": "60e0dc15-b63e-4d69-ae5d-f69ff2409508",
    "mediaKey": "abb4eb30-abe5-4c7f-8a24-515a4a67f767",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <link>
      <Value Culture="en-US"><![CDATA[[
  {
    "name": null,
    "target": null,
    "udi": "umb://document/900643cee51e454a8f7b5ad9159f17a4",
    "url": null,
    "queryString": null
  }
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  {
    "name": null,
    "target": null,
    "udi": "umb://document/900643cee51e454a8f7b5ad9159f17a4",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </link>
  </Properties>
</Content>