<?xml version="1.0" encoding="utf-8"?>
<Content Key="46590b1a-0d5d-4d91-a6a5-9c86286fb223" Alias="Operakällaren" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Start/Restauranger/Operakallaren</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-20T19:42:31</CreateDate>
    <NodeName Default="Operakällaren">
      <Name Culture="en-US">Operakällaren</Name>
      <Name Culture="sv">Operakällaren</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">test</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Karl XII torg, 111 86 Stockholm.]]></Value>
      <Value Culture="sv"><![CDATA[Karl XII torg, 111 86 Stockholm.]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Svenska Klassiker"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Operakällaren is one of Sweden’s most prestigious restaurants, founded in 1787, and located within the Royal Opera House in Stockholm. The restaurant offers gourmet cuisine and has, over the years, been a meeting place for artists, politicians, and cultural figures. With its elegant interior and rich culinary heritage, Operakällaren is a symbol of luxury and Swedish gastronomy.]]></Value>
      <Value Culture="sv"><![CDATA[Operakällaren är en av Sveriges mest prestigefyllda restauranger, grundad 1787, belägen i Kungliga Operans byggnad i Stockholm. Restaurangen erbjuder gourmetmat och har genom åren varit en mötesplats för konstnärer, politiker och kulturpersonligheter. Med sin eleganta interiör och sitt rika kulinariska arv är Operakällaren en symbol för lyx och svensk gastronomi.]]></Value>
    </description>
    <images>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[[
  {
    "key": "bbb2c13d-42d4-472a-bd2a-71a065aa9474",
    "mediaKey": "73e966e8-e143-4c84-9618-b305df437815",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "c974abf4-08f8-4623-860f-e76e2eb1aece",
    "mediaKey": "88b11e49-413a-4ba2-b5d5-f6226a29af0a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "71739269-1e34-49c5-a9b9-4408fa124c6e",
    "mediaKey": "b4ff3e45-9829-4fa4-b3fb-5b3ad659fde5",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "c8a86fbb-2a0f-4d49-beb0-90dc9eb3ffe1",
    "mediaKey": "493cc4e8-d4da-4691-a111-cc334ae5df9b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "ab7d6742-0908-4335-8106-6e846a517962",
    "mediaKey": "7498af62-0cab-4c09-8723-8debe2dd110f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "c212c34c-10eb-48ce-9cbb-524148c74bf3",
    "mediaKey": "b6688503-6d79-4197-bff8-2a58d7ef5753",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "56f132cd-1ab2-4344-b62d-a094d323232c",
    "mediaKey": "394c074d-9ad0-496d-ac65-db176d363234",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "859d055d-e636-470a-908f-f880bfd901d4",
    "mediaKey": "a860c794-9bbe-4a68-85cb-b0cba6f45a25",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Operakällaren]]></Value>
      <Value Culture="sv"><![CDATA[Operakällaren]]></Value>
    </restaurantName>
  </Properties>
</Content>