<?xml version="1.0" encoding="utf-8"?>
<Content Key="a59711de-05e2-4575-840c-21ecb4ea28c3" Alias="Paraden" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Paraden</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-11-04T15:56:15</CreateDate>
    <NodeName Default="Paraden">
      <Name Culture="en-US">Paraden</Name>
      <Name Culture="sv">Paraden</Name>
    </NodeName>
    <SortOrder>39</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Valhallavägen 147, 11531 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Valhallavägen 147, 11531 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Modern bistro"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Modern bistro"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Paraden Kvarterskrog, located on Valhallavägen in Stockholm, offers a cozy and affordable dining experience in a historic space that was once a cinema. The menu includes lunch, brunch, and dinner, focusing on quality food in a relaxed setting. The restaurant also has a bar with modern cocktails and a private dining room for exclusive gatherings. The atmosphere is lively and service-oriented, creating a warm and inviting neighborhood bistro vibe.]]></Value>
      <Value Culture="sv"><![CDATA[Paraden Kvarterskrog, belägen på Valhallavägen i Stockholm, erbjuder en trivsam och prisvärd matupplevelse i en historisk lokal som tidigare var en biograf. Menyn innehåller lunch, brunch och middag med ett fokus på kvalitetsmat i en avslappnad miljö. Restaurangen har även en bar med moderna cocktails och en chambre séparée för privata sällskap. Stämningen är livlig och serviceinriktad, vilket skapar en varm och inbjudande kvarterskrogsatmosfär.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "17f6f47d-8abd-4595-bfe1-1e789565b7ad",
    "mediaKey": "8c159990-6597-4958-ab4a-9e95861f4326",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "50470a4e-503e-4bb1-bed1-06269577a30f",
    "mediaKey": "4958c919-ffc2-4cbc-9e31-aa1c73535c7f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "8b586bdc-f0ee-4b3b-90ad-da86d2236e4b",
    "mediaKey": "c4299989-28a1-4d12-ae07-c8004d501b53",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "47e46b1c-56c3-4539-b971-d2512e39ba23",
    "mediaKey": "44850901-9876-4a3c-9814-36e5c1ea3a5d",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "2071e909-5861-4503-9622-e32f2cebe4d3",
    "mediaKey": "91526e88-ef99-4aaa-bf3a-73af18a8802a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "d6233868-ced3-4464-97bc-01149ba3feba",
    "mediaKey": "8c159990-6597-4958-ab4a-9e95861f4326",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "37f8d9c9-1d86-4828-a88c-e84e757dccfe",
    "mediaKey": "f40941f2-901a-47bb-afdf-72a2abcfb263",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[paraden, modern bistro, modern, bistro
]]></Value>
      <Value Culture="sv"><![CDATA[paraden, modern bistro, modern, bistro
]]></Value>
    </keywords>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Paraden Kvarterskrog on Valhallavägen in Stockholm offers a cozy dining experience in a historic setting, with a menu featuring lunch, brunch, and dinner in a relaxed atmosphere.]]></Value>
      <Value Culture="sv"><![CDATA[Paraden Kvarterskrog på Valhallavägen i Stockholm erbjuder en trivsam matupplevelse i en historisk lokal, med en meny för lunch, brunch och middag i avslappnad atmosfär.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Paraden]]></Value>
      <Value Culture="sv"><![CDATA[Paraden]]></Value>
    </restaurantName>
    <title>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Paraden]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Paraden]]></Value>
    </title>
  </Properties>
</Content>