<?xml version="1.0" encoding="utf-8"?>
<Content Key="39d0bca6-23d9-40e0-abc4-7fe7dfa5e7dd" Alias="Portal" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Portal</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-30T15:53:40</CreateDate>
    <NodeName Default="Portal">
      <Name Culture="en-US">Portal</Name>
      <Name Culture="sv">Portal</Name>
    </NodeName>
    <SortOrder>35</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Sankt Eriksplan 1, 113 20 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Sankt Eriksplan 1, 113 20 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Fine dining"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Fine dining"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Portal, under the management of Klas Lindberg, is a modern bistro with a focus on Swedish seasonal ingredients. The restaurant offers a relaxed and stylish environment where both à la carte and tasting menus are served. With its creative cooking and inviting atmosphere, Portal has become a favorite for locals and visitors alike.]]></Value>
      <Value Culture="sv"><![CDATA[Portal, under ledning av Klas Lindberg, är en modern bistro med fokus på svenska säsongsråvaror. Restaurangen erbjuder en avslappnad och stilren miljö där både à la carte och avsmakningsmenyer serveras. Med sin kreativa matlagning och inbjudande atmosfär har Portal blivit en favorit för både lokalbor och besökare.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "73b0a04f-57a8-42da-a4ed-f50959a6ba82",
    "mediaKey": "ccec0caf-5798-40d7-a740-4b05aac22f96",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "db7497a6-8510-423d-8ef0-2e7af037d38b",
    "mediaKey": "dc99c297-319c-4ccc-b706-99434d312d6c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "05bdb43c-4f53-43a4-bcfc-578ddf036256",
    "mediaKey": "bd341288-5870-420e-88ed-0f2d70a05ca9",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "73b98cff-2806-442f-bf3b-1b62994ee9be",
    "mediaKey": "400f00e1-bfa0-41ee-a714-bf5528cc11ba",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "3c930ac7-dc5b-416b-bc38-7aaae4775669",
    "mediaKey": "5391e7db-c6ab-40a0-8603-6dbc68bc343a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "a005878f-e5ce-4897-9d5d-b6c1d8ca6f18",
    "mediaKey": "06b1d2bd-c2cf-44eb-9192-f971f78d6517",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "c37f81a1-db8c-4b99-b7ef-9906589f3e69",
    "mediaKey": "ccec0caf-5798-40d7-a740-4b05aac22f96",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[portal, port, fine, fine dining, dining]]></Value>
      <Value Culture="sv"><![CDATA[portal, port, fine, fine dining, dining]]></Value>
    </keywords>
    <latitud>
      <Value><![CDATA[]]></Value>
    </latitud>
    <longitud>
      <Value><![CDATA[]]></Value>
    </longitud>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Enjoy Portal – a casual but elegant restaurant with dishes that celebrate Swedish flavors. Perfect for enjoying both lunch and dinner with friends or colleagues.]]></Value>
      <Value Culture="sv"><![CDATA[Njut av Portal – en avslappnad men elegant restaurang med rätter som hyllar svenska smaker. Perfekt för att avnjuta både lunch och middag med vänner eller kollegor.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Portal]]></Value>
      <Value Culture="sv"><![CDATA[Portal]]></Value>
    </restaurantName>
    <title>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Portal]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Portal]]></Value>
    </title>
  </Properties>
</Content>