<?xml version="1.0" encoding="utf-8"?>
<Content Key="39d0bca6-23d9-40e0-abc4-7fe7dfa5e7dd" Alias="Portal" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Portal</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-30T15:53:40</CreateDate>
    <NodeName Default="Portal">
      <Name Culture="en-US">Portal</Name>
      <Name Culture="sv">Portal</Name>
    </NodeName>
    <SortOrder>35</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">false</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Sankt Eriksplan 1, 113 20 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Sankt Eriksplan 1, 113 20 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Fine dining"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Fine dining"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Portal, under the management of Klas Lindberg, is a modern bistro with a focus on Swedish seasonal ingredients. The restaurant offers a relaxed and stylish environment where both à la carte and tasting menus are served. With its creative cooking and inviting atmosphere, Portal has become a favorite for locals and visitors alike.]]></Value>
      <Value Culture="sv"><![CDATA[Portal, under ledning av Klas Lindberg, är en modern bistro med fokus på svenska säsongsråvaror. Restaurangen erbjuder en avslappnad och stilren miljö där både à la carte och avsmakningsmenyer serveras. Med sin kreativa matlagning och inbjudande atmosfär har Portal blivit en favorit för både lokalbor och besökare.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "73b0a04f-57a8-42da-a4ed-f50959a6ba82",
    "mediaKey": "ccec0caf-5798-40d7-a740-4b05aac22f96",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[portal, port, fine, fine dining, dining]]></Value>
      <Value Culture="sv"><![CDATA[portal, port, fine, fine dining, dining]]></Value>
    </keywords>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </metaDescription>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Portal]]></Value>
      <Value Culture="sv"><![CDATA[Portal]]></Value>
    </restaurantName>
    <title>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>