<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2075e7e-1064-4b1f-9914-616a72fc37f1" Alias="Prinsen" Level="3">
  <Info>
    <Parent Key="53d9e71f-dd0c-4a9b-9470-5222d97dc6ed">Slideshow</Parent>
    <Path>/Hem/Slideshow/Prinsen</Path>
    <Trashed>false</Trashed>
    <ContentType>slideshowPage</ContentType>
    <CreateDate>2024-10-22T22:12:21</CreateDate>
    <NodeName Default="Prinsen">
      <Name Culture="en-US">Prinsen</Name>
      <Name Culture="sv">Prinsen</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <altText>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </altText>
    <button>
      <Value Culture="en-US"><![CDATA[To restaurant]]></Value>
      <Value Culture="sv"><![CDATA[Till restaurangen]]></Value>
    </button>
    <image>
      <Value Culture="en-US"><![CDATA[[
  {
    "key": "1c4f7e34-f693-411d-a0fc-23ebffccc7e4",
    "mediaKey": "180601cc-c6f6-44c0-b571-85cd8bc7d9c9",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  {
    "key": "a9712fb0-eacd-4aeb-a550-082bb14b400c",
    "mediaKey": "180601cc-c6f6-44c0-b571-85cd8bc7d9c9",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <link>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </link>
  </Properties>
</Content>