<?xml version="1.0" encoding="utf-8"?>
<Content Key="de310a88-8668-47dc-b34f-a8d4367bf89d" Alias="Prinsen" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Prinsen</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-24T19:53:35</CreateDate>
    <NodeName Default="Prinsen">
      <Name Culture="en-US">Prinsen</Name>
      <Name Culture="sv">Prinsen</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[Mäster Samuelsgatan 4, 111 44 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Swedish classics"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Svenska klassiker"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Prinsen, founded in 1897, is a historic restaurant in Stockholm, known for its classic Swedish home-cooked dishes and charming atmosphere. The restaurant has long been a gathering place for artists, writers, and cultural figures. With its timeless interior and rich history, Prinsen is an icon on Stockholm's restaurant scene.]]></Value>
      <Value Culture="sv"><![CDATA[Prinsen, grundad 1897, är en anrik restaurang i Stockholm som är känd för sin klassiska svenska husmanskost och charmiga atmosfär. Restaurangen har länge varit en samlingsplats för konstnärer, författare och kulturpersonligheter. Med sin tidlösa inredning och rika historia är Prinsen en ikon inom Stockholms restaurangscen.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "bab8da42-ce90-48b2-8cd5-0924b6fbd237",
    "mediaKey": "5db318d3-53fe-4516-a2a4-c092ede114b5",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "4de1291c-3d16-460d-8258-89511a17be88",
    "mediaKey": "de7662dd-25e9-4aca-9231-41d48057dd8b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "164fae28-b1c3-43b9-a98c-9beed2bd9d6d",
    "mediaKey": "3ca5ed96-7c20-4e73-8b4e-6f64152a2b6d",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "40e52a9a-3db5-47b8-8f43-269bdcc16883",
    "mediaKey": "e57b69f3-93fc-408a-aab0-6ac972e37805",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "4bc3604b-c48e-4b35-8a48-01ef10b691aa",
    "mediaKey": "40e5a243-f2ca-4e2f-9826-35c6addc9891",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "6c13d025-71a6-45eb-a5ca-f7361fe313e9",
    "mediaKey": "b71a34cd-6468-4714-9879-9bff5307662f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "e85252e7-0a37-4098-b453-6040d1736ac9",
    "mediaKey": "ba20757e-c727-4703-a956-1d128ec14cea",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Prinsen]]></Value>
      <Value Culture="sv"><![CDATA[Prinsen]]></Value>
    </restaurantName>
  </Properties>
</Content>