<?xml version="1.0" encoding="utf-8"?>
<Content Key="de310a88-8668-47dc-b34f-a8d4367bf89d" Alias="Prinsen" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Prinsen</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-24T19:53:35</CreateDate>
    <NodeName Default="Prinsen">
      <Name Culture="en-US">Prinsen</Name>
      <Name Culture="sv">Prinsen</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[Mäster Samuelsgatan 4, 111 44 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Swedish classics"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Svenska klassiker"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Prinsen, founded in 1897, is a historic restaurant in Stockholm, known for its classic Swedish home-cooked dishes and charming atmosphere. The restaurant has long been a gathering place for artists, writers, and cultural figures. With its timeless interior and rich history, Prinsen is an icon on Stockholm's restaurant scene.]]></Value>
      <Value Culture="sv"><![CDATA[Prinsen, grundad 1897, är en anrik restaurang i Stockholm som är känd för sin klassiska svenska husmanskost och charmiga atmosfär. Restaurangen har länge varit en samlingsplats för konstnärer, författare och kulturpersonligheter. Med sin tidlösa inredning och rika historia är Prinsen en ikon inom Stockholms restaurangscen.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "bab8da42-ce90-48b2-8cd5-0924b6fbd237",
    "mediaKey": "5db318d3-53fe-4516-a2a4-c092ede114b5",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "fbb43d4f-c438-408d-86e3-c1d8bc97ac9d",
    "mediaKey": "de7662dd-25e9-4aca-9231-41d48057dd8b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "69319f16-c944-42db-add1-c59613686fea",
    "mediaKey": "35b99be0-5717-4b53-9f9a-b6863741b718",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "528f5c76-6275-4231-bf32-f915c10f476d",
    "mediaKey": "ba20757e-c727-4703-a956-1d128ec14cea",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "36c8465a-eada-47ad-8364-ee24f5295960",
    "mediaKey": "329245d6-0d89-486a-9d04-c3f08b77647a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "c47aad98-a33b-481e-8a10-08481eea06c1",
    "mediaKey": "e57b69f3-93fc-408a-aab0-6ac972e37805",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "deaba380-b63d-49b0-8923-7ab158fce73b",
    "mediaKey": "40e5a243-f2ca-4e2f-9826-35c6addc9891",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[prinsen, prins, svenska, svenska klassiker, klassiker, Swedish, Swedish classics, classics
]]></Value>
      <Value Culture="sv"><![CDATA[prinsen, prins, svenska, svenska klassiker, klassiker, Swedish, Swedish classics, classics
]]></Value>
    </keywords>
    <latitud>
      <Value><![CDATA[59.33452]]></Value>
    </latitud>
    <longitud>
      <Value><![CDATA[18.07334]]></Value>
    </longitud>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Visit Prinsen – a historic Stockholm restaurant since 1897, known for Swedish home-cooked dishes and a charming ambiance. A classic on the city’s dining scene.]]></Value>
      <Value Culture="sv"><![CDATA[Besök Prinsen – en anrik Stockholmsrestaurang sedan 1897, känd för svensk husmanskost och charmig atmosfär. En klassiker på stadens matscen.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Prinsen]]></Value>
      <Value Culture="sv"><![CDATA[Prinsen]]></Value>
    </restaurantName>
    <title>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Prinsen]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Prinsen]]></Value>
    </title>
  </Properties>
</Content>