<?xml version="1.0" encoding="utf-8"?>
<Content Key="559cf700-14a3-4f0a-aa6b-6cf58db04656" Alias="Racamaca" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Racamaca</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-11-04T16:06:38</CreateDate>
    <NodeName Default="Racamaca">
      <Name Culture="en-US">Racamaca</Name>
      <Name Culture="sv">Racamaca</Name>
    </NodeName>
    <SortOrder>43</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Wolmar yxkullsgatan 5b, 118 50 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Wolmar yxkullsgatan 5b, 118 50 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Modern bistro"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Modern bistro"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[RACAMACA is a popular neighborhood bistro located at Wollmar Yxkullsgatan 5B in Stockholm. The restaurant is known for its lively atmosphere and tapas inspired by Basque cuisine and other Southern European influences. The menu offers a variety of small dishes like huevos rotos, Sicilian tuna tartare, and other exciting combinations featuring chistorra sausage and boquerones. Racamaca has a cozy, intimate space, creating a unique experience for visitors; it’s a place to enjoy good food and drinks in a social and relaxed setting.]]></Value>
      <Value Culture="sv"><![CDATA[RACAMACA är en populär kvarterskrog belägen på Wollmar Yxkullsgatan 5B i Stockholm. Restaurangen är känd för sin livliga atmosfär och tapas inspirerade av det baskiska köket samt andra sydeuropeiska influenser.
Menyn erbjuder en variation av små rätter som huevos rotos, siciliansk tonfisktartar och andra spännande kombinationer med exempelvis chistorra-korv och boquerones. Racamaca har en trång och gemytlig lokal, vilket ger en unik upplevelse för besökarna; det är en plats där man kan njuta av god mat och dryck i en social och avslappnad miljö.
]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "a7605469-6e64-4faf-91df-9591451b6e05",
    "mediaKey": "08a850ee-1534-46fc-abc9-1aa346a28eb0",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "f340cf2a-a59f-4523-bffd-fa59d02aa856",
    "mediaKey": "6b6a4953-8190-4015-888a-c4feab321093",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "805a809c-1464-4dae-bb0e-73d83bf3d425",
    "mediaKey": "08a850ee-1534-46fc-abc9-1aa346a28eb0",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "c791cf1c-fed6-486e-ba92-505628c450b2",
    "mediaKey": "f999412e-edc4-42bb-87a2-97a22042ad1f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "b3afdc7b-faf5-4c4c-af45-6893a880ef62",
    "mediaKey": "2d80093b-c4dc-4c2f-9e88-9212b28e284c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "bb8123f7-86d1-4817-96bf-b69d0948d272",
    "mediaKey": "3f5ee3ce-865c-4bb4-8c39-b84dbd5e2582",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "98814efc-a255-4c84-ac6a-054c5cbc7ed6",
    "mediaKey": "8e8466aa-8d1b-4cbe-aac1-bfa494a87bcb",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[racamaca, modern bistro, modern, bistro
]]></Value>
      <Value Culture="sv"><![CDATA[racamaca, modern bistro, modern, bistro
]]></Value>
    </keywords>
    <latitud>
      <Value><![CDATA[]]></Value>
    </latitud>
    <longitud>
      <Value><![CDATA[]]></Value>
    </longitud>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[RACAMACA is a popular neighborhood bistro in Stockholm, featuring Basque-inspired tapas and a lively, cozy atmosphere.]]></Value>
      <Value Culture="sv"><![CDATA[RACAMACA är en populär kvarterskrog i Stockholm med baskiskinspirerade tapas och en livlig, gemytlig atmosfär.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Racamaca]]></Value>
      <Value Culture="sv"><![CDATA[Racamaca]]></Value>
    </restaurantName>
    <seoTitle>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Racamaca]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Racamaca]]></Value>
    </seoTitle>
  </Properties>
</Content>