<?xml version="1.0" encoding="utf-8"?>
<Content Key="93346c19-7af5-4a4d-9e63-875a22242ceb" Alias="Restaurang ART" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/RestaurangART</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-11-04T15:02:59</CreateDate>
    <NodeName Default="Restaurang ART">
      <Name Culture="en-US">Restaurang ART</Name>
      <Name Culture="sv">Restaurang ART</Name>
    </NodeName>
    <SortOrder>36</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Norra Stationsgatan 65, 113 43 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Norra Stationsgatan 65, 113 43 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Modern bistro"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Modern bistro"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Restaurant ART in Stockholm is a neighborhood eatery that creatively combines art and food. Located on Norra Stationsgatan, it features a constantly changing menu based on seasonal ingredients. Collaborations with GraffitiSthlm give the restaurant a unique artistic atmosphere with street art and a relaxed vibe. It serves as a social meeting place, welcoming both small and large groups, and offers an experience where food and art come together.]]></Value>
      <Value Culture="sv"><![CDATA[Restaurang ART i Stockholm är en kvarterskrog som kombinerar konst och mat på ett kreativt sätt. Belägen på Norra Stationsgatan, erbjuder den en ständigt föränderlig meny baserad på säsongens råvaror. Samarbeten med GraffitiSthlm ger restaurangen en unik konstnärlig atmosfär med street art och en avslappnad stämning. Det är en social mötesplats som välkomnar både små och stora sällskap, och erbjuder en upplevelse där mat och konst möts.
]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "1ecec3e1-2ded-4439-b2cb-e6d13481fdda",
    "mediaKey": "f6b9a418-c7fe-430f-92a0-915418401777",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "07ed4c74-4cb7-4e33-9093-9f4d1989d9e7",
    "mediaKey": "1c1363b0-0f1a-452a-9dab-54c445bbd4fd",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "e97adf4a-ef98-4b32-b52b-ac5a5e26887f",
    "mediaKey": "f6b9a418-c7fe-430f-92a0-915418401777",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "871cf2d3-718a-4616-b6b5-1b34725e3e52",
    "mediaKey": "23e2675a-735d-4077-84cc-22ea63473114",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "2e154556-e873-4232-8858-f4bdaa4db8ac",
    "mediaKey": "0e676498-be86-462c-9b08-be75fa51eff6",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "cdf4acdd-2fd0-45d9-b973-508503e83df5",
    "mediaKey": "af80351d-aa01-4616-bca8-da74ef505eed",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "9dc132fc-37d8-4e58-b563-5af93d19dfac",
    "mediaKey": "5c529e70-a918-416e-a1da-ffb8d26e5962",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[art, restaurang art, art restaurang, art restaurant, restaurant art, modern bistro, modern, bistro
]]></Value>
      <Value Culture="sv"><![CDATA[art, restaurang art, art restaurang, art restaurant, restaurant art, modern bistro, modern, bistro
]]></Value>
    </keywords>
    <latitud>
      <Value><![CDATA[59.347752299080526]]></Value>
    </latitud>
    <longitud>
      <Value><![CDATA[18.0380443536128]]></Value>
    </longitud>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Restaurant ART in Stockholm offers a unique experience where food and art meet, featuring a seasonal menu and a creative atmosphere characterized by street art.]]></Value>
      <Value Culture="sv"><![CDATA[Restaurang ART i Stockholm erbjuder en unik upplevelse där mat och konst möts, med en säsongsbetonad meny och en kreativ atmosfär präglad av street art.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Restaurang ART]]></Value>
      <Value Culture="sv"><![CDATA[Restaurang ART]]></Value>
    </restaurantName>
    <seoTitle>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Restaurang ART]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Restaurang ART]]></Value>
    </seoTitle>
  </Properties>
</Content>