<?xml version="1.0" encoding="utf-8"?>
<Content Key="53c1c227-3258-40fb-9549-9c5bcb67656d" Alias="Riche" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Riche</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-24T20:20:16</CreateDate>
    <NodeName Default="Riche">
      <Name Culture="en-US">Riche</Name>
      <Name Culture="sv">Riche</Name>
    </NodeName>
    <SortOrder>13</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Birger Jarlsgatan 4, 114 34 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Birger Jarlsgatan 4, 114 34 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Swedish classics"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Svenska klassiker"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Riche, founded in 1893, is a classic restaurant located on Birger Jarlsgatan in Stockholm. Inspired by the Parisian brasserie, Riche offers a mix of Swedish and French cuisine in an elegant and lively setting. The restaurant is a popular meeting place for artists, cultural figures, and trend-conscious locals, with a long history as a central part of Stockholm’s social scene.]]></Value>
      <Value Culture="sv"><![CDATA[Riche, grundad 1893, är en klassisk restaurang belägen vid Birger Jarlsgatan i Stockholm. Inspirerad av det parisiska brasseriet erbjuder Riche en mix av svensk och fransk mat i en elegant och livlig miljö. Restaurangen är en populär mötesplats för konstnärer, kulturpersonligheter och trendmedvetna stockholmare, och har en lång historia som en central del av Stockholms nöjesliv.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "10692d7a-bc46-4d1e-94fa-18a7442309fb",
    "mediaKey": "a5927dcc-e5d3-420c-a470-6765e2f2f29b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "882ff29e-fe93-41df-a299-364c12a2c8b1",
    "mediaKey": "7eb560a8-3cf4-4d37-a392-d1b710a45e94",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "569261eb-116b-4359-9f56-d745b08bf599",
    "mediaKey": "9b31e20f-ef59-40bf-a510-3263f69bb79e",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "58d1121d-5c05-4b5d-ae2f-3da9d8a228d7",
    "mediaKey": "4bfeed94-35d7-4fe6-85a3-655380bddd57",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "2ef59498-14af-46f7-8552-d3299c4d9ab0",
    "mediaKey": "c3af006d-5b62-4cdc-8452-67f9fc9454df",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "59d99b22-b8fa-4569-af19-e097fa34d955",
    "mediaKey": "9cb8b3a0-3ab3-4e1e-bd5e-838ee20f4a83",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "ae57ae75-09c4-4912-aea9-fcd2926f97a4",
    "mediaKey": "bed77a29-a7c8-46f5-a8dc-efe833ab26f8",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[riche, rich, svenska klassiker, klassiker, Swedish, Swedish classics, classics]]></Value>
      <Value Culture="sv"><![CDATA[riche, rich, svenska klassiker, klassiker, Swedish, Swedish classics, classics]]></Value>
    </keywords>
    <latitud>
      <Value><![CDATA[59.33373]]></Value>
    </latitud>
    <longitud>
      <Value><![CDATA[18.07557]]></Value>
    </longitud>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Visit Riche on Birger Jarlsgatan – a classic Stockholm restaurant since 1893, offering Swedish-French cuisine in a lively brasserie setting.]]></Value>
      <Value Culture="sv"><![CDATA[Besök Riche på Birger Jarlsgatan – en klassisk Stockholmsrestaurang från 1893 med svensk-fransk mat i livlig brasserimiljö.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Riche]]></Value>
      <Value Culture="sv"><![CDATA[Riche]]></Value>
    </restaurantName>
    <title>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Riche]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Riche]]></Value>
    </title>
  </Properties>
</Content>