<?xml version="1.0" encoding="utf-8"?>
<Content Key="53c1c227-3258-40fb-9549-9c5bcb67656d" Alias="Riche" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Riche</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-24T20:20:16</CreateDate>
    <NodeName Default="Riche">
      <Name Culture="en-US">Riche</Name>
      <Name Culture="sv">Riche</Name>
    </NodeName>
    <SortOrder>13</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Birger Jarlsgatan 4, 114 34 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Birger Jarlsgatan 4, 114 34 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Swedish classics"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Svenska klassiker"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Riche, founded in 1893, is a classic restaurant located on Birger Jarlsgatan in Stockholm. Inspired by the Parisian brasserie, Riche offers a mix of Swedish and French cuisine in an elegant and lively setting. The restaurant is a popular meeting place for artists, cultural figures, and trend-conscious locals, with a long history as a central part of Stockholm’s social scene.]]></Value>
      <Value Culture="sv"><![CDATA[Riche, grundad 1893, är en klassisk restaurang belägen vid Birger Jarlsgatan i Stockholm. Inspirerad av det parisiska brasseriet erbjuder Riche en mix av svensk och fransk mat i en elegant och livlig miljö. Restaurangen är en populär mötesplats för konstnärer, kulturpersonligheter och trendmedvetna stockholmare, och har en lång historia som en central del av Stockholms nöjesliv.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "6e7b6a16-83e7-460e-a51b-a36ce9245a11",
    "mediaKey": "109fb092-ee60-4134-9d5b-e92d2756d6ac",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "9312a2c4-1d3c-4e5d-b65d-3072ef4f3215",
    "mediaKey": "61749353-b13e-4385-81c2-8cbef618ce2b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "429dcf34-b6b6-4200-bddf-f2738a3767f6",
    "mediaKey": "5874d09c-69f4-4044-b44a-0734f460bbcb",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "cc9f68ee-d39f-4271-9dea-11ad78758d04",
    "mediaKey": "f8ffbdf1-5f22-4a81-b7a3-938c3cc8a426",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "11cfad94-34e3-49e6-bab5-67673d784130",
    "mediaKey": "845f9735-b76b-49ea-92ac-b48e48f16b85",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "e75433fd-8668-42b3-965d-227d100ac96a",
    "mediaKey": "109fb092-ee60-4134-9d5b-e92d2756d6ac",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "b139c404-79f2-4b78-8465-90b77a1d9c39",
    "mediaKey": "da8b3821-c891-4e08-91a9-1b3587933e40",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[riche, rich, svenska klassiker, klassiker, Swedish, Swedish classics, classics]]></Value>
      <Value Culture="sv"><![CDATA[riche, rich, svenska klassiker, klassiker, Swedish, Swedish classics, classics]]></Value>
    </keywords>
    <latitud>
      <Value><![CDATA[]]></Value>
    </latitud>
    <longitud>
      <Value><![CDATA[]]></Value>
    </longitud>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Visit Riche on Birger Jarlsgatan – a classic Stockholm restaurant since 1893, offering Swedish-French cuisine in a lively brasserie setting.]]></Value>
      <Value Culture="sv"><![CDATA[Besök Riche på Birger Jarlsgatan – en klassisk Stockholmsrestaurang från 1893 med svensk-fransk mat i livlig brasserimiljö.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Riche]]></Value>
      <Value Culture="sv"><![CDATA[Riche]]></Value>
    </restaurantName>
    <title>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Riche]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Riche]]></Value>
    </title>
  </Properties>
</Content>