<?xml version="1.0" encoding="utf-8"?>
<Content Key="2d677edb-1813-4860-8889-955dbf525f50" Alias="Riri" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Riri</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-11-04T16:10:17</CreateDate>
    <NodeName Default="Riri">
      <Name Culture="en-US">Riri</Name>
      <Name Culture="sv">Riri</Name>
    </NodeName>
    <SortOrder>44</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Hornstulls Strand 3, 117 39 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Hornstulls Strand 3, 117 39 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Modern bistro"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Modern bistro"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Riri Restaurant is a trendy neighborhood bistro in Stockholm that focuses on offering a modern and innovative dining experience. The menu is inspired by Japanese cuisine with a Western twist, featuring dishes like sushi, sashimi, and other Asian delicacies. The restaurant has a sleek and minimalist design, creating a relaxing atmosphere for both lunch and dinner. Riri is the perfect spot for those who appreciate creative flavors and a pleasant ambiance.]]></Value>
      <Value Culture="sv"><![CDATA[Riri Restaurant är en trendig kvarterskrog i Stockholm som fokuserar på att erbjuda en modern och innovativ matupplevelse. Menyn är inspirerad av det japanska köket med en västerländsk twist, där rätter som sushi, sashimi och andra asiatiska delikatesser står i centrum. Restaurangen har en stilren och minimalistisk inredning som skapar en avkopplande atmosfär för både lunch och middag. Riri är en perfekt plats för dem som uppskattar kreativa smaker och en trevlig miljö.
]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "3d8170e1-dd59-4eea-8fc6-68c162c2df58",
    "mediaKey": "58a64f73-6739-44f4-9e5d-33f6910ea293",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "65e9748a-42c5-45b5-9f78-95517114bba8",
    "mediaKey": "4e7f2b77-412b-4b0a-8d88-277e04fa221f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "e41c8e89-8f09-46c7-b2cb-1d9ce693f649",
    "mediaKey": "4fa447e3-092f-4049-b579-143d7576c652",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "9722f257-bf64-492b-b27c-9fb839945c70",
    "mediaKey": "58a64f73-6739-44f4-9e5d-33f6910ea293",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "901e2e17-0e8f-4747-a493-22a06690ee7b",
    "mediaKey": "035c8b84-323d-40ee-809d-378d19ba8d72",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "bb0b819f-ceeb-451e-9e15-de97170fbdfd",
    "mediaKey": "c725a670-0a4c-4faf-b634-07295679f692",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "fc2aecf5-56ca-452d-957a-3c5d10b84da6",
    "mediaKey": "b9962fc6-6bc2-4190-b28c-18d6f56a759a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[riri, modern bistro, modern, bistro, modern mat, avslappnad mat, casual dining, bistro, moderna restauranger, modern dining, Scandinavian twist, kreativ mat, unika smaker,]]></Value>
      <Value Culture="sv"><![CDATA[riri, modern bistro, modern, bistro, modern mat, avslappnad mat, casual dining, bistro, moderna restauranger, modern dining, Scandinavian twist, kreativ mat, unika smaker,]]></Value>
    </keywords>
    <latitud>
      <Value><![CDATA[59.315397275551824]]></Value>
    </latitud>
    <longitud>
      <Value><![CDATA[18.03056249594101]]></Value>
    </longitud>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Riri Restaurant is a trendy neighborhood bistro in Stockholm offering Japanese-inspired cuisine with a modern twist in a minimalist setting.]]></Value>
      <Value Culture="sv"><![CDATA[Riri Restaurant är en trendig kvarterskrog i Stockholm som erbjuder japanskinspirerad mat med en modern twist i en minimalistisk miljö.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Riri]]></Value>
      <Value Culture="sv"><![CDATA[Riri]]></Value>
    </restaurantName>
    <seoTitle>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Riri]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Riri]]></Value>
    </seoTitle>
  </Properties>
</Content>