<?xml version="1.0" encoding="utf-8"?>
<Content Key="c4cdb0eb-1504-458f-b00e-109083c0378e" Alias="Savant" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Savant</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-24T18:30:52</CreateDate>
    <NodeName Default="Savant">
      <Name Culture="en-US">Savant</Name>
      <Name Culture="sv">Savant</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Tegnérgatan 4, 113 58 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Tegnérgatan 4, 113 58 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Wine bars"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Vinbarer"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Savant Bar in Stockholm is a cozy wine bar with a focus on sustainability and natural wines. By day, it's a café, and in the evening, it transforms into a lively neighborhood bar. Guests can enjoy a carefully curated wine list paired with small plates such as charcuterie and cheese. Savant has won several awards for its natural wine selection.]]></Value>
      <Value Culture="sv"><![CDATA[Savant Bar i Stockholm är en mysig vinbar med fokus på hållbarhet och naturviner. På dagen fungerar den som café och förvandlas sedan till en livlig kvartersbar på kvällen. Här kan du njuta av en noggrant utvald vinlista tillsammans med små rätter som charcuterier och ost. Savant har vunnit flera utmärkelser för sin naturliga vinlista.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "dbd5cc68-1f24-4bb2-8546-31b4f640b50e",
    "mediaKey": "b31a6fb5-4bda-4801-82ad-18250860f0b1",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "9622414f-46d8-4a8e-a7b8-343b034554c8",
    "mediaKey": "b31a6fb5-4bda-4801-82ad-18250860f0b1",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "7e9cc2a8-503a-4d6d-959f-75c85530fb59",
    "mediaKey": "4387038d-cda8-47ea-8078-b29706eb3f40",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "924b974a-0e02-4632-b3fd-7d7adaddf597",
    "mediaKey": "c7f66798-f144-46be-81d7-74e29f3cc9ad",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "cd4cfcd8-afb9-433e-9c60-18724e06e5bb",
    "mediaKey": "e62a494c-11ce-4140-8cc4-e690c20fa4c0",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "6aaad46f-28d9-477b-a887-20bb70c069b8",
    "mediaKey": "7c8213e0-dea2-49e9-b4e6-aba8c6d51ae9",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "86447ceb-5795-4bb1-bfc4-a08a98050dc8",
    "mediaKey": "ab4429e6-658e-46a6-9476-380d452af8ca",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[savant, sav, vin, vinbar, vinbarer, vin bar, vin barer, wine, winebar, winebars, wine bar, wine bars, vin och mat, wine and food,cozy wine bar,  vinprovning, wine tasting, mysig vinbar, exklusiva viner, vinprovning, wine list, vinlista
]]></Value>
      <Value Culture="sv"><![CDATA[savant, sav, vin, vinbar, vinbarer, vin bar, vin barer, wine, winebar, winebars, wine bar, wine bars, vin och mat, wine and food,cozy wine bar,  vinprovning, wine tasting, mysig vinbar, exklusiva viner, vinprovning, wine list, vinlista, 
]]></Value>
    </keywords>
    <latitud>
      <Value><![CDATA[59.34080]]></Value>
    </latitud>
    <longitud>
      <Value><![CDATA[18.06332]]></Value>
    </longitud>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Discover Savant – a wine bar for connoisseurs with carefully selected wines and knowledgeable staff. Perfect for wine enthusiasts seeking unique tasting experiences.]]></Value>
      <Value Culture="sv"><![CDATA[Upptäck Savant – en vinbar för finsmakare med noggrant utvalda viner och kunnig personal. Perfekt för vinentusiaster i jakt på unika smakupplevelser.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Savant]]></Value>
      <Value Culture="sv"><![CDATA[Savant]]></Value>
    </restaurantName>
    <seoTitle>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Savant]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Savant]]></Value>
    </seoTitle>
  </Properties>
</Content>