<?xml version="1.0" encoding="utf-8"?>
<Content Key="c4cdb0eb-1504-458f-b00e-109083c0378e" Alias="Savant" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Start/Restauranger/Savant</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-24T18:30:52</CreateDate>
    <NodeName Default="Savant">
      <Name Culture="en-US">Savant</Name>
      <Name Culture="sv">Savant</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">test</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[testgatan 44]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Wine bars"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Vinbarer"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "0f0e5678-9f2a-4f48-9ca3-d3889d1899a9",
    "mediaKey": "7498af62-0cab-4c09-8723-8debe2dd110f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[Savant]]></Value>
    </restaurantName>
  </Properties>
</Content>