<?xml version="1.0" encoding="utf-8"?>
<Content Key="ebe23c45-8782-4768-a8e9-d85918afb550" Alias="Slipen" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Slipen</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-30T12:53:14</CreateDate>
    <NodeName Default="Slipen">
      <Name Culture="sv">Slipen</Name>
    </NodeName>
    <SortOrder>29</SortOrder>
    <Published Default="false">
      <Published Culture="sv">false</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">test</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="sv"><![CDATA[Beckholmsvägen 26, 115 21 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="sv"><![CDATA[[
  "Fine dining"
]]]></Value>
    </category>
    <description>
      <Value Culture="sv"><![CDATA[Slipen är en nordisk bistro belägen på Djurgården, känd för sin rustika och moderna twist på klassiska rätter. Menyn erbjuder ett brett urval av säsongsbaserade rätter med fokus på hållbarhet och lokala råvaror. Den avslappnade atmosfären gör Oaxen Slip till en favorit bland både lokalbor och besökare.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "a4ae683f-bd8b-457b-8ee5-e963f654450f",
    "mediaKey": "35465abc-3234-43d1-89b9-8e87b07315df",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <restaurantName>
      <Value Culture="sv"><![CDATA[Slipen]]></Value>
    </restaurantName>
  </Properties>
</Content>