<?xml version="1.0" encoding="utf-8"?>
<Content Key="ebe23c45-8782-4768-a8e9-d85918afb550" Alias="Slipen" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Slipen</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-30T12:53:14</CreateDate>
    <NodeName Default="Slipen">
      <Name Culture="en-US">Slipen</Name>
      <Name Culture="sv">Slipen</Name>
    </NodeName>
    <SortOrder>29</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Beckholmsvägen 26, 115 21 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Beckholmsvägen 26, 115 21 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Fine dining"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Fine dining"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Slipen is a Nordic bistro located on Djurgården, known for its rustic and modern twist on classic dishes. The menu offers a wide selection of seasonal dishes with a focus on sustainability and local ingredients. The relaxed atmosphere makes Oaxen Slip a favorite among locals and visitors alike.]]></Value>
      <Value Culture="sv"><![CDATA[Slipen är en nordisk bistro belägen på Djurgården, känd för sin rustika och moderna twist på klassiska rätter. Menyn erbjuder ett brett urval av säsongsbaserade rätter med fokus på hållbarhet och lokala råvaror. Den avslappnade atmosfären gör Oaxen Slip till en favorit bland både lokalbor och besökare.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "a4ae683f-bd8b-457b-8ee5-e963f654450f",
    "mediaKey": "35465abc-3234-43d1-89b9-8e87b07315df",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "d80fe71c-b6d9-4ea3-ab7b-34b28d910d6a",
    "mediaKey": "197ccafc-f9ce-4643-a956-35bb8032fff0",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "94e48a39-6581-4242-a4aa-0f0e2faa4f74",
    "mediaKey": "62d5b6b9-c32f-4d3f-a607-bcee4ad162cb",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "42a561b2-0bd0-427e-bcdd-8060467d19d8",
    "mediaKey": "289691e2-0436-41be-a475-7231c738e719",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "94ef6424-7586-4970-be09-4bf53a16fbff",
    "mediaKey": "c7871257-d1e7-4c50-b735-20a2f84aba03",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "50dfa86c-640c-4ab2-93b9-e3f30b2f7115",
    "mediaKey": "fb704c97-a3d5-4b28-9c4b-db91bf5c70cd",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "b7e67d7b-aa68-4c81-b66f-4de9db9a0239",
    "mediaKey": "35465abc-3234-43d1-89b9-8e87b07315df",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[slip, slipen, fine, fine dining, dining, exklusiv mat, elegant mat, avsmakningsmeny, tasting menu, fine food, elegant dining, nordiska smaker, Scandinavian cuisine, Nordic food, modern nordisk mat, fine dining , romantic restaurang, romantic dinner]]></Value>
      <Value Culture="sv"><![CDATA[slip, slipen, fine, fine dining, dining, exklusiv mat, elegant mat, avsmakningsmeny, tasting menu, fine food, elegant dining, nordiska smaker, Scandinavian cuisine, Nordic food, modern nordisk mat, fine dining , romantic restaurang, romantic dinner]]></Value>
    </keywords>
    <latitud>
      <Value><![CDATA[59.3224171]]></Value>
    </latitud>
    <longitud>
      <Value><![CDATA[18.1015583]]></Value>
    </longitud>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Discover Slipen - a charming archipelago restaurant that offers a menu inspired by the sea and seasonal ingredients. Perfect for a relaxed meal by the water with a great view.]]></Value>
      <Value Culture="sv"><![CDATA[Upptäck Slipen – en charmig skärgårdsrestaurang som erbjuder en meny inspirerad av havet och säsongens råvaror. Perfekt för en avslappnad måltid vid vattnet med fantastisk utsikt.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Slipen]]></Value>
      <Value Culture="sv"><![CDATA[Slipen]]></Value>
    </restaurantName>
    <seoTitle>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Slipen]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Slipen]]></Value>
    </seoTitle>
  </Properties>
</Content>