<?xml version="1.0" encoding="utf-8"?>
<Content Key="689e05d7-425a-4a7c-bdd9-c473c6876611" Alias="Sök" Level="2">
  <Info>
    <Parent Key="4f572d85-7466-499d-a481-f8315629bc7e">Hem</Parent>
    <Path>/Hem/Sok</Path>
    <Trashed>false</Trashed>
    <ContentType>search</ContentType>
    <CreateDate>2024-10-30T13:50:06</CreateDate>
    <NodeName Default="Sök">
      <Name Culture="en-US">Search</Name>
      <Name Culture="sv">Sök</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="906dc921-12e2-4e45-9f07-f252a033ef00">search</Template>
  </Info>
  <Properties>
    <title>
      <Value Culture="en-US"><![CDATA[Search results]]></Value>
      <Value Culture="sv"><![CDATA[Sökresultat]]></Value>
    </title>
  </Properties>
</Content>