<?xml version="1.0" encoding="utf-8"?>
<Content Key="b47f3ac2-ad55-42a5-8291-f687d86e8725" Alias="Stallmästaregården" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Stallmastaregarden</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-24T20:10:42</CreateDate>
    <NodeName Default="Stallmästaregården">
      <Name Culture="en-US">Stallmästaregården</Name>
      <Name Culture="sv">Stallmästaregården</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Norrtull, Stallmästaregården, 113 47 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Norrtull, Stallmästaregården, 113 47 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Swedish classics"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Svenska klassiker"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Stallmästaregården, founded in the 17th century, is a historic restaurant and inn by Brunnsviken in Stockholm. Known for its classic Swedish cuisine and idyllic setting, it has attracted royalty and cultural figures for centuries. With its unique blend of history and gastronomy, Stallmästaregården is an iconic part of Stockholm’s cultural heritage.]]></Value>
      <Value Culture="sv"><![CDATA[Stallmästaregården, grundad på 1600-talet, är en historisk restaurang och värdshus vid Brunnsviken i Stockholm. Känd för sin klassiska svenska mat och idylliska miljö har den lockat kungligheter och kulturpersonligheter i århundraden. Med sin unika kombination av historia och gastronomi är Stallmästaregården en ikonisk del av Stockholms kulturarv.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "d2c470a5-8458-4290-8e67-b1382ec33a2f",
    "mediaKey": "a351469f-294a-41f8-9425-3f0dd98106d6",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "03611160-2abd-4823-b74a-6a45635b1e38",
    "mediaKey": "5c985766-0cc3-4960-aca0-f4cb64756160",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "7f783aa5-1407-443a-a1d7-b56e3f8c870d",
    "mediaKey": "9a23d3cf-63a6-4bbf-b7f0-8ea44b13b4ac",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "f1bf1b00-11a1-41ad-bb4b-18f0d6533cdd",
    "mediaKey": "8b93b2d1-6e17-40cb-8d49-d6d9b0271a13",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "6ef7b84e-d014-47ce-a7eb-95f819bde87d",
    "mediaKey": "21011339-bd6c-4eab-b1fd-31cfea9a6f57",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "38c64dea-8f0c-4030-8ac9-007cf143b107",
    "mediaKey": "62bff59a-5495-4acd-9dc8-59720417ad1f",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "22fd349f-7892-4c1f-a172-1c921e138998",
    "mediaKey": "5bece0dd-f28a-4ab6-8a1e-2815e635799a",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Stallmästaregården]]></Value>
      <Value Culture="sv"><![CDATA[Stallmästaregården]]></Value>
    </restaurantName>
  </Properties>
</Content>