<?xml version="1.0" encoding="utf-8"?>
<Content Key="b47f3ac2-ad55-42a5-8291-f687d86e8725" Alias="Stallmästaregården" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Stallmastaregarden</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-24T20:10:42</CreateDate>
    <NodeName Default="Stallmästaregården">
      <Name Culture="en-US">Stallmästaregården</Name>
      <Name Culture="sv">Stallmästaregården</Name>
    </NodeName>
    <SortOrder>9</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Norrtull, Stallmästaregården, 113 47 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Norrtull, Stallmästaregården, 113 47 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Swedish classics"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Svenska klassiker"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Stallmästaregården, founded in the 17th century, is a historic restaurant and inn by Brunnsviken in Stockholm. Known for its classic Swedish cuisine and idyllic setting, it has attracted royalty and cultural figures for centuries. With its unique blend of history and gastronomy, Stallmästaregården is an iconic part of Stockholm’s cultural heritage.]]></Value>
      <Value Culture="sv"><![CDATA[Stallmästaregården, grundad på 1600-talet, är en historisk restaurang och värdshus vid Brunnsviken i Stockholm. Känd för sin klassiska svenska mat och idylliska miljö har den lockat kungligheter och kulturpersonligheter i århundraden. Med sin unika kombination av historia och gastronomi är Stallmästaregården en ikonisk del av Stockholms kulturarv.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "2cad56f5-fff2-46d3-a67f-ca6cbb684b3c",
    "mediaKey": "a6fddefb-338d-455f-8378-4ae6421480de",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "edcd19b6-9a6f-4a6a-a80d-20eebc452d2a",
    "mediaKey": "61bf281a-b387-48fb-bb55-6f347900ca7a",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "046c1833-1153-4831-a86c-7ec564ec871f",
    "mediaKey": "9550f259-fd24-44f9-b40e-a1e0736e389f",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "5bad61f5-88f7-4586-9077-3fa83f131470",
    "mediaKey": "268c420e-a006-4d5d-ab75-1307ff1e0b53",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "187eeae9-bae7-4828-b913-e3e66fdd0701",
    "mediaKey": "7d50f6ab-a859-461e-92b6-935994d7072f",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "047cac6c-0ff0-4e50-aefc-194271675c23",
    "mediaKey": "cedd3352-e9bc-4c0d-b260-31227cc24a44",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "77a0b413-e496-4711-add5-5451c366361a",
    "mediaKey": "2684a302-ff62-42dc-a95d-abc6f54a2ad7",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[stallmästaregården, stall, stallmästare, stallgården, stallmastaregarden, stallmastare, stallgarden, svenska, svenska klassiker, klassiker, swedish, swedish classics, classics]]></Value>
      <Value Culture="sv"><![CDATA[stallmästaregården, stall, stallmästare, stallgården, stallmastaregarden, stallmastare, stallgarden, svenska, svenska klassiker, klassiker, swedish, swedish classics, classics]]></Value>
    </keywords>
    <latitud>
      <Value><![CDATA[59.35203]]></Value>
    </latitud>
    <longitud>
      <Value><![CDATA[18.04324]]></Value>
    </longitud>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Visit Stallmästaregården – a historic 17th-century restaurant by Brunnsviken, Stockholm. Known for classic Swedish cuisine in an idyllic setting.]]></Value>
      <Value Culture="sv"><![CDATA[Besök Stallmästaregården – en historisk restaurang från 1600-talet vid Brunnsviken, Stockholm. Känd för klassisk svensk mat i idyllisk miljö.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Stallmästaregården]]></Value>
      <Value Culture="sv"><![CDATA[Stallmästaregården]]></Value>
    </restaurantName>
    <title>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Stallmästaregården]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Stallmästaregården]]></Value>
    </title>
  </Properties>
</Content>