<?xml version="1.0" encoding="utf-8"?>
<Content Key="4f572d85-7466-499d-a481-f8315629bc7e" Alias="Start" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Start</Path>
    <Trashed>false</Trashed>
    <ContentType>start</ContentType>
    <CreateDate>2024-10-14T10:25:09</CreateDate>
    <NodeName Default="Start">
      <Name Culture="en-US">Home</Name>
      <Name Culture="sv">Start</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="4e5e8c3a-a56e-43c5-b502-da12be8995b8">start</Template>
  </Info>
  <Properties>
    <heading>
      <Value Culture="en-US"><![CDATA[this is a test heading]]></Value>
      <Value Culture="sv"><![CDATA[Test rubrik]]></Value>
    </heading>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[This is a description of startpage]]></Value>
      <Value Culture="sv"><![CDATA[Det här är en beskrivning av startsidan]]></Value>
    </metaDescription>
    <title>
      <Value Culture="en-US"><![CDATA[Fork&Knife | Home]]></Value>
      <Value Culture="sv"><![CDATA[Fork&Knife | Hem]]></Value>
    </title>
  </Properties>
</Content>