<?xml version="1.0" encoding="utf-8"?>
<Content Key="17ff78cf-051e-4b30-8657-b01fc501fd48" Alias="Sturehof" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Sturehof</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-24T20:18:46</CreateDate>
    <NodeName Default="Sturehof">
      <Name Culture="en-US">Sturehof</Name>
      <Name Culture="sv">Sturehof</Name>
    </NodeName>
    <SortOrder>12</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Stureplan 2, 114 35 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Stureplan 2, 114 35 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Swedish classics"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Svenska klassiker"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Sturehof, founded in 1897, is one of Stockholm’s most iconic restaurants, located at Stureplan. Known for its focus on seafood and Swedish-French cuisine, the restaurant is a popular meeting place for both locals and visitors. With its vibrant atmosphere and long history, Sturehof is a landmark on Stockholm’s culinary scene.]]></Value>
      <Value Culture="sv"><![CDATA[Sturehof, grundad 1897, är en av Stockholms mest ikoniska restauranger, belägen vid Stureplan. Känd för sitt fokus på fisk och skaldjur samt svensk-fransk mat, är restaurangen en populär mötesplats för både stockholmare och besökare. Med sin livliga atmosfär och långa historia är Sturehof ett landmärke på Stockholms matscen.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "2b4bb9af-b7b0-43c3-a070-9b1513c34042",
    "mediaKey": "db13ae2e-1c3f-4a67-ac74-9798395ab8cc",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "54ff9863-1a39-4d10-84f4-bf28d16fea84",
    "mediaKey": "1488fb5e-e9db-4532-8373-6e487d793e5b",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "87e7ea72-1caa-4573-b88b-a9daf70eb51d",
    "mediaKey": "83c9fc87-0b67-4f9c-83ec-abed142b6fda",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "152f40fc-3a94-4ca6-b7ff-7b3c7ab54d25",
    "mediaKey": "6c87d21f-8037-45c7-af19-82a7efc164c4",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "2c45c45a-22ce-41cc-a4cd-5f66c9ac0c93",
    "mediaKey": "3553117c-9a4c-4d00-bcc3-7a4fcca0901c",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "3500c251-268e-486a-8f98-54f21cb6b484",
    "mediaKey": "7f256235-0a27-44d7-879a-185af13a3c6e",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "1eacac54-f991-4950-bdce-7e47e0a0bb1e",
    "mediaKey": "0493ce6c-a06b-41d2-8880-0b87e6b143c8",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[sture, sturehof, stur, svenska klassiker, klassiker, Swedish, Swedish classics, classics]]></Value>
      <Value Culture="sv"><![CDATA[sture, sturehof, stur, svenska klassiker, klassiker, Swedish, Swedish classics, classics]]></Value>
    </keywords>
    <latitud>
      <Value><![CDATA[59.33597]]></Value>
    </latitud>
    <longitud>
      <Value><![CDATA[18.07332]]></Value>
    </longitud>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Experience Sturehof at Stureplan – an iconic restaurant since 1897, known for seafood and Swedish-French cuisine in a vibrant setting.]]></Value>
      <Value Culture="sv"><![CDATA[Upplev Sturehof vid Stureplan – en ikonisk restaurang sedan 1897, känd för fisk, skaldjur och svensk-fransk mat i livlig miljö.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Sturehof]]></Value>
      <Value Culture="sv"><![CDATA[Sturehof]]></Value>
    </restaurantName>
    <title>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Sturehof]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Sturehof]]></Value>
    </title>
  </Properties>
</Content>