<?xml version="1.0" encoding="utf-8"?>
<Content Key="17ff78cf-051e-4b30-8657-b01fc501fd48" Alias="Sturehof" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Sturehof</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-24T20:18:46</CreateDate>
    <NodeName Default="Sturehof">
      <Name Culture="en-US">Sturehof</Name>
      <Name Culture="sv">Sturehof</Name>
    </NodeName>
    <SortOrder>12</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Stureplan 2, 114 35 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Stureplan 2, 114 35 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Swedish classics"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Svenska klassiker"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Sturehof, founded in 1897, is one of Stockholm’s most iconic restaurants, located at Stureplan. Known for its focus on seafood and Swedish-French cuisine, the restaurant is a popular meeting place for both locals and visitors. With its vibrant atmosphere and long history, Sturehof is a landmark on Stockholm’s culinary scene.]]></Value>
      <Value Culture="sv"><![CDATA[Sturehof, grundad 1897, är en av Stockholms mest ikoniska restauranger, belägen vid Stureplan. Känd för sitt fokus på fisk och skaldjur samt svensk-fransk mat, är restaurangen en populär mötesplats för både stockholmare och besökare. Med sin livliga atmosfär och långa historia är Sturehof ett landmärke på Stockholms matscen.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "2b4bb9af-b7b0-43c3-a070-9b1513c34042",
    "mediaKey": "db13ae2e-1c3f-4a67-ac74-9798395ab8cc",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "5deae50a-8b98-4e20-831f-811572a246d4",
    "mediaKey": "1488fb5e-e9db-4532-8373-6e487d793e5b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "05ef137c-7f53-4e1a-9be4-cbbf645df794",
    "mediaKey": "83c9fc87-0b67-4f9c-83ec-abed142b6fda",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "23069b17-6aa2-4759-8fa7-7821b9f1eb1f",
    "mediaKey": "6c87d21f-8037-45c7-af19-82a7efc164c4",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "2ca48f6d-be9e-441e-9988-fc6353add6b8",
    "mediaKey": "3553117c-9a4c-4d00-bcc3-7a4fcca0901c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "2bb40c8d-01f9-44b4-92a8-8fb8b9f6128a",
    "mediaKey": "7f256235-0a27-44d7-879a-185af13a3c6e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "66b03e14-6c66-416c-a386-11b0d7f0f587",
    "mediaKey": "0493ce6c-a06b-41d2-8880-0b87e6b143c8",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[sture, sturehof, stur, svenska, svenska klassiker, klassiker, Swedish, Swedish classics, classics, svensk mat, traditionell mat, svensk husmanskost, husmanskost, Swedish food, traditional Swedish cuisine, classic Stockholm dining, traditionell restaurang, casual, svenska rätter, Swedish dish, lyxmat, exclusive food]]></Value>
      <Value Culture="sv"><![CDATA[sture, sturehof, stur, svenska, svenska klassiker, klassiker, Swedish, Swedish classics, classics, svensk mat, traditionell mat, svensk husmanskost, husmanskost, Swedish food, traditional Swedish cuisine, classic Stockholm dining, traditionell restaurang, casual, svenska rätter, Swedish dish, lyxmat, exclusive food]]></Value>
    </keywords>
    <latitud>
      <Value><![CDATA[59.33597]]></Value>
    </latitud>
    <longitud>
      <Value><![CDATA[18.07332]]></Value>
    </longitud>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Experience Sturehof at Stureplan – an iconic restaurant since 1897, known for seafood and Swedish-French cuisine in a vibrant setting.]]></Value>
      <Value Culture="sv"><![CDATA[Upplev Sturehof vid Stureplan – en ikonisk restaurang sedan 1897, känd för fisk, skaldjur och svensk-fransk mat i livlig miljö.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Sturehof]]></Value>
      <Value Culture="sv"><![CDATA[Sturehof]]></Value>
    </restaurantName>
    <seoTitle>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Sturehof]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Sturehof]]></Value>
    </seoTitle>
  </Properties>
</Content>