<?xml version="1.0" encoding="utf-8"?>
<Content Key="17ff78cf-051e-4b30-8657-b01fc501fd48" Alias="Sturehof" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Sturehof</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-24T20:18:46</CreateDate>
    <NodeName Default="Sturehof">
      <Name Culture="en-US">Sturehof</Name>
      <Name Culture="sv">Sturehof</Name>
    </NodeName>
    <SortOrder>12</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Stureplan 2, 114 35 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Stureplan 2, 114 35 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Swedish classics"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Svenska klassiker"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Sturehof, founded in 1897, is one of Stockholm’s most iconic restaurants, located at Stureplan. Known for its focus on seafood and Swedish-French cuisine, the restaurant is a popular meeting place for both locals and visitors. With its vibrant atmosphere and long history, Sturehof is a landmark on Stockholm’s culinary scene.]]></Value>
      <Value Culture="sv"><![CDATA[Sturehof, grundad 1897, är en av Stockholms mest ikoniska restauranger, belägen vid Stureplan. Känd för sitt fokus på fisk och skaldjur samt svensk-fransk mat, är restaurangen en populär mötesplats för både stockholmare och besökare. Med sin livliga atmosfär och långa historia är Sturehof ett landmärke på Stockholms matscen.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "4b241889-9e0e-4db3-8966-680c788f0082",
    "mediaKey": "bab5235d-51a6-4310-bced-742dc76dc48e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "a7bf8ee9-9052-4bc0-aa9e-98eafeee6cc4",
    "mediaKey": "546d9f26-dc6c-412c-a304-ae42c8a18bb5",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "78bd37d6-c6ea-42f3-9385-aaed75a678fd",
    "mediaKey": "0b29ff8a-025e-4374-9c55-5644841f7c62",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "9cfb7248-dd94-4755-b7e2-e2ca5556e983",
    "mediaKey": "82117a4a-f42f-4b88-8b4e-ff2fdca480b1",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "84cd844a-550d-4271-9750-c155436a6042",
    "mediaKey": "bab5235d-51a6-4310-bced-742dc76dc48e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "39bf53b4-0b32-49b0-8cb2-2b31627ffbfd",
    "mediaKey": "2de488b3-643e-45b4-9c84-fa4737f1cc70",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "f8295364-b633-401a-b4fe-a0e3313cbf2e",
    "mediaKey": "bfb5a7fe-6331-4967-9f41-73127ce4bc86",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Sturehof]]></Value>
      <Value Culture="sv"><![CDATA[Sturehof]]></Value>
    </restaurantName>
  </Properties>
</Content>