<?xml version="1.0" encoding="utf-8"?>
<Content Key="73f7f4eb-5ca8-45db-b7bf-8d2b1d68c792" Alias="Surfers" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Surfers</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-24T19:04:20</CreateDate>
    <NodeName Default="Surfers">
      <Name Culture="en-US">Surfers</Name>
      <Name Culture="sv">Surfers</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">false</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[tjohogatan 132]]></Value>
      <Value Culture="sv"><![CDATA[tjohogatan 132]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Modern bistro"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Modern bistro"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "52f2af96-e189-47e6-a186-af5178020796",
    "mediaKey": "88b11e49-413a-4ba2-b5d5-f6226a29af0a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </metaDescription>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Surfers]]></Value>
      <Value Culture="sv"><![CDATA[Surfers]]></Value>
    </restaurantName>
    <title>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>