<?xml version="1.0" encoding="utf-8"?>
<Content Key="4c15c2e8-692e-46d8-af92-e75acab164a7" Alias="Surfers" Level="3">
  <Info>
    <Parent Key="53d9e71f-dd0c-4a9b-9470-5222d97dc6ed">Slideshow</Parent>
    <Path>/Hem/Slideshow/Surfers</Path>
    <Trashed>false</Trashed>
    <ContentType>slideshowPage</ContentType>
    <CreateDate>2024-10-22T22:12:32</CreateDate>
    <NodeName Default="Surfers">
      <Name Culture="en-US">Surfers</Name>
      <Name Culture="sv">Surfers</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <altText>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </altText>
    <button>
      <Value Culture="en-US"><![CDATA[To restaurant]]></Value>
      <Value Culture="sv"><![CDATA[Till restaurangen]]></Value>
    </button>
    <image>
      <Value Culture="en-US"><![CDATA[[
  {
    "key": "e65365a2-d636-4b37-a6f4-c3eaa869954d",
    "mediaKey": "4ebe66e1-948c-4858-98e3-b91bc8b2816c",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  {
    "key": "ac0a95d8-35c6-42be-9e3d-ff59ad6fae20",
    "mediaKey": "4ebe66e1-948c-4858-98e3-b91bc8b2816c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <link>
      <Value Culture="en-US"><![CDATA[[
  {
    "name": null,
    "target": null,
    "udi": "umb://document/7242ec4c21304fd0b836fb074c886ad1",
    "url": null,
    "queryString": null
  }
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  {
    "name": null,
    "target": null,
    "udi": "umb://document/7242ec4c21304fd0b836fb074c886ad1",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </link>
  </Properties>
</Content>