<?xml version="1.0" encoding="utf-8"?>
<Content Key="4c15c2e8-692e-46d8-af92-e75acab164a7" Alias="Surfers" Level="3">
  <Info>
    <Parent Key="53d9e71f-dd0c-4a9b-9470-5222d97dc6ed">Slideshow</Parent>
    <Path>/Hem/Slideshow/Surfers</Path>
    <Trashed>false</Trashed>
    <ContentType>slideshowPage</ContentType>
    <CreateDate>2024-10-22T22:12:32</CreateDate>
    <NodeName Default="Surfers">
      <Name Culture="en-US">Surfers</Name>
      <Name Culture="sv">Surfers</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <altText>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </altText>
    <button>
      <Value Culture="en-US"><![CDATA[To restaurant]]></Value>
      <Value Culture="sv"><![CDATA[Till restaurangen]]></Value>
    </button>
    <image>
      <Value Culture="en-US"><![CDATA[[
  {
    "key": "f9ff5a8e-b228-4962-9621-0cf2a75969ad",
    "mediaKey": "f9dd422a-6518-4f53-9b2b-fdb4fa1ea3dd",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  {
    "key": "b3553e7a-c438-4e39-acbd-ea75198dc7f2",
    "mediaKey": "f9dd422a-6518-4f53-9b2b-fdb4fa1ea3dd",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <link>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </link>
  </Properties>
</Content>