<?xml version="1.0" encoding="utf-8"?>
<Content Key="7242ec4c-2130-4fd0-b836-fb074c886ad1" Alias="Surfers" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Surfers</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-11-04T15:15:19</CreateDate>
    <NodeName Default="Surfers">
      <Name Culture="en-US">Surfers</Name>
      <Name Culture="sv">Surfers</Name>
    </NodeName>
    <SortOrder>37</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Norrlandsgatan 24, 111 43 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Norrlandsgatan 24, 111 43 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Modern bistro"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Modern bistro"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Surfers is a neighborhood bistro in Stockholm that offers a relaxed and vibrant atmosphere with a focus on healthy, seasonal dishes. Inspired by surf culture, the restaurant features a menu that includes everything from breakfast to lunch, including fresh smoothies and creative dishes. The cozy environment makes it a perfect place to hang out with friends or family.]]></Value>
      <Value Culture="sv"><![CDATA[Surfers är en kvarterskrog i Stockholm som erbjuder en avslappnad och livlig atmosfär med fokus på hälsosamma, säsongsbetonade rätter. Med inspiration från surfkulturen har restaurangen en meny som inkluderar allt från frukost till lunch, inklusive färska smoothies och kreativa rätter. Den gemytliga miljön gör det till en perfekt plats för att umgås med vänner eller familj.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "77ab30d4-f78a-4056-9844-b29196d1a766",
    "mediaKey": "0d1f707c-4513-4618-aa65-f074a19c25bc",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "a18f20d4-ed00-4233-a74f-c31408fa45c1",
    "mediaKey": "0d1f707c-4513-4618-aa65-f074a19c25bc",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "f4ea11c9-ea01-46bc-b5ab-c1b54ff9da50",
    "mediaKey": "58a98133-7c9a-4044-b61b-f92560e35f67",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "3b89a01b-78a9-4db8-b4b0-3cd32f28c32a",
    "mediaKey": "76e37c89-8688-47b1-82ac-ceebd39dfe7e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "c6632038-5b08-4de7-a788-477f1004c106",
    "mediaKey": "b598f9d9-37db-4ec6-aeef-b051bd43fb96",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "d3e8267c-f1c9-4931-a86c-c379338f8321",
    "mediaKey": "ce198845-1097-423b-991d-509bbabbb96a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "dea70e1d-e685-4fcf-baf5-566cd73020fc",
    "mediaKey": "305bb297-1ad0-4657-a44e-b393cb6dbe8d",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[surfers, surfer, modern bistro, modern, bistro, modern mat, avslappnad mat, casual dining, bistro, moderna restauranger, modern dining, Scandinavian twist, kreativ mat, unika smaker, asiatisk mat, asiatisk fusion, Asian food, modern Asian, spicy dishes, asian, asiatisk

]]></Value>
      <Value Culture="sv"><![CDATA[surfers, surfer, modern bistro, modern, bistro, modern mat, avslappnad mat, casual dining, bistro, moderna restauranger, modern dining, Scandinavian twist, kreativ mat, unika smaker, asiatisk mat, asiatisk fusion, Asian food, modern Asian, spicy dishes, asian, asiatisk
]]></Value>
    </keywords>
    <latitud>
      <Value><![CDATA[59.33590439448162]]></Value>
    </latitud>
    <longitud>
      <Value><![CDATA[18.071235084292546]]></Value>
    </longitud>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Surfers is a neighborhood bistro in Stockholm with a relaxed atmosphere that focuses on healthy, seasonal dishes inspired by surf culture.]]></Value>
      <Value Culture="sv"><![CDATA[Surfers är en kvarterskrog i Stockholm med en avslappnad atmosfär som fokuserar på hälsosamma, säsongsbetonade rätter inspirerade av surfkulturen.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Surfers]]></Value>
      <Value Culture="sv"><![CDATA[Surfers]]></Value>
    </restaurantName>
    <seoTitle>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Surfers]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Surfers]]></Value>
    </seoTitle>
  </Properties>
</Content>