<?xml version="1.0" encoding="utf-8"?>
<Content Key="05526b21-e899-413b-8519-ad7639e02081" Alias="Svenska klassiker" Level="3">
  <Info>
    <Parent Key="ca4a87b9-250a-4b77-9a1e-751aaadc0b8a">Kategorier</Parent>
    <Path>/Start/Kategorier/SvenskaKlassiker</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2024-10-21T13:27:46</CreateDate>
    <NodeName Default="Svenska klassiker">
      <Name Culture="en-US">Swedish classics</Name>
      <Name Culture="sv">Svenska klassiker</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="ad165113-16c8-46f3-955e-3451d0767057">category</Template>
  </Info>
  <Properties>
    <displayName>
      <Value Culture="en-US"><![CDATA[Swedish classics]]></Value>
      <Value Culture="sv"><![CDATA[Svenska klassiker]]></Value>
    </displayName>
    <image>
      <Value><![CDATA[[
  {
    "key": "78f93633-dba0-488a-918f-d63c04af4787",
    "mediaKey": "73e966e8-e143-4c84-9618-b305df437815",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Discover Swedish classics at Fork&Knife – a collection of traditional dishes and restaurants with authentic Swedish flavors. Perfect for those craving classic Swedish cuisine!]]></Value>
      <Value Culture="sv"><![CDATA[Upptäck svenska klassiker på Fork&Knife – en samling traditionella rätter och restauranger med äkta svensk smak. Perfekt för dig som söker klassisk husmanskost!]]></Value>
    </metaDescription>
    <title>
      <Value Culture="en-US"><![CDATA[Fork&Knife | Swedish classics]]></Value>
      <Value Culture="sv"><![CDATA[Fork&Knife | Svenska klassiker]]></Value>
    </title>
  </Properties>
</Content>