<?xml version="1.0" encoding="utf-8"?>
<Content Key="7559a6df-e331-4b98-a66a-9cb8eca45c8d" Alias="Svenska klassiker" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/SvenskaKlassiker</Path>
    <Trashed>true</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2024-10-23T19:21:49</CreateDate>
    <NodeName Default="Svenska klassiker">
      <Name Culture="en-US">Swedish classics</Name>
      <Name Culture="sv">Svenska klassiker</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayName>
      <Value Culture="en-US"><![CDATA[Swedish classics]]></Value>
      <Value Culture="sv"><![CDATA[Svenska klassiker]]></Value>
    </displayName>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
  </Properties>
</Content>