<?xml version="1.0" encoding="utf-8"?>
<Content Key="05526b21-e899-413b-8519-ad7639e02081" Alias="Svenska klassiker" Level="3">
  <Info>
    <Parent Key="ca4a87b9-250a-4b77-9a1e-751aaadc0b8a">Kategorier</Parent>
    <Path>/Hem/Kategorier/SvenskaKlassiker</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2024-10-21T13:27:46</CreateDate>
    <NodeName Default="Svenska klassiker">
      <Name Culture="en-US">Swedish classics</Name>
      <Name Culture="sv">Svenska klassiker</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="ad165113-16c8-46f3-955e-3451d0767057">category</Template>
  </Info>
  <Properties>
    <description>
      <Value Culture="en-US"><![CDATA[Swedish classics offer traditional dishes with authentic flavors and rich history, from home-style cooking to iconic national dishes.]]></Value>
      <Value Culture="sv"><![CDATA[Svenska klassiker erbjuder traditionella svenska rätter med genuina smaker och rik historia, från husmanskost till ikoniska maträtter.]]></Value>
    </description>
    <displayName>
      <Value Culture="en-US"><![CDATA[Swedish classics]]></Value>
      <Value Culture="sv"><![CDATA[Svenska klassiker]]></Value>
    </displayName>
    <image>
      <Value><![CDATA[[
  {
    "key": "b2182891-5490-45cf-88e0-947f6eda493b",
    "mediaKey": "42188fa1-489e-4cba-a88d-57fe23ad7718",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Discover Swedish classics at The Fork & Glass – a collection of traditional dishes and restaurants with authentic Swedish flavors. Perfect for those craving classic Swedish cuisine!]]></Value>
      <Value Culture="sv"><![CDATA[Upptäck svenska klassiker på Gaffeln & Glaset – en samling traditionella rätter och restauranger med äkta svensk smak. Perfekt för dig som söker klassisk husmanskost!]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <seoTitle>
      <Value Culture="en-US"><![CDATA[The Fork & Glass | Swedish classics]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Svenska klassiker]]></Value>
    </seoTitle>
  </Properties>
</Content>