<?xml version="1.0" encoding="utf-8"?>
<Content Key="15bd289f-a403-40af-9b4a-a9f7741c88b2" Alias="Tennstopet" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Tennstopet</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-24T20:08:53</CreateDate>
    <NodeName Default="Tennstopet">
      <Name Culture="en-US">Tennstopet</Name>
      <Name Culture="sv">Tennstopet</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Dalagatan 50, 113 24 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Dalagatan 50, 113 24 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Swedish classics"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Svenska klassiker"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Tennstopet, founded in 1867, is a classic restaurant in Stockholm, known for its traditional Swedish cuisine and authentic atmosphere. The restaurant has long been a popular meeting place for cultural figures, writers, and artists. With its rustic and timeless interior, Tennstopet is a beloved institution on Stockholm's culinary scene.]]></Value>
      <Value Culture="sv"><![CDATA[Tennstopet, grundat 1867, är en klassisk restaurang i Stockholm, känd för sin traditionella svenska mat och genuina atmosfär. Restaurangen har länge varit en populär mötesplats för kulturpersonligheter, författare och konstnärer. Med sitt rustika och tidlösa inre är Tennstopet en älskad institution på Stockholms mat scen.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "d41e901c-cbb8-4f93-acd3-6c447dd4b416",
    "mediaKey": "a23e856e-3880-42d7-8a45-5cee5eb63119",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "bf943c33-fcd4-48d2-8714-2e383a296e88",
    "mediaKey": "cbef3f8e-de4b-43dc-8ce0-d897a6000877",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "9dce80df-5fc6-4c90-897b-b3c3e6bdc268",
    "mediaKey": "78660160-75c7-47cc-8268-4e7e528c7ff7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "6eab91c9-b648-4ecf-8063-95cfd8d9cc7b",
    "mediaKey": "4525fb49-c74f-455c-80a5-8fec87ee9e6c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "21faa57e-b762-46ac-8ef7-ad777c4d7332",
    "mediaKey": "e0819a6b-bfb8-414d-9d5c-e4dec4d0f543",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "e0e8137b-031e-43d9-9b09-6a00cb1beb11",
    "mediaKey": "352d3f27-fb20-4168-ba4d-82fa4b624a7c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "9ddc9464-2350-44e3-95c2-f2bf6c21bf92",
    "mediaKey": "61045920-dc82-457f-8845-4c0cf4c03f25",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[tennstopet, tenn, stopet, svenska, svenska klassiker, klassiker, Swedish, Swedish classics, classics, svensk mat, traditionell mat, svensk husmanskost, husmanskost, Swedish food, traditional Swedish cuisine, classic Stockholm dining, traditionell restaurang, ]]></Value>
      <Value Culture="sv"><![CDATA[tennstopet, tenn, stopet, svenska, svenska klassiker, klassiker, Swedish, Swedish classics, classics, svensk mat, traditionell mat, svensk husmanskost, husmanskost, Swedish food, traditional Swedish cuisine, classic Stockholm dining, traditionell restaurang, 
]]></Value>
    </keywords>
    <latitud>
      <Value><![CDATA[59.34196]]></Value>
    </latitud>
    <longitud>
      <Value><![CDATA[18.04559]]></Value>
    </longitud>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Experience Tennstopet – a classic Stockholm restaurant since 1867, offering traditional Swedish cuisine and an authentic atmosphere. A staple on the city’s dining scene.]]></Value>
      <Value Culture="sv"><![CDATA[Upplev Tennstopet – en klassisk Stockholmsrestaurang från 1867 med traditionell svensk mat och genuin atmosfär. En institution på stadens matscen.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Tennstopet]]></Value>
      <Value Culture="sv"><![CDATA[Tennstopet]]></Value>
    </restaurantName>
    <seoTitle>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Tennstopet]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Tennstopet]]></Value>
    </seoTitle>
  </Properties>
</Content>