<?xml version="1.0" encoding="utf-8"?>
<Content Key="15bd289f-a403-40af-9b4a-a9f7741c88b2" Alias="Tennstopet" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Tennstopet</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-24T20:08:53</CreateDate>
    <NodeName Default="Tennstopet">
      <Name Culture="en-US">Tennstopet</Name>
      <Name Culture="sv">Tennstopet</Name>
    </NodeName>
    <SortOrder>8</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Dalagatan 50, 113 24 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Dalagatan 50, 113 24 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Swedish classics"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Svenska klassiker"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Tennstopet, founded in 1867, is a classic restaurant in Stockholm, known for its traditional Swedish cuisine and authentic atmosphere. The restaurant has long been a popular meeting place for cultural figures, writers, and artists. With its rustic and timeless interior, Tennstopet is a beloved institution on Stockholm's culinary scene.]]></Value>
      <Value Culture="sv"><![CDATA[Tennstopet, grundat 1867, är en klassisk restaurang i Stockholm, känd för sin traditionella svenska mat och genuina atmosfär. Restaurangen har länge varit en populär mötesplats för kulturpersonligheter, författare och konstnärer. Med sitt rustika och tidlösa inre är Tennstopet en älskad institution på Stockholms mat scen.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "c39d1589-6b36-4c0e-86f4-8332df538ce7",
    "mediaKey": "c368169e-26cf-4227-8c71-fa8c69cee9dc",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "7f1f8701-ac2f-49dd-ad6a-835dd8f2109a",
    "mediaKey": "157d6932-5665-4455-9ef5-0e370a00523a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "71686c98-5869-4a81-9f35-0b94bc3ab9d7",
    "mediaKey": "ec0d07b2-caa4-4942-a909-b0dd0faa15dc",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "93ccdbfd-0ec1-4573-9572-52d130ba07c1",
    "mediaKey": "f2e175f5-c2a1-4b9d-9ad4-f54a689eda2d",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "6edf626b-a986-4293-a6f8-f8f6d8fcacf7",
    "mediaKey": "b33aa8b1-b444-4965-9347-3d20a88624a5",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "02b485de-ca39-42ee-a246-c75efca0a002",
    "mediaKey": "8d4bf089-9bd0-4cdf-aafa-75780159a13b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "c94ccab9-22f6-4457-becf-65eead2b5ab9",
    "mediaKey": "152319d5-e27e-46bd-9791-52ab3258cdc9",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Tennstopet]]></Value>
      <Value Culture="sv"><![CDATA[Tennstopet]]></Value>
    </restaurantName>
  </Properties>
</Content>