<?xml version="1.0" encoding="utf-8"?>
<Content Key="98e2f6d7-3b09-47d7-a207-715e4083a009" Alias="Tyge &amp; Sessil" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/TygeSessil</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-28T10:02:04</CreateDate>
    <NodeName Default="Tyge &amp; Sessil">
      <Name Culture="en-US">Tyge &amp; Sessil</Name>
      <Name Culture="sv">Tyge &amp; Sessil</Name>
    </NodeName>
    <SortOrder>21</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">test</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Brahegatan 4, 114 37 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Brahegatan 4, 114 37 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Wine bars"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Vinbarer"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Tyge & Sessil, a wine bar on Östermalm in Stockholm, is known for its focus on natural and biodynamic wines. Created by sommelier Maximilian Mellfors, the bar celebrates wines in their purest form, offering a relaxed setting and an ever-changing selection from small artisanal producers around the world.]]></Value>
      <Value Culture="sv"><![CDATA[Tyge & Sessil är en vinbar på Östermalm i Stockholm, känd för sitt fokus på naturliga och biodynamiska viner. Bakom konceptet står sommelieren Maximilian Mellfors, som har skapat en plats där vin i dess mest naturliga form står i centrum. Baren erbjuder en avslappnad atmosfär och ett ständigt skiftande utbud av viner från små, hantverksmässiga producenter runt om i världen. Tyge & Sessil lockar både vinentusiaster och nyfikna besökare som vill utforska det bästa inom naturligt vin.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "62c49484-5a3f-4c73-aabf-27a97064d0eb",
    "mediaKey": "c1dba9fd-3af0-4089-b175-8027ab150e3c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "3fea033e-f245-4a86-9ecb-a25fbcabd62e",
    "mediaKey": "3f606aa0-2934-4d3d-a900-1f512e57d2b1",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "8dbd2457-d0fc-47fb-a56b-80af21039945",
    "mediaKey": "a3fa2ff8-8eec-4175-9a13-7062ee81ff93",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "7fda4c74-c0d7-4784-b143-d88de32a1a91",
    "mediaKey": "f500faf7-0822-47e0-8459-595dd800edd4",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "2a3cdbf6-211f-4137-89cf-cee2d3dc2a78",
    "mediaKey": "c1dba9fd-3af0-4089-b175-8027ab150e3c",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "51ae3625-e0cd-41f0-9ae0-033d202e8aff",
    "mediaKey": "a4fa2ca3-00c4-4e37-b10d-6ffe2c52638f",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "d679aa88-af9b-442b-81d0-cd5aa15d997d",
    "mediaKey": "ca42c9ee-ccc3-4ea5-9021-5f02c9ae7e55",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Tyge & Sessil]]></Value>
      <Value Culture="sv"><![CDATA[Tyge & Sessil]]></Value>
    </restaurantName>
  </Properties>
</Content>