<?xml version="1.0" encoding="utf-8"?>
<Content Key="52a7f52a-217a-4055-9092-4a54c01a2865" Alias="Tyge &amp; Sessil" Level="3">
  <Info>
    <Parent Key="53d9e71f-dd0c-4a9b-9470-5222d97dc6ed">Slideshow</Parent>
    <Path>/Hem/Slideshow/TygeSessil</Path>
    <Trashed>false</Trashed>
    <ContentType>slideshowPage</ContentType>
    <CreateDate>2024-10-22T22:13:16</CreateDate>
    <NodeName Default="Tyge &amp; Sessil">
      <Name Culture="en-US">Tyge &amp; Sessil</Name>
      <Name Culture="sv">Tyge &amp; Sessil</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <altText>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </altText>
    <button>
      <Value Culture="en-US"><![CDATA[To restaurant]]></Value>
      <Value Culture="sv"><![CDATA[Till restaurangen]]></Value>
    </button>
    <image>
      <Value Culture="en-US"><![CDATA[[
  {
    "key": "469a7003-7be7-4f9d-999f-a2dca2065fa3",
    "mediaKey": "0fbcdb27-3c19-4313-8de0-a373a580cc03",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  {
    "key": "0bed65ca-4d8c-4956-9407-a8a995bedc56",
    "mediaKey": "f1e59956-3f33-4d36-a1ab-59e97ad3f64d",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <link>
      <Value Culture="en-US"><![CDATA[[
  {
    "name": null,
    "target": null,
    "udi": "umb://document/98e2f6d73b0947d7a207715e4083a009",
    "url": null,
    "queryString": null
  }
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  {
    "name": null,
    "target": null,
    "udi": "umb://document/98e2f6d73b0947d7a207715e4083a009",
    "url": null,
    "queryString": null
  }
]]]></Value>
    </link>
  </Properties>
</Content>