<?xml version="1.0" encoding="utf-8"?>
<Content Key="5dbfd8e5-5fb3-4af8-a2e7-134eb05bbf36" Alias="Ulla Winbladh" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/UllaWinbladh</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-24T20:12:54</CreateDate>
    <NodeName Default="Ulla Winbladh">
      <Name Culture="en-US">Ulla Winbladh</Name>
      <Name Culture="sv">Ulla Winbladh</Name>
    </NodeName>
    <SortOrder>10</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Rosendalsvägen 8, 115 21 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Rosendalsvägen 8, 115 21 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Swedish classics"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Svenska klassiker"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Ulla Winbladh, founded in 1897, is a classic restaurant located on Djurgården in Stockholm, known for its traditional Swedish home-cooked dishes served in an elegant setting. The restaurant exudes historical charm and offers a menu focused on Swedish cuisine, attracting both locals and tourists. Ulla Winbladh is a popular spot for both everyday dining and special occasions.]]></Value>
      <Value Culture="sv"><![CDATA[Ulla Winbladh, grundad 1897, är en klassisk restaurang belägen på Djurgården i Stockholm, känd för sin traditionella svenska husmanskost i en elegant miljö. Restaurangen har en historisk charm och erbjuder en meny med fokus på svenska rätter, som lockar både stockholmare och turister. Ulla Winbladh är en populär plats för både vardag och fest.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "701923a2-a37c-4094-8b92-05b6b3ae41c5",
    "mediaKey": "7dd8cb01-d73f-472d-a4e1-8ed4b2c85caf",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "e07636fa-aa94-4461-bdb8-e12484000b76",
    "mediaKey": "3ac9ddc1-fff9-449d-9691-0ccb6266b657",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "2c00c098-1561-486b-8d49-f9b9334b866f",
    "mediaKey": "21b8e9fd-3248-4ac6-a5ac-b9996f8692ca",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "70849e85-828e-430b-9225-61ffdf2c9af8",
    "mediaKey": "2f398f51-3404-41c0-a307-985b3c1576c8",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "b8e1f820-e23c-497f-8538-e6da91e82ada",
    "mediaKey": "dcb6a711-d547-49a6-81e5-196a410c8d40",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "fc1a0c1a-16ee-4521-9147-d3f4cc2dbdfb",
    "mediaKey": "406ec586-0aeb-453e-bdb1-2c333a797081",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "25f5eb91-9ef0-42e5-a98e-969433325123",
    "mediaKey": "c4dcd5bc-9e3d-481e-8776-bca29b96cf08",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[ ulla winbladh, winbladh, ulla, ulla win, svenska, svenska klassiker, klassiker, Swedish, Swedish classics, classics]]></Value>
      <Value Culture="sv"><![CDATA[ ulla winbladh, winbladh, ulla, ulla win, svenska, svenska klassiker, klassiker, Swedish, Swedish classics, classics
]]></Value>
    </keywords>
    <latitud>
      <Value><![CDATA[59.32819]]></Value>
    </latitud>
    <longitud>
      <Value><![CDATA[18.09984]]></Value>
    </longitud>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Experience Ulla Winbladh on Djurgården, a classic restaurant since 1897. Swedish home-cooked cuisine served in an elegant and historic setting.]]></Value>
      <Value Culture="sv"><![CDATA[Upplev Ulla Winbladh på Djurgården, en klassisk restaurang sedan 1897. Svensk husmanskost serverad i elegant och historisk miljö.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Ulla Winbladh]]></Value>
      <Value Culture="sv"><![CDATA[Ulla Winbladh]]></Value>
    </restaurantName>
    <title>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Ulla Winbladh]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Ulla Winbladh]]></Value>
    </title>
  </Properties>
</Content>