<?xml version="1.0" encoding="utf-8"?>
<Content Key="5306ed33-9abf-438a-8c86-c936a5529fb6" Alias="Växthuset" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Vaxthuset</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-28T10:12:06</CreateDate>
    <NodeName Default="Växthuset">
      <Name Culture="en-US">Växthuset</Name>
      <Name Culture="sv">Växthuset</Name>
    </NodeName>
    <SortOrder>25</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Address: Hammarby Slussväg 2, 118 60 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Address: Hammarby Slussväg 2, 118 60 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Wine bars"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Vinbarer"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Växthuset is a restaurant and wine bar in Stockholm that focuses on sustainability and plant-based cuisine. Inspired by seasonal ingredients, it offers a unique dining experience paired with a large selection of natural wines. Its location near the popular nightclub Trädgården and its combination of creative plant-based dishes make it a favorite among environmentally conscious food and wine lovers.]]></Value>
      <Value Culture="sv"><![CDATA[Växthuset är en restaurang och vinbar i Stockholm som fokuserar på hållbarhet och växtbaserad matlagning. Med en meny som inspireras av säsongens råvaror och ett stort utbud av naturviner, erbjuder Växthuset en unik och medveten matupplevelse. Restaurangen ligger vid Trädgården, en populär nattklubb, och bjuder på en avslappnad men modern atmosfär. Växthusets kombination av kreativ, växtbaserad mat och noggrant utvalda viner har gjort det till en favorit bland miljömedvetna mat- och vinentusiaster.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "85816d12-bd65-496c-bb34-beb17531b107",
    "mediaKey": "5ed209a1-0804-4518-b2e9-52b6412e7281",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "427eaafc-f071-43ce-9235-0b4b5c9b79b1",
    "mediaKey": "5201db56-2a08-4b7b-bfef-0a21883d5865",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "af15bba7-f293-4fc9-aa66-592fb493d447",
    "mediaKey": "5ed209a1-0804-4518-b2e9-52b6412e7281",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "1fc812c0-6b0c-4c57-84a7-efa70c012ece",
    "mediaKey": "e150d926-7c38-4569-9586-c2c6d4191551",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "65087fb0-909d-41f8-b0a8-f3cb038246bf",
    "mediaKey": "a4141907-50a2-43f3-b5d7-7004f574430a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "e7597124-c105-40d8-a5f0-e0805198a929",
    "mediaKey": "a95d1bd5-b202-4da3-b569-d5001464c9e4",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "3407b92f-f6ab-4ed3-ad0c-a46ca154b313",
    "mediaKey": "f032ed0a-46b8-4ba9-bb3d-ed1c3d472e05",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[växt, växthuset, vaxt, vaxthuset, växthus, vaxhus, vin, vinbar, vinbarer, vin bar, vin barer, wine, winebar, winebars, wine bar, wine bars, vin och mat, wine and food,cozy wine bar,  vinprovning, wine tasting, mysig vinbar, exklusiva viner, vinprovning, wine list, vinlista, romantisk restaurang, cozy dining, romantic dinner, exclusive date nightcozy wine bar, wine lovers, vin älskare, vegetarisk, vegetarian, vegan
]]></Value>
      <Value Culture="sv"><![CDATA[växt, växthuset, vaxt, vaxthuset, växthus, vaxhus, vin, vinbar, vinbarer, vin bar, vin barer, wine, winebar, winebars, wine bar, wine bars, vin och mat, wine and food,cozy wine bar,  vinprovning, wine tasting, mysig vinbar, exklusiva viner, vinprovning, wine list, vinlista, romantisk restaurang, cozy dining, romantic dinner, exclusive date nightcozy wine bar, wine lovers, vin älskare, vegetarisk, vegetarian, vegan
]]></Value>
    </keywords>
    <latitud>
      <Value><![CDATA[59.30505]]></Value>
    </latitud>
    <longitud>
      <Value><![CDATA[18.07906]]></Value>
    </longitud>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Visit Växthuset – a lush restaurant and bar focused on plant-based cuisine and sustainable drinks. Perfect for eco-conscious food lovers.]]></Value>
      <Value Culture="sv"><![CDATA[Besök Växthuset – en grönskande restaurang och bar med fokus på växtbaserad mat och hållbara drycker. Perfekt för miljömedvetna matälskare.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Växthuset]]></Value>
      <Value Culture="sv"><![CDATA[Växthuset]]></Value>
    </restaurantName>
    <seoTitle>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Växthuset]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Växthuset]]></Value>
    </seoTitle>
  </Properties>
</Content>