<?xml version="1.0" encoding="utf-8"?>
<Content Key="857da344-6645-4a69-befe-1a14c81497c3" Alias="Vina" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Start/Restauranger/Vina</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-28T10:06:47</CreateDate>
    <NodeName Default="Vina">
      <Name Culture="en-US">Vina</Name>
      <Name Culture="sv">Vina</Name>
    </NodeName>
    <SortOrder>22</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">test</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Sofiagatan 1, 116 40 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Sofiagatan 1, 116 40 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Wine bars"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Vinbarer"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Vina, located in Södermalm, Stockholm, specializes in natural and organic wines. With a carefully curated selection from small producers worldwide, it provides an authentic wine experience in a warm and intimate setting. The informal atmosphere and knowledgeable team make it a favorite for both wine enthusiasts and newcomers.]]></Value>
      <Value Culture="sv"><![CDATA[Vina är en vinbar på Södermalm i Stockholm som fokuserar på naturliga och ekologiska viner. Med ett noggrant utvalt sortiment från små producenter världen över erbjuder Vina en autentisk vinupplevelse i en varm och intim miljö. Baren är känd för sin informella atmosfär och sitt kunniga team som gärna guidar gästerna genom vinlistan. Utöver vin serverar de även enklare smårätter som kompletterar vinupplevelsen, vilket gör Vina till ett populärt ställe för både vinentusiaster och nyfikna besökare.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "08e0f5ed-02b4-40ec-8427-43babecff186",
    "mediaKey": "eda7a526-bc1c-48fd-afcf-9bbba5af5a08",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Vina]]></Value>
      <Value Culture="sv"><![CDATA[Vina]]></Value>
    </restaurantName>
  </Properties>
</Content>