<?xml version="1.0" encoding="utf-8"?>
<Content Key="857da344-6645-4a69-befe-1a14c81497c3" Alias="Vina" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Vina</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-28T10:06:47</CreateDate>
    <NodeName Default="Vina">
      <Name Culture="en-US">Vina</Name>
      <Name Culture="sv">Vina</Name>
    </NodeName>
    <SortOrder>23</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Sofiagatan 1, 116 40 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Sofiagatan 1, 116 40 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Wine bars"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Vinbarer"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Vina, located in Södermalm, Stockholm, specializes in natural and organic wines. With a carefully curated selection from small producers worldwide, it provides an authentic wine experience in a warm and intimate setting. The informal atmosphere and knowledgeable team make it a favorite for both wine enthusiasts and newcomers.]]></Value>
      <Value Culture="sv"><![CDATA[Vina är en vinbar på Södermalm i Stockholm som fokuserar på naturliga och ekologiska viner. Med ett noggrant utvalt sortiment från små producenter världen över erbjuder Vina en autentisk vinupplevelse i en varm och intim miljö. Baren är känd för sin informella atmosfär och sitt kunniga team som gärna guidar gästerna genom vinlistan. Utöver vin serverar de även enklare smårätter som kompletterar vinupplevelsen, vilket gör Vina till ett populärt ställe för både vinentusiaster och nyfikna besökare.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "08e0f5ed-02b4-40ec-8427-43babecff186",
    "mediaKey": "eda7a526-bc1c-48fd-afcf-9bbba5af5a08",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "049c7a57-9e9f-46bc-a215-590b80cc47fb",
    "mediaKey": "4a5e9dae-0189-4f65-9c90-62311e4cb878",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "516f3e7b-feae-4a3a-a38f-69cc48a9b5db",
    "mediaKey": "eda7a526-bc1c-48fd-afcf-9bbba5af5a08",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "3c66ec33-dbbb-46a6-9bbe-a537407b77e0",
    "mediaKey": "70db9f4e-6453-4403-866e-61573ae435e0",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "70777bb3-f8c7-4a16-878d-5d8f2b90cb00",
    "mediaKey": "11e4af75-36f6-410f-94ee-83663ef5171e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "17c35f94-5d76-4a96-9989-6d5d2808d7f6",
    "mediaKey": "7c0f47c1-072f-45cc-af4b-ac4f064ffe1d",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "1d503ca0-7e32-485a-9d56-f15d8438b97d",
    "mediaKey": "2477fa00-8917-49f5-82be-6a4adeb4ddfd",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[vina, vin, vinbar, vinbarer, vin bar, vin barer, wine, winebar, winebars, wine bar, wine bars
]]></Value>
      <Value Culture="sv"><![CDATA[vina, vin, vinbar, vinbarer, vin bar, vin barer, wine, winebar, winebars, wine bar, wine bars
]]></Value>
    </keywords>
    <latitud>
      <Value><![CDATA[59.31204]]></Value>
    </latitud>
    <longitud>
      <Value><![CDATA[18.08200]]></Value>
    </longitud>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Discover Vina – a cozy wine bar offering carefully selected wines and small plates. A perfect spot for relaxed evenings and new taste experiences.]]></Value>
      <Value Culture="sv"><![CDATA[Upptäck Vina – en gemytlig vinbar med noggrant utvalda viner och små rätter. En perfekt plats för avslappnade kvällar och nya smakupplevelser.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Vina]]></Value>
      <Value Culture="sv"><![CDATA[Vina]]></Value>
    </restaurantName>
    <title>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Vina]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Vina]]></Value>
    </title>
  </Properties>
</Content>