<?xml version="1.0" encoding="utf-8"?>
<Content Key="eb189c33-55ad-43c1-b898-bdde76c230a1" Alias="Vinbarer" Level="3">
  <Info>
    <Parent Key="ca4a87b9-250a-4b77-9a1e-751aaadc0b8a">Kategorier</Parent>
    <Path>/Start/Kategorier/Vinbarer</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2024-10-21T13:32:44</CreateDate>
    <NodeName Default="Vinbarer">
      <Name Culture="en-US">Wine bars</Name>
      <Name Culture="sv">Vinbarer</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayName>
      <Value Culture="en-US"><![CDATA[Wine bars]]></Value>
      <Value Culture="sv"><![CDATA[Vinbarer]]></Value>
    </displayName>
    <image>
      <Value><![CDATA[]]></Value>
    </image>
  </Properties>
</Content>