<?xml version="1.0" encoding="utf-8"?>
<Content Key="eb189c33-55ad-43c1-b898-bdde76c230a1" Alias="Vinbarer" Level="3">
  <Info>
    <Parent Key="ca4a87b9-250a-4b77-9a1e-751aaadc0b8a">Kategorier</Parent>
    <Path>/Hem/Kategorier/Vinbarer</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2024-10-21T13:32:44</CreateDate>
    <NodeName Default="Vinbarer">
      <Name Culture="en-US">Wine bars</Name>
      <Name Culture="sv">Vinbarer</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="ad165113-16c8-46f3-955e-3451d0767057">category</Template>
  </Info>
  <Properties>
    <description>
      <Value Culture="en-US"><![CDATA[Wine bars focus on quality wines in relaxed settings, often paired with small plates.Wine bars focus on quality wines in relaxed settings, often paired with small plates.]]></Value>
      <Value Culture="sv"><![CDATA[Vinbarer fokuserar på kvalitetsviner i avslappnade miljöer, ofta med små rätter som komplement.]]></Value>
    </description>
    <displayName>
      <Value Culture="en-US"><![CDATA[Wine bars]]></Value>
      <Value Culture="sv"><![CDATA[Vinbarer]]></Value>
    </displayName>
    <image>
      <Value><![CDATA[[
  {
    "key": "5309b223-b2a5-4d60-9f29-49d49f1e905c",
    "mediaKey": "87a5e671-4e30-4104-be0c-aca295eb3abd",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Discover the best wine bars at The Fork & Glass – explore a curated selection of cozy spots offering exquisite wines and a perfect ambiance for wine lovers.]]></Value>
      <Value Culture="sv"><![CDATA[Upptäck de bästa vinbarerna på Gaffeln & Glaset – utforska ett urval av mysiga platser som erbjuder utsökta viner och en perfekt atmosfär för vinälskare.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <title>
      <Value Culture="en-US"><![CDATA[The Fork & Glass | Wine bars]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Vinbarer]]></Value>
    </title>
  </Properties>
</Content>