<?xml version="1.0" encoding="utf-8"?>
<Content Key="9fb0d955-f1cb-4e13-93c1-525b2ecd6cf7" Alias="Vineriet" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Vineriet</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-28T09:58:35</CreateDate>
    <NodeName Default="Vineriet">
      <Name Culture="en-US">Vineriet</Name>
      <Name Culture="sv">Vineriet</Name>
    </NodeName>
    <SortOrder>20</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Katarina Bangata 27, 116 39 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Katarina Bangata 27, 116 39 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Wine bars"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Vinbarer"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Vineriet, located in Södermalm, Stockholm, focuses on small-batch natural wines. With a relaxed atmosphere and a frequently updated wine menu, it offers a range of snacks and small plates to complement the wine experience, making it a popular spot for both enthusiasts and curious newcomers.]]></Value>
      <Value Culture="sv"><![CDATA[Vineriet är en vinbar som ligger på Södermalm i Stockholm och fokuserar på småskaligt producerade naturviner. Baren har en avslappnad atmosfär och ett varierat vinutbud, med en meny som ofta uppdateras beroende på tillgång och säsong. Vineriet erbjuder även smårätter och snacks som komplement till vinupplevelsen, vilket gör det till ett populärt ställe för både vinentusiaster och nyfikna gäster.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "27887da6-9346-48a0-bf85-2092a1193bc3",
    "mediaKey": "4dbd6d0e-0f97-40dc-ab4f-e94168872cb7",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[[
  {
    "key": "2bc45d31-4c22-45bd-b3a0-f2a097b05ec8",
    "mediaKey": "4dbd6d0e-0f97-40dc-ab4f-e94168872cb7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "3b7ecbdf-ba99-4071-a501-8e172d2441da",
    "mediaKey": "daf29b28-dae0-4b25-9333-4154f068b3e3",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "b3305a46-92dd-43bf-9a36-ae77b401a156",
    "mediaKey": "a207d0cc-7b3c-42b5-bcdc-f313459e741d",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "15ce0ceb-d561-49d0-bb2d-081135a273db",
    "mediaKey": "747edb9d-d0a2-497b-b1ee-7b2373d58bab",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "850c7f6a-28af-4874-a67b-ab7e39f3e69a",
    "mediaKey": "90a0164d-3d2a-4a3b-a020-0ea8f197fa4f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "85839802-9bcd-4dbe-a254-54a92cef2862",
    "mediaKey": "0bcf4daa-6a00-4197-be04-fe1771c8b57b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[vineri, vineriet, vin, vinbar, vinbarer, vin bar, vin barer, wine, winebar, winebars, wine bar, wine bars
]]></Value>
      <Value Culture="sv"><![CDATA[vineri, vineriet, vin, vinbar, vinbarer, vin bar, vin barer, wine, winebar, winebars, wine bar, wine bars
]]></Value>
    </keywords>
    <latitud>
      <Value><![CDATA[59.34700]]></Value>
    </latitud>
    <longitud>
      <Value><![CDATA[18.05960]]></Value>
    </longitud>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[Visit Vineriet – a wine bar with carefully selected wines and a welcoming ambiance. Perfect for wine lovers looking to explore new flavors.]]></Value>
      <Value Culture="sv"><![CDATA[Besök Vineriet – en vinbar med omsorgsfullt utvalda viner och en inbjudande atmosfär. Perfekt för vinälskare som vill utforska nya smaker.]]></Value>
    </metaDescription>
    <metaRobots>
      <Value Culture="en-US"><![CDATA[[
  "index, follow"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "index, follow"
]]]></Value>
    </metaRobots>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Vineriet]]></Value>
      <Value Culture="sv"><![CDATA[Vineriet]]></Value>
    </restaurantName>
    <seoTitle>
      <Value Culture="en-US"><![CDATA[Gaffeln & Glaset | Vineriet]]></Value>
      <Value Culture="sv"><![CDATA[Gaffeln & Glaset | Vineriet]]></Value>
    </seoTitle>
  </Properties>
</Content>