<?xml version="1.0" encoding="utf-8"?>
<Content Key="9fb0d955-f1cb-4e13-93c1-525b2ecd6cf7" Alias="Vineriet" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/Vineriet</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-28T09:58:35</CreateDate>
    <NodeName Default="Vineriet">
      <Name Culture="en-US">Vineriet</Name>
      <Name Culture="sv">Vineriet</Name>
    </NodeName>
    <SortOrder>20</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">true</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">test</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Katarina Bangata 27, 116 39 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Katarina Bangata 27, 116 39 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Wine bars"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Vinbarer"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Vineriet, located in Södermalm, Stockholm, focuses on small-batch natural wines. With a relaxed atmosphere and a frequently updated wine menu, it offers a range of snacks and small plates to complement the wine experience, making it a popular spot for both enthusiasts and curious newcomers.]]></Value>
      <Value Culture="sv"><![CDATA[Vineriet är en vinbar som ligger på Södermalm i Stockholm och fokuserar på småskaligt producerade naturviner. Baren har en avslappnad atmosfär och ett varierat vinutbud, med en meny som ofta uppdateras beroende på tillgång och säsong. Vineriet erbjuder även smårätter och snacks som komplement till vinupplevelsen, vilket gör det till ett populärt ställe för både vinentusiaster och nyfikna gäster.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "4a123015-ebb0-4ce8-9200-a441fe6dfaab",
    "mediaKey": "861170de-2b11-4c4d-9473-bfa5cb593762",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Vineriet]]></Value>
      <Value Culture="sv"><![CDATA[Vineriet]]></Value>
    </restaurantName>
  </Properties>
</Content>