<?xml version="1.0" encoding="utf-8"?>
<Content Key="ed81adcb-6c4f-499f-bfcb-a6daf8b0cee9" Alias="Wedholms Fisk" Level="3">
  <Info>
    <Parent Key="7a2e320f-c6c4-48ac-935d-e63469d4bdf4">Restauranger</Parent>
    <Path>/Hem/Restauranger/WedholmsFisk</Path>
    <Trashed>false</Trashed>
    <ContentType>restaurant</ContentType>
    <CreateDate>2024-10-30T12:54:14</CreateDate>
    <NodeName Default="Wedholms Fisk">
      <Name Culture="en-US">Wedholms Fisk</Name>
      <Name Culture="sv">Wedholms Fisk</Name>
    </NodeName>
    <SortOrder>30</SortOrder>
    <Published Default="true">
      <Published Culture="en-US">false</Published>
      <Published Culture="sv">true</Published>
    </Published>
    <Schedule />
    <Template Key="103594b1-819f-4a90-8b22-c232d3570ec4">restaurant</Template>
  </Info>
  <Properties>
    <address>
      <Value Culture="en-US"><![CDATA[Nybrokajen 17, 111 48 Stockholm]]></Value>
      <Value Culture="sv"><![CDATA[Nybrokajen 17, 111 48 Stockholm]]></Value>
    </address>
    <category>
      <Value Culture="en-US"><![CDATA[[
  "Fine dining"
]]]></Value>
      <Value Culture="sv"><![CDATA[[
  "Fine dining"
]]]></Value>
    </category>
    <description>
      <Value Culture="en-US"><![CDATA[Wedholms Fisk is a classic fish and seafood restaurant with a focus on pure flavors and high-quality ingredients. Generous portions of perfectly prepared fish dishes are served here in an elegant and timeless environment. With its long history, the restaurant is a safe choice for seafood lovers.]]></Value>
      <Value Culture="sv"><![CDATA[Wedholms Fisk är en klassisk fisk- och skaldjursrestaurang med fokus på rena smaker och högkvalitativa råvaror. Här serveras generösa portioner av perfekt tillagade fiskrätter i en elegant och tidlös miljö. Med sin långa historia är restaurangen ett säkert val för älskare av fisk och skaldjur.]]></Value>
    </description>
    <frontImage>
      <Value><![CDATA[[
  {
    "key": "68b5ee39-dbfb-4841-8888-c94f3d5b12ac",
    "mediaKey": "c1fa164b-d73d-43f2-a18f-0d4defc4bb56",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </frontImage>
    <images>
      <Value><![CDATA[]]></Value>
    </images>
    <keywords>
      <Value Culture="en-US"><![CDATA[wedholm, wedholms, wedholms fisk, fisk, wedholm fisk, fine, fine dining, dining]]></Value>
      <Value Culture="sv"><![CDATA[wedholm, wedholms, wedholms fisk, fisk, wedholm fisk, fine, fine dining, dining]]></Value>
    </keywords>
    <metaDescription>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </metaDescription>
    <restaurantName>
      <Value Culture="en-US"><![CDATA[Wedholms Fisk]]></Value>
      <Value Culture="sv"><![CDATA[Wedholms Fisk]]></Value>
    </restaurantName>
    <title>
      <Value Culture="en-US"><![CDATA[]]></Value>
      <Value Culture="sv"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>